USE [RegReportDB_Prod]
GO
/****** Object:  StoredProcedure [dbo].[SP_MIFID2_NPD_TRAX]    Script Date: 5/13/2026 4:52:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER   PROCEDURE [dbo].[SP_MIFID2_NPD_TRAX] (@StartDate DATE)

AS

/********************************************************************************************
Author:      Katy F
Date:        2018-11-07
Description: INSERT INTO MIFID2_NPD_TRAX FOR TRAX SFTP UPLOAD 
 
**************************
** Change History
**************************
Date           Author       Description   
----------    ----------   ------------------------------------
2019-02-13     Katy F       Add workaround for Cyrillic letters I & Ё while not Accepted in TRAX
2019-04-21     Katy F       Add Regulation Change to NEW NPDs
2019-08-21     Katy F       Add RegulationID to #ids in order to identify NEW customers per Regulation
2019-08-26     Katy F       Add failed 
2022-05-29	   Nir W		Added RegulationID to join in #exist_all. Excluded RegulationID=0 from #new. Filter AcceptedTRAX in #failed.
2022-09-04	   Nir W		Added RegChange logic DSR-2273 (#MIFID2_Customer_All)
2024-10-23     Davidsi      DSR-7703 Exclude Testing CIDs from all our RegTech reports - through Fivetran file
2025-05-05     Davidsi      DSR-8482 Dev - TRAX NPD files: NationalID is populated as NULL instead of populating the CONCAT field.
*********************************************************************************************/

BEGIN

--DECLARE @StartDate DATE = '20191126'

--DELETE FROM [dbo].[MIFID2_NPD_TRAX]
--WHERE ReportDate = @StartDate

DROP TABLE IF EXISTS #ids
select CID,RegulationID, MAX(ReportDate) As ReportDate
INTO #ids
FROM MIFID2_NPD_TRAX
GROUP BY CID, RegulationID--, Entity,TraxAccount

CREATE CLUSTERED INDEX #ci_ids ON #ids (CID)


---- Handle Failed ------


DROP TABLE IF EXISTS #failed

SELECT a.ReportDate
		,a.[CID]
		,CASE WHEN c.Entity = 'EU' THEN 1 ELSE 2 END AS [ReportTypeID]
		,c.Entity
		,c.RegulationID
		,c.[AccountTypeID]
		,c.[IDType]	
		,a.PIN_Type 
		,c.[OrigPINType]	
		,a.PIN_LEI 
		,c.[PIN]
		,a.[NotAllowedCONCAT]
 		,c.MessageID
		,c.Action 
		,c.InternalCode
		,c.ExpiryDate
		,c.EffectiveFromDate
		,c.ExecutingEntity
		,c.CountryofBranch
		,c.LEI
		,c.LEIType
		,c.NaturalPersonType
		,c.BusinessUnit
		,c.ContactEmail
		,c.ParentOfCollectiveInvestmentSchemeStatus
		,a.Country
		,c.CountryofNationality
		,CASE WHEN UPPER(a.PIN_Type) LIKE '%PASSPORT%' THEN a.PIN_LEI ELSE '' END AS PassportNumber
		,c.PassportNumber AS OrigPassportNumber
		,ISNULL(CASE WHEN UPPER(a.PIN_Type) <>'CONCAT' AND UPPER(a.PIN_Type) NOT LIKE '%PASSPORT%' THEN a.PIN_LEI ELSE '' END,'') AS NationalID
		,c.NationalID AS OrigNationalID
		,c.[CONCAT]
		,REPLACE(REPLACE(a.FirstName,N'І',N'I'),N'Ё',N'Е') AS FirstName
		,c.FirstNames
		,REPLACE(REPLACE(a.LastName,N'І',N'I'),N'Ё',N'Е') AS LastName
		,c.Surnames
		,CONVERT(char(10), a.BirthDate,126)  AS BirthDate
		,c.DateofBirth
		,NULL [AcceptedTRAX]
		,CAST(NULL AS VARCHAR (200)) [ErrorDescription]
		,NULL [DateFixedTRAX]
		,NULL AS [RowNum]
		,c.TraxAccount
		,CASE WHEN (a.FirstName = '' OR a.LastName = '') 
				OR ((UNICODE(a.FirstName)  BETWEEN 11904 and 65279 OR UNICODE(a.FirstName)  BETWEEN 65520 AND 65533) 
					OR (UNICODE(a.LastName)  BETWEEN 11904 and 65279 OR UNICODE(a.LastName)  BETWEEN 65520 AND 65533)) 
			 THEN 1 ELSE 0 END AS NonLatinOrEmptyName     
INTO #failed 
FROM MIFID2_Customer a 
	JOIN #ids b ON a.CID = b.CID 
	JOIN MIFID2_NPD_TRAX c ON b.CID=c.CID AND b.RegulationID = c.RegulationID AND b.ReportDate = c.ReportDate
where a.RegulationID = 0 
and (c.AcceptedTRAX=0 or c.AcceptedTRAX is null) /*20220529 only failed record (=last recond per CID)*/
AND (CountryofNationality  <>Country
		OR FirstNames<> FirstName
		OR Surnames<>LastName
		OR DateofBirth<>BirthDate
		OR ISNULL(CASE WHEN UPPER(a.PIN_Type) <>'CONCAT' AND UPPER(a.PIN_Type) NOT LIKE '%PASSPORT%' THEN a.PIN_LEI ELSE '' END,'') <> c.NationalID
		OR ISNULL(CASE WHEN UPPER(a.PIN_Type) LIKE '%PASSPORT%' THEN a.PIN_LEI ELSE '' END,'') <> ISNULL(c.PassportNumber,'')
		)
 
 -- 558
 CREATE CLUSTERED INDEX #XI_failed ON #failed (CID)

/*** REG IN-OUT DSR-2273 08-2022 ***/
/*
RegChange 0 = didnt move between regulations
RegChange 1 = change regulation inside MIFID, EU to UK or UK to EU
RegChange 2 = change regulation from MIFID to another regulation
*/
-- add to all MIFID Customers customers that had an activity in MIFID and changed regulation
DROP TABLE IF EXISTS #RegChangeCusts
select distinct mr.CID,mr.RegulationID /* "RegulationID" = the "OrigRegulationID" (on trade time, not EOD) */
into #RegChangeCusts
from [dbo].[MIFID2_Report] mr
where
	mr.ReportDate = @StartDate
	and mr.RegChange in (1,2) --only regulation change customers

DROP TABLE IF EXISTS #MIFID2_RegChange_Customer_Data
select distinct reg.CID,reg.RegulationID
	,isnull(mc.Country,rc.Country) as Country
	,isnull(mc.FirstName,rc.FirstName) as FirstName
	,isnull(mc.LastName,rc.LastName) as LastName
	,isnull(mc.BirthDate,rc.BirthDate) as BirthDate
	,isnull(mc.PIN_Type,rc.PIN_Type) as PIN_Type
	,isnull(mc.PIN_LEI,rc.PIN_LEI) as PIN_LEI
	,isnull(mc.IDType,rc.IDType) as IDType
	,isnull(mc.NotAllowedCONCAT,rc.NotAllowedCONCAT) as NotAllowedCONCAT
	,isnull(mc.AccountTypeID,rc.AccountTypeID) as AccountTypeID
	,CASE WHEN isnull(mc.AccountTypeID,rc.AccountTypeID) NOT IN (2,9) OR coalesce(exc.Lei,excReg.Lei,ia.LEI) IS NULL THEN
		CASE WHEN reg.RegulationID = 1 THEN 'EU'
			WHEN reg.RegulationID = 2 THEN 'UK'
			ELSE NULL 
		END
	END as TraxEntity
	,CASE WHEN isnull(mc.AccountTypeID,rc.AccountTypeID) NOT IN (2,9) OR coalesce(exc.Lei,excReg.Lei,ia.LEI) IS NULL THEN
		CASE WHEN reg.RegulationID = 1 THEN '800388'
			WHEN reg.RegulationID = 2 THEN '800389'
			ELSE NULL 
		END
	END as TraxAccount
into #MIFID2_RegChange_Customer_Data
from #RegChangeCusts reg
	left join [dbo].[MIFID2_Customer] mc (nolock) on reg.CID=mc.CID --moved inside mifid
	left join [dbo].[MIFID2_RegChange_Customer] rc (nolock) on reg.CID=rc.CID --activity in mifid but moved to another regulation
	left join [dbo].[MIFID2_ext_Customer] exc on exc.CID=reg.CID
	left join [dbo].[MIFID2_ext_RegChange_Customer] excReg on excReg.CID=reg.CID
	left join [dbo].[InternalAccounts] ia ON ia.CID = reg.CID

-- select * from #MIFID2_RegChange_Customer_Data
-- select * from [dbo].[MIFID2_RegChange_Customer]

DROP TABLE IF EXISTS #MIFID2_Customer_All
select CID,RegulationID,Country,FirstName,LastName,BirthDate,PIN_Type,PIN_LEI,IDType,NotAllowedCONCAT,AccountTypeID,TraxEntity,TraxAccount
into #MIFID2_Customer_All
from [dbo].[MIFID2_Customer]
UNION
select CID,RegulationID,Country,FirstName,LastName,BirthDate,PIN_Type,PIN_LEI,IDType,NotAllowedCONCAT,AccountTypeID,TraxEntity,TraxAccount
from #MIFID2_RegChange_Customer_Data

CREATE CLUSTERED INDEX #CIX_Customer_All ON #MIFID2_Customer_All (CID)
--CREATE NONCLUSTERED INDEX #IX_RegulationID_Customer_All ON #MIFID2_Customer_All (RegulationID)
-----------------------------------------------------------------

--- New Combinations ---
DROP TABLE IF EXISTS #new
SELECT a.CID, 'NEWM' AS Action 
INTO #new 
FROM #MIFID2_Customer_All a
	LEFT JOIN #ids b
		ON a.CID = b.CID AND a.RegulationID = b.RegulationID
	--LEFT JOIN MIFID2_NPD_TRAX c 
	--	ON a.CID = c.CID 
	--	AND c.ReportDate = b.ReportDate AND c.RegulationID = b.RegulationID
WHERE (a.IDType = 1
	--AND a.TraxEntity IS NOT NULL
	AND b.CID IS NULL)
	AND a.RegulationID<>0 /*20220529 exclude failed from #new*/
--OR a.RegulationID <> c.RegulationID 


---------------------------------------

-- exist


DROP TABLE IF EXISTS #exist_all

SELECT a.CID
		,Action
		,CountryofNationality
		,FirstNames AS FirstNames
		,Surnames
		,DateofBirth
		,PassportNumber
		,NationalID
		,PIN
		,AcceptedTRAX
		,Country
		,FirstName
		,LastName
		,BirthDate
		,PIN_Type
		,PIN_LEI
		,OrigPINType
		,a.Entity
		,a.TraxAccount
		,a.RegulationID
INTO #exist_all
FROM [MIFID2_NPD_TRAX] a
	JOIN #ids c ON a.CID=c.CID AND a.ReportDate = c.ReportDate AND a.RegulationID = c.RegulationID 
	JOIN #MIFID2_Customer_All b ON a.CID=b.CID AND c.RegulationID = b.RegulationID /*20220529 added RegulationID to join*/
WHERE b.RegulationID <>0


DROP TABLE IF EXISTS #exist
SELECT CID, 
CASE WHEN AcceptedTRAX = 1 THEN 'REPL' ELSE Action END AS Action
,Entity
,TraxAccount
,RegulationID
INTO #exist
FROM #exist_all
 WHERE (CountryofNationality<>Country
		OR FirstNames<> FirstName
		OR Surnames<>LastName
		OR DateofBirth<>BirthDate
		OR PIN <> ISNULL(PIN_LEI,'')
		OR PIN_Type<>ISNULL(OrigPINType,'')
		)

DROP TABLE IF EXISTS #final

SELECT 
	@StartDate AS [ReportDate]
	,a.[CID]
	,CASE WHEN COALESCE(c.Entity,TraxEntity) = 'EU' THEN 1 ELSE 2 END AS [ReportTypeID]
	,COALESCE(c.Entity,TraxEntity) AS [Entity]
	,COALESCE(c.RegulationID,a.[RegulationID]) AS RegulationID
	,[AccountTypeID]
	,[IDType]
	,PIN_Type AS [OrigPINType]
	,PIN_LEI [PIN]
	,[NotAllowedCONCAT]
	,'' AS MessageID
	,COALESCE(b.Action,c.Action) AS Action 
	,CAST(a.CID AS NVARCHAR(20)) AS InternalCode
	,'' AS ExpiryDate
	,CONVERT(char(10), '2018-01-03',126)  AS EffectiveFromDate
	,CASE WHEN COALESCE(c.Entity,TraxEntity) ='EU' THEN N'213800GIFQMSV7HROS23' ELSE N'213800FLAB1OVA8OHT72' END  AS ExecutingEntity
	,CASE WHEN COALESCE(c.Entity,TraxEntity) = 'EU' THEN 'CY' ELSE 'GB' END AS CountryofBranch
	,'' AS LEI
	,'' AS LEIType
	,N'CLNT' AS NaturalPersonType
	,'' BusinessUnit
	,'' ContactEmail
	,'' ParentOfCollectiveInvestmentSchemeStatus
	,Country AS CountryofNationality
	,CASE WHEN UPPER(PIN_Type) LIKE '%PASSPORT%' THEN PIN_LEI ELSE '' END AS PassportNumber
	,ISNULL(CASE WHEN UPPER(PIN_Type) <>'CONCAT' AND UPPER(PIN_Type) NOT LIKE '%PASSPORT%' THEN PIN_LEI ELSE '' END, '') AS NationalID
	,'' AS CONCAT
	,REPLACE(REPLACE(FirstName,N'І',N'I'),N'Ё',N'Е') AS FirstNames
	,REPLACE(REPLACE(LastName,N'І',N'I'),N'Ё',N'Е') AS Surnames
	,CONVERT(char(10), BirthDate,126)  AS DateofBirth
	,NULL [AcceptedTRAX]
	,CAST(NULL AS VARCHAR (200)) [ErrorDescription]
	,NULL [DateFixedTRAX]
	,NULL AS [RowNum]
	,COALESCE(c.TraxAccount,a.TraxAccount) AS TraxAccount
	,CASE WHEN (FirstName = '' OR LastName = '') 
			OR ((UNICODE(FirstName)  BETWEEN 11904 and 65279 OR UNICODE(FirstName)  BETWEEN 65520 AND 65533) 
				OR (UNICODE(LastName)  BETWEEN 11904 and 65279 OR UNICODE(LastName)  BETWEEN 65520 AND 65533)) 
		 THEN 1 ELSE 0 END AS NonLatinOrEmptyName
	,GETDATE() [UpdateDate]
INTO #final
FROM #MIFID2_Customer_All a 
	LEFT JOIN #new b 
		ON a.CID = b.CID
	LEFT JOIN #exist c 
		ON a.CID = c.CID 
		--AND a.TraxEntity=c.Entity
WHERE (a.IDType = 1 AND a.RegulationID <>0)
	AND a.TraxEntity IS NOT NULL
	AND (b.CID IS NOT NULL OR c.CID IS NOT NULL)

UNION 
SELECT 
@StartDate AS [ReportDate]
      ,[CID]
      ,[ReportTypeID]
      ,[Entity]
      ,[RegulationID]
      ,[AccountTypeID]
      ,[IDType]
      ,[OrigPINType]
      ,[PIN]
      ,[NotAllowedCONCAT]
      ,[MessageID]
      ,[Action]
      ,[InternalCode]
      ,[ExpiryDate]
      ,[EffectiveFromDate]
      ,[ExecutingEntity]
      ,[CountryofBranch]
      ,[LEI]
      ,[LEIType]
      ,[NaturalPersonType]
      ,[BusinessUnit]
      ,[ContactEmail]
      ,[ParentOfCollectiveInvestmentSchemeStatus]
      ,Country AS [CountryofNationality]
      ,CASE WHEN UPPER(PIN_Type) LIKE '%PASSPORT%' THEN PIN_LEI ELSE '' END AS [PassportNumber]
      ,ISNULL(CASE WHEN UPPER(PIN_Type) <>'CONCAT' AND UPPER(PIN_Type) NOT LIKE '%PASSPORT%' THEN PIN_LEI ELSE '' END, '') AS [NationalID]
      ,[CONCAT]
      ,FirstName AS [FirstNames]
      ,LastName AS [Surnames]
      ,BirthDate AS [DateofBirth]
      ,[AcceptedTRAX]
      ,NULL [ErrorDescription]
      ,NULL [DateFixedTRAX]
      ,NULL [RowNum]
      ,[TraxAccount]
      ,[NonLatinOrEmptyName]
      ,GETDATE() AS [UpdateDate]
FROM #failed


UPDATE #final
SET [AcceptedTRAX] = 0
,ErrorDescription = 'Not Sent. Invalid Name detected'
WHERE ReportDate = @StartDate
	AND NonLatinOrEmptyName = 1
	AND [AcceptedTRAX] IS NULL 


DROP TABLE IF EXISTS #rn
SELECT CID
		,ROW_NUMBER() OVER (Partition by [Entity] order by CID) AS [RowNum]
INTO #rn
FROM #final
WHERE ReportDate = @StartDate
	AND [AcceptedTRAX] IS NULL 

UPDATE a
SET [RowNum] = b.[RowNum]
FROM #final a 
	JOIN #rn b 
		ON a.CID = b.CID 
WHERE ReportDate = @StartDate
	AND [AcceptedTRAX] IS NULL 



DELETE a
FROM [dbo].[MIFID2_NPD_TRAX] a
	JOIN #final b 
		ON a.CID = b.CID 
	AND a.RegulationID = b.RegulationID
WHERE a.ReportDate = @StartDate


INSERT Into [dbo].[MIFID2_NPD_TRAX]([ReportDate]
      ,[CID]
	  ,[ReportTypeID]
      ,[Entity]
      ,[RegulationID]
      ,[AccountTypeID]
      ,[IDType]
      ,[OrigPINType]
      ,[PIN]
      ,[NotAllowedCONCAT]
      ,[MessageID]
      ,[Action]
      ,[InternalCode]
      ,[ExpiryDate]
      ,[EffectiveFromDate]
      ,[ExecutingEntity]
      ,[CountryofBranch]
      ,[LEI]
      ,[LEIType]
      ,[NaturalPersonType]
      ,[BusinessUnit]
      ,[ContactEmail]
      ,[ParentOfCollectiveInvestmentSchemeStatus]
      ,[CountryofNationality]
      ,[PassportNumber]
      ,[NationalID]
      ,[CONCAT]
      ,[FirstNames]
      ,[Surnames]
      ,[DateofBirth]
      ,[AcceptedTRAX]
      ,[ErrorDescription]
      ,[DateFixedTRAX]
      ,[RowNum]
      ,[UpdateDate]
	  ,TraxAccount
	  ,NonLatinOrEmptyName)

SELECT [ReportDate]
      ,[CID]
	  ,[ReportTypeID]
      ,[Entity]
      ,[RegulationID]
      ,[AccountTypeID]
      ,[IDType]
      ,[OrigPINType]
      ,[PIN]
      ,[NotAllowedCONCAT]
      ,[MessageID]
      ,[Action]
      ,[InternalCode]
      ,[ExpiryDate]
      ,[EffectiveFromDate]
      ,[ExecutingEntity]
      ,[CountryofBranch]
      ,[LEI]
      ,[LEIType]
      ,[NaturalPersonType]
      ,[BusinessUnit]
      ,[ContactEmail]
      ,[ParentOfCollectiveInvestmentSchemeStatus]
      ,[CountryofNationality]
      ,[PassportNumber]
      ,[NationalID]
      ,[CONCAT]
      ,[FirstNames]
      ,[Surnames]
      ,[DateofBirth]
      ,[AcceptedTRAX]
      ,[ErrorDescription]
      ,[DateFixedTRAX]
      ,[RowNum]
      ,[UpdateDate]
	  ,TraxAccount
	  ,NonLatinOrEmptyName
FROM #final f
LEFT JOIN [ThirdParty_Fivetran].[Fivetran].[regtech].[regulation_report_excluded_cids] g ON g.cid = f.CID
WHERE g.cid IS NULL


END
