USE [RegReportDB_Prod]
GO
/****** Object:  StoredProcedure [dbo].[SP_MIFID2_Customer]    Script Date: 3/10/2026 2:55:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER   PROCEDURE [dbo].[SP_MIFID2_Customer] (@StartDate DATE)
AS

/*
Date dd-mm-yyyy  Developer             Comments
------------------ --------------------- -----------------------------------------------------------------
2018-06-04			Katy F				change [Customer].[ExtendedUserField] to pull last PIN date
2018-06-04			Katy F				delete from list AccountTypeID = 2 AND PlayerLevelID = 4 which is test corp accounts
2018-10-31			Katy F				Allow '-' in PIN of FI and LV clients
2019-04-10			Katy F				Use CitizenshipCountryID if exists
2019-04-29			Katy F				Population Update
2019-08-21			Katy F				PIN_LEI Shit data in prod workaround when LEI is not null for privet 
2019-08-26			Katy F				Add failed.
2020-05-22			Ariel ka			set Regulation=10 (ASICGAML) as Regulation=4 ASIC . 
2021-11-16			arielka				set back to  using syn on synTradeFund,synCustomerCustomerLatinName,synDictionaryCountry
2022-05-31			olegAb				REPLACE SYNONYM to EXT TABLES - DSR-2364
2024-10-23          Davidsi             DSR-7703 Exclude Testing CIDs from all our RegTech reports - through Fivetran file
2025-01-08          Davidsi             DSR-6762 To Include Seychelles flow in MiFID EU procedure
2025-02-24          Davidsi             DSR-7904 ME - EU intercompany hedge flow - MiFID part 1- Insert ME regulation to MiFID EU flow
**********************************************************************************************************/

/*****************************************************************************
IMPORTANT: Label/Regulation/AccountType filter applied in SSIS package 
			Filtered out:	LabelID IN (26,30)
							AccountTypeID NOT IN (7,9) 
							RegulationID IN (1,2)
******************************************************************************/


BEGIN

--declare @StartDate date = '20211028'

DECLARE @EndDate date = DATEADD(D,1,@StartDate)

-- CONCAT NOT ALLOWED COUNTRIES
DROP TABLE IF EXISTS #no_concat
CREATE TABLE #no_concat (CountryID INT, Value INT)
INSERT INTO #no_concat 
VALUES (67,1),(95,1),(102,1),(126,1),(164,1),(191,1)
CREATE INDEX #ix_invalidcountry on  #no_concat (CountryID)

DROP TABLE IF EXISTS #cust

SELECT a.[CID]
      ,[PlayerLevelID]
      ,[PlayerStatusID]
      ,CASE WHEN COALESCE(CASE WHEN [CitizenshipCountryID] = 0 THEN CountryID ELSE [CitizenshipCountryID] END,CountryID) = 144 THEN 143
			ELSE COALESCE(CASE WHEN [CitizenshipCountryID] = 0 THEN CountryID ELSE [CitizenshipCountryID] END,CountryID) END AS CountryID   -- Use CitizenshipCountryID if exists
      ,[LabelID]
	,UPPER([dbo].[ReplaceChar](FirstName)) AS FirstName
	,UPPER([dbo].[ReplaceChar](LastName)) AS LastName
      ,[BirthDate]
      ,case when [RegulationID] in (4,10) then 4 else [RegulationID] end  [RegulationID]
      ,[AccountTypeID]
      ,[FirstTimeDepositSuccessDate]
      ,COALESCE([Lei],b.LEI) AS Lei
      ,[CountryIDByIP]
      ,[curFirstName]
      ,[curLastName]
      ,[curBirthDate]
      ,[PIN_ID]
      ,[PIN_Type]
      ,UPPER(LTRIM(RTRIM(PIN))) AS PIN 
      ,[UAPI_CountryID]
	  --,CASE WHEN PIN_Type = 'CONCAT' AND LEN(ISNULL(PIN,''))>0 THEN SUBSTRING(PIN,9,10) END AS [CONCAT]
	,CASE WHEN (UNICODE([dbo].[ReplaceChar](FirstName))  BETWEEN 11904 and 65279 OR UNICODE([dbo].[ReplaceChar](FirstName))  BETWEEN 65520 AND 65533) OR (UNICODE([dbo].[ReplaceChar](LastName))  BETWEEN 11904 and 65279 OR UNICODE([dbo].[ReplaceChar](LastName))  BETWEEN 65520 AND 65533) THEN 'Chinese' 
			WHEN (UNICODE([dbo].[ReplaceChar](FirstName)) BETWEEN 1024 and 1279 OR UNICODE([dbo].[ReplaceChar](LastName)) BETWEEN 1024 AND 1279)  THEN 'Cyrillic'
			END AS Lang
	--,CASE WHEN AccountTypeID = 9 OR b.CID IS NOT NULL OR RegulationID = 4 THEN 1 ELSE 0 END AS Internal
	,ReportDate
INTO #cust 
FROM [dbo].[MIFID2_ext_Customer] a
	LEFT JOIN [dbo].[InternalAccounts] b 
		ON a.CID = b.CID 
/*** population Update 2019-04-29 ***/
WHERE NOT (CountryID=250 -- country eToro used for test accounts
		OR (PlayerLevelID = 4 AND b.CID IS NULL) ) 

UNION 
SELECT [CID]
      ,[PlayerLevelID]
      ,[PlayerStatusID]
      ,CASE WHEN COALESCE(CASE WHEN [CitizenshipCountryID] = 0 THEN CountryID ELSE [CitizenshipCountryID] END,CountryID) = 144 THEN 143
			ELSE COALESCE(CASE WHEN [CitizenshipCountryID] = 0 THEN CountryID ELSE [CitizenshipCountryID] END,CountryID) END AS CountryID   -- Use CitizenshipCountryID if exists
      ,[LabelID]
	,UPPER([dbo].[ReplaceChar](FirstName)) AS FirstName
	,UPPER([dbo].[ReplaceChar](LastName)) AS LastName
      ,[BirthDate]
      ,NULL [RegulationID]
      ,NULL [AccountTypeID]
      ,NULL [FirstTimeDepositSuccessDate]
      ,NULL AS Lei
      ,[CountryIDByIP]
      ,[curFirstName]
      ,[curLastName]
      ,[curBirthDate]
      ,[PIN_ID]
      ,[PIN_Type]
      ,UPPER(LTRIM(RTRIM(PIN))) AS PIN 
      ,[UAPI_CountryID]
	,CASE WHEN (UNICODE([dbo].[ReplaceChar](FirstName))  BETWEEN 11904 and 65279 OR UNICODE([dbo].[ReplaceChar](FirstName))  BETWEEN 65520 AND 65533) OR (UNICODE([dbo].[ReplaceChar](LastName))  BETWEEN 11904 and 65279 OR UNICODE([dbo].[ReplaceChar](LastName))  BETWEEN 65520 AND 65533) THEN 'Chinese' 
			WHEN (UNICODE([dbo].[ReplaceChar](FirstName)) BETWEEN 1024 and 1279 OR UNICODE([dbo].[ReplaceChar](LastName)) BETWEEN 1024 AND 1279)  THEN 'Cyrillic'
			END AS Lang
	,@StartDate AS ReportDate
FROM MIFID2_Failed_TRAX
WHERE CID NOT IN (SELECT CID FROM [dbo].[MIFID2_ext_Customer] )
-- 9793 from failed
-- 13498 in customer
-- 23291 total

--PlayerStatusID <> 9 
	--AND 
	--(
	--		(FirstTimeDepositSuccessDate < @EndDate AND PlayerLevelID <> 4 AND AccountTypeID NOT IN (2,9))
	--	OR AccountTypeID = 9
	--	OR ((AccountTypeID = 2 AND PlayerLevelID <> 4 AND PlayerStatusID <> 9) OR b.CID IS NOT NULL) -- 20181023
	--	)
	


CREATE CLUSTERED INDEX #CI_custCID ON #cust (CID)
CREATE NONCLUSTERED INDEX #ix_PIN ON #cust ([PIN_Type])
INCLUDE ([CID])
CREATE NONCLUSTERED INDEX #ix_RegulationID ON #cust (RegulationID)
INCLUDE ([CID],[PIN_Type],Lang)
CREATE NONCLUSTERED INDEX #ix_Lang ON #cust (Lang)
INCLUDE ([CID])
CREATE NONCLUSTERED INDEX #ix_AccountTypeID ON #cust (AccountTypeID)



/*
http://www.ssec.wisc.edu/~tomw/java/unicode.html  UNICODE CHART LANGUAGES
*/

DROP TABLE IF EXISTS #latin
SELECT a.CID
	,UPPER([dbo].[ReplaceChar](b.FirstName)) AS FirstName
	,UPPER([dbo].[ReplaceChar](b.LastName)) AS LastName 
	,Lang
INTO #latin
FROM #cust a 
	JOIN [dbo].[Reg_Ext_CustomerLatinName] b 
		ON a.CID = b.CID
WHERE RegulationID <> 4 AND Lang IS NOT NULL

CREATE CLUSTERED INDEX #CI_latinCID ON #latin (CID)


DROP TABLE IF EXISTS #notranslation
SELECT a.CID
		,CASE WHEN a.Lang = 'Chinese'
					OR a.Lang= 'Cyrillic' --AND ISNULL(PIN_Type,'CONCAT') = 'CONCAT')
			THEN 0 ELSE 1 END AS ValidName
		,a.Lang
INTO #notranslation
FROM #cust a  
	LEFT JOIN #latin b 
		ON a.CID = b.CID
WHERE a.Lang IS NOT NULL
	AND b.CID IS NULL AND RegulationID <> 4 -- Regulation 4 (ASIC) - no need to report personal data

CREATE CLUSTERED INDEX #ci_notranslate ON #notranslation (CID)
CREATE INDEX #ix_notranslate ON #notranslation (ValidName)
INCLUDE (CID)

DROP TABLE IF EXISTS #names
SELECT CID
	,FirstName
	,LastName
	,1 AS ValidName,Lang
INTO #names
FROM #latin
UNION 
SELECT CID, NULL,NULL, ValidName,Lang
FROM #notranslation

CREATE CLUSTERED INDEX #ci_namesCID ON #names (CID)
CREATE INDEX #ix_namesValid ON #names (ValidName)
INCLUDE (CID, FirstName, LastName)


---translate names
UPDATE a
SET FirstName = b.FirstName
,LastName = b.LastName 
FROM #cust a
	  JOIN #names b ON a.CID = b.CID
	 --LEFT JOIN #no_concat c ON a.CountryID = c.CountryID
WHERE b.FirstName IS NOT NULL AND ValidName = 1 
	AND ( a.Lang = 'Chinese' --OR (SUBSTRING(ISNULL(PIN,''),9,1) = '#' OR SUBSTRING(ISNULL(PIN,''),14,1) = '#' OR LEN(ISNULL(PIN,''))=0) 
	)

	
UPDATE a
SET FirstName = CASE WHEN LEN(ISNULL(FirstName,'')) = 0 AND LEN(ISNULL(LastName,'')) > 0 THEN LastName ELSE FirstName END 
	,LastName = CASE WHEN LEN(ISNULL(LastName,'')) = 0 AND LEN(ISNULL(FirstName,'')) > 0 THEN FirstName ELSE LastName END 
FROM #cust a 
WHERE (LEN(ISNULL(FirstName,'')) = 0 AND LEN(ISNULL(LastName,'')) > 0) OR (LEN(ISNULL(LastName,'')) = 0 AND LEN(ISNULL(FirstName,'')) > 0)


/*  2019-04-29 Irrelevant - AccountTypeID = 9 not pulled to [dbo].[MIFID2_ext_Customer]
UPDATE a
SET Lei = '213800GIFQMSV7HROS23'-- CopyFund eToro
	,CountryID = 54 -- Cyprus CountryID
FROM #cust a 
WHERE AccountTypeID = 9
*/



TRUNCATE TABLE [dbo].[MIFID2_Customer]


INSERT INTO [dbo].[MIFID2_Customer] ([CID]
      ,[RegulationID]
      ,[PlayerLevelID]
      ,[CountryID]
      ,[FTD]
      ,[AccountTypeID]
      ,[Country]
      ,[CopyFund]
      ,[CopyFundName]
      ,[FundTypeID]
      ,[FundType]
      ,[IDType]
      ,PIN_Type
      ,[PIN_LEI]
      ,[BirthDate]
      ,[FirstName]
      ,[LastName]
      ,[IsUKReport]
      ,[IsEUReport]
	  ,NotAllowedCONCAT
	  ,ReportDate
	  ,TraxEntity
	  ,TraxAccount
	 )



--drop table if exists #test
	SELECT 
		ISNULL(a.CID,0) as CID
		,ISNULL(a.RegulationID,0) as RegulationID
		,ISNULL(a.PlayerLevelID,0) as PlayerLevelID
		,a.CountryID AS CountryID 
		,ISNULL(FirstTimeDepositSuccessDate, '20150426') AS FTD
		,a.AccountTypeID
	,country.Abbreviation AS Country
	,CASE WHEN funds.FundAccountID IS NOT NULL THEN 1 ELSE 0 END AS CopyFund
	,funds.FundName as CopyFundName
	,funds.FundType as FundTypeID
	,CASE WHEN FundType = 1 THEN 'People'
			WHEN FundType = 2 THEN 'Partners'
			WHEN FundType = 3 THEN 'Market'
			ELSE NULL
			END AS FundType
	,CASE WHEN a.AccountTypeID = 9 THEN 3 --CopyFund
			ELSE CASE WHEN (a.Lei IS NOT NULL AND LEN(a.Lei) = 20) OR a.AccountTypeID = 2 THEN 2 -- Corporate Client  /**** add LEI validation 20 chars ****/
					ELSE 1 -- Individual 
					END
			END AS IDType
	,CASE WHEN LEN(ISNULL(a.Lei,0)) = 20 OR ISNULL(a.AccountTypeID,0) = 2 THEN 'LEI' 
			ELSE ISNULL(a.PIN_Type,'') END AS PIN_Type
	--,CASE WHEN LEN(ISNULL(a.Lei,0)) = 20 OR a.AccountTypeID = 2 THEN UPPER(a.Lei)
	--		ELSE CASE WHEN LEN(ISNULL(PIN,''))> 0 THEN CONCAT(country.Abbreviation,PIN COLLATE Latin1_General_BIN ) 
	--		ELSE ISNULL(PIN,'') END 
	--		END AS PIN_LEI
	,CASE WHEN a.Lei IS NOT NULL AND (LEN(ISNULL(a.Lei,0)) = 20 OR ISNULL(a.AccountTypeID,0) = 2) THEN UPPER(a.Lei)
			ELSE CASE WHEN NOT (LEN(ISNULL(a.Lei,0)) = 20 OR ISNULL(a.AccountTypeID,0) = 2) AND LEN(ISNULL(PIN,''))> 0 THEN CONCAT(country.Abbreviation,PIN COLLATE Latin1_General_BIN ) 
			ELSE NULL END 
			END AS PIN_LEI  -- 20190821 shit data in prod workaround when LEI is not null for privet

	,BirthDate
		,REPLACE(REPLACE(a.FirstName,N'І',N'I'),N'Ё',N'Е') AS FirstName -- 20190822 
		,REPLACE(REPLACE(a.LastName,N'І',N'I'),N'Ё',N'Е') AS LastName -- 20190822 
	,CASE WHEN ISNULL(a.RegulationID,0) = 2 THEN 1 ELSE 0 END AS IsUKReport
		,CASE WHEN ISNULL(a.RegulationID,0) in (1,9,11) THEN 1 ELSE 0 END AS   IsEUReport
		,CASE WHEN c.CountryID IS NOT NULL THEN 1 ELSE 0 END AS NotAllowedCONCAT
		,ReportDate
		,CASE WHEN AccountTypeID NOT IN (2,9) OR a.Lei IS NULL THEN
				CASE WHEN a.RegulationID in (1,9,11) THEN 'EU'
					WHEN a.RegulationID = 2 THEN 'UK'
					ELSE NULL END
			END AS TraxEntity
		,CASE WHEN AccountTypeID NOT IN (2,9) OR a.Lei IS NULL THEN
				CASE WHEN a.RegulationID in (1,9,11) THEN '800388'
					WHEN a.RegulationID = 2 THEN '800389'
					ELSE NULL END
			END AS TraxAccount
	--into #test
	FROM #cust a with(nolock) 
		JOIN [Dictionary].[Ext_Country] country WITH(NOLOCK) 
			ON a.CountryID = country.CountryID
		LEFT JOIN [Dictionary].[Ext_TradeFund] funds WITH(NOLOCK) 
			ON a.CID=funds.FundAccountID --and funds.FundID<>152
		LEFT JOIN #no_concat c ON a.CountryID = c.CountryID
            LEFT JOIN [ThirdParty_Fivetran].[Fivetran].[regtech].[regulation_report_excluded_cids] f ON f.cid = a.CID
      WHERE f.cid IS NULL
 
END



