USE [RegReportDB_Prod]
GO
/****** Object:  StoredProcedure [dbo].[SP_MIFID2_ETORO_Report]    Script Date: 3/10/2026 2:49:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_MIFID2_ETORO_Report] @StartDate DATE

AS

/**********************************************************************************************************************************************************************
Author:      arielk
Date:        2023-09-09
Description: 
 
**************************
** Change History
**************************
Date			Author			Description   
----------		----------		------------------------------------
2024-03-20		arielka			DSR-6119 change  CommodityDerivativeIndicator
2024-04-14		NirW			DSR-5886 changed UTI (TransactionReferenceNumber) to avoid duplications: added 'H' and DateID
2024-10-23      Davidsi         DSR-7703 Exclude Testing CIDs from all our RegTech reports - through Fivetran file
2024-11-18      Davidsi         DSR-7746 Update of ALL MiFID SPs to include the updates of Brent Oil, Crude Oil and NatGas futures
2025-01-08      Davidsi         DSR-6762 To Include Seychelles flow in MiFID EU procedure
2025-01-21      Zurabja         DSR-7784 added filter for final table to exclude InstrumentIDs [ThirdParty_Fivetran].[Fivetran].[regulation].[regtech_excluded_instruments]
2025-01-21   RamaziKa      DSR-7849 added filter  exclude position_id [ThirdParty_Fivetran].[Fivetran].[regulation].[regtech_excluded_position_ids] b
2025-04-10		Zurabja			Production error, altter: LEFT(M.InstrumentFullName, 50)


**********************************************************************************************************************************************************************/

BEGIN


--DECLARE @StartDate DATE = '2024-03-19'
DECLARE @EndDate DATE = DATEADD(d,1,@StartDate)



 drop table if exists #InstrumentsFullDescription

 select 
IndexNameFullDescription,
 InstrumentID 
 into #InstrumentsFullDescription
 from (
 select  
 IndexNameFullDescription,
 InstrumentID,
 ReportDate,
 max(ReportDate)over () as  mx_ReportDate 
 from dbo.Reg_Instruments_Full_Description)m
 where ReportDate =mx_ReportDate 

drop  table  if  exists #Reg_Instruments_SCD
select  * 
into #Reg_Instruments_SCD 
from Reg_Instruments_SCD WITH (NOLOCK)
where Tradable=1 -- arielka 2020323
and @StartDate >= ValidFrom and  @StartDate< ValidTo
--and '2025-06-13' >= ValidFrom and '2025-06-13' < ValidTo


--drop table #Metadata
	---------------other tables that should be usefull------------
	drop  table  if exists #Metadata
	select 
	SCD.InstrumentID,
	SCD.InstrumentTypeID,
	SCD.BuyCurrencyID,
	SCD.SellCurrencyID,
	SCD.ISINCode,
	SCD.IsMifid,
	COALESCE(SCD.IsMifidByFCA,SCD.IsMifid) as IsMifidByFCA,
	FD.IndexNameFullDescription,
	case when SCD.InstrumentID = IMSC.InstrumentID then 
								REPLACE(IMSC.New_InstrumentDisplayName , ',', ' ') Collate Latin1_General_100_BIN
									Else REPLACE(SCD.InstrumentDisplayName, ',', ' ') end InstrumentFullName,
	case when SellCurrencyID = 666  then 1 else 0 end IsGBX,
	case when SellCurrencyID = 666 then  REPLACE (DC1.Abbreviation, 'GBX', 'GBP') 
		when SellCurrencyID = 38 then REPLACE (DC1.Abbreviation, 'CNH', 'CNY') 
		else DC1.Abbreviation END  SellAbbreviation,
	DC.Abbreviation	BuyAbbreviation 
	into  #Metadata
	--select   *
	from #Reg_Instruments_SCD SCD WITH(NOLOCK)
	LEFT JOIN [dbo].[Reg_Ext_DictionaryCurrency] DC WITH(NOLOCK)
	on DC.CurrencyID = SCD.BuyCurrencyID
	LEFT JOIN [dbo].[Reg_Ext_DictionaryCurrency] DC1 WITH(NOLOCK)
	on DC1.CurrencyID = SCD.SellCurrencyID 
	LEFT JOIN [dbo].[InstrumentMetaData_SpecialChar_Conversion] IMSC WITH (NOLOCK)
	ON SCD.InstrumentID = IMSC.InstrumentID and IMSC.ReportDate = @StartDate
	left join  #InstrumentsFullDescription FD on FD.InstrumentID = SCD.InstrumentID

	Create  Clustered index #CI_Metadata on #Metadata (InstrumentID)

-------------------------------------------

DECLARE @RowC INT = 1
DECLARE @Date DATE = @StartDate
WHILE @RowC > 0
 
BEGIN
       DELETE TOP (4000)
       FROM [dbo].MIFID2_ETORO_Report
	   WHERE [ReportDate] = @Date 
 
       SELECT @RowC = @@rowcount
END
-----------------------------------------------------------

INSERT INTO [dbo].MIFID2_ETORO_Report
(
RegulationReportID
,DateID
,ReportDate
,CID
,RegulationID
,PositionID
,InstrumentID
,OpenORClose
,BuyORSell
,IDType
,IsCopy
,CopyFund
,FundTypeID
,ReportStatus
,TransactionReferenceNumber
,TradingVenueTransactionIdentificationCode
,ExecutingEntityIdentificationCode
,InvestmentFirmCoveredBy201465EU
,BuyerIdentificationCodeType
,BuyerNPCode
,BuyerIdentificationCode
,BuyerCountryOfTheBranch
,BuyerFirstNames
,BuyerSurnames
,BuyerDateOfBirth
,BuyerDecisionMakerCodeType
,BuyerDecisionMakerNPCode
,BuyerDecisionMakerCode
,BuyerDecisionMakerFirstNames
,BuyerDecisionMakerSurnames
,BuyerDecisionMakerDateOfBirth
,SellerIdentificationCodeType
,SellerNPCode
,SellerIdentificationCode
,SellerCountryOfTheBranch
,SellerFirstNames
,SellerSurnames
,SellerDateOfBirth
,SellerDecisionMakerCodeType
,SellerDecisionMakerNPCode
,SellerDecisionMakerCode
,SellerDecisionMakerFirstNames
,SellerDecisionMakerSurnames
,SellerDecisionMakerDateOfBirth
,TransmissionOfOrderIndicator
,TransmittingFirmIdentificationCodeForTheBuyer
,TransmittingFirmIdentificationCodeForTheSeller
,TradingDateTime
,TradingCapacity
,QuantityType
,Quantity
,QuantityCurrency
,DerivativeNotionalIncreaseDecrease
,PriceType
,Price
,PriceCurrency
,NetAmount
,Venue
,CountryOfTheBranchMembership
,UpfrontPayment
,UpfrontPaymentCurrency
,ComplexTradeComponentId
,InstrumentIdentificationCode
,InstrumentFullName
,InstrumentClassification
,NotionalCurrency1
,NotionalCurrency2
,PriceMultiplier
,UnderlyingInstrumentCode
,UnderlyingIndexName
,TermOfTheUnderlyingIndex
,OptionType
,StrikePriceType
,StrikePrice
,StrikePriceCurrency
,OptionExerciseStyle
,MaturityDate
,ExpiryDate
,DeliveryType
,InvestmentDecisionWithinFirmType
,InvestmentDecisionWithinFirmNPCode
,InvestmentDecisionWithinFirm
,CountryOfTheBranchResponsibleForThePersonMakingTheInvestmentDecision
,ExecutionWithinFirmType
,ExecutionWithinFirmNPCode
,ExecutionWithinFirm
,CountryOfTheBranchSupervisingThePersonResponsibleForTheExecution
,WaiverIndicator
,ShortSellingIndicator
,OTCPostTradeIndicator
,CommodityDerivativeIndicator
,SecuritiesFinancingTransactionIndicator
,BranchLocation
,TransactionType
,LifecycleEvent
,AssetClass
,IsRealStockETF
,UpdateDate
,BackReportingIndicator
,RegChange
)

--DECLARE @StartDate DATE = '2023-09-05'
select 

1 [RegulationReportID] 
,DateID
,ReportDate
,CID
,1 [RegulationID]
,PositionID
,T.InstrumentID
,OpenORClose
,IsBuy BuyORSell
,null IDType
,0 IsCopy 
,null CopyFund
,null FundTypeID

,'NEWT' [ReportStatus]
,cast(PositionID as varchar(12)) + OpenORClose + 'AUS' +convert(varchar(8),T.DateID) AS [TransactionReferenceNumber] /*DSR-5886 Added H(dups from MIFID2_Report flow in case of RegChange between MIFID and ASIC) +DateID (in case of RegChange=2 out and back into ASIC)*/
,'' [TradingVenueTransactionIdentificationCode]
,'213800GIFQMSV7HROS23' [ExecutingEntityIdentificationCode]
,'TRUE' [InvestmentFirmCoveredBy201465EU]
,'LEI' [BuyerIdentificationCodeType]
,'' [BuyerNPCode]
,case when IsBuy =1 then '549300OK2V4QF20B0D04' else '213800GIFQMSV7HROS23' end [BuyerIdentificationCode]
,case when IsBuy =1 then 'CY' else '' end [BuyerCountryOfTheBranch]
,'' [BuyerFirstNames]
,'' [BuyerSurnames]
,'' [BuyerDateOfBirth]
,'' [BuyerDecisionMakerCodeType] 
,'' [BuyerDecisionMakerNPCode]
,'' [BuyerDecisionMakerCode] 
,'' [BuyerDecisionMakerFirstNames]
,'' [BuyerDecisionMakerSurnames]
,'' [BuyerDecisionMakerDateOfBirth]
,'LEI' [SellerIdentificationCodeType]
,'' [SellerNPCode]
,case when IsBuy =1 then '213800GIFQMSV7HROS23' else '549300OK2V4QF20B0D04'  end [SellerIdentificationCode]
,case when IsBuy =1 then '' else 'CY' end [SellerCountryOfTheBranch]
,'' [SellerFirstNames]
,'' [SellerSurnames]
,'' [SellerDateOfBirth]
,'' [SellerDecisionMakerCodeType] 
,'' [SellerDecisionMakerNPCode]
,''  [SellerDecisionMakerCode] 
,'' [SellerDecisionMakerFirstNames]
,'' [SellerDecisionMakerSurnames]
,'' [SellerDecisionMakerDateOfBirth]
,'false' [TransmissionOfOrderIndicator]
,'' [TransmittingFirmIdentificationCodeForTheBuyer]
,'' [TransmittingFirmIdentificationCodeForTheSeller]
,Replace(left(CONVERT(varchar,OpenTime,121),19),' ','T')+'Z'   [TradingDateTime]
,'DEAL' [TradingCapacity]
,'UNIT' [QuantityType]
,Volume [Quantity]
,'' [QuantityCurrency]
,'' [DerivativeNotionalIncreaseDecrease]
,CASE WHEN CTP.CurrencyTypeID = 4 THEN 'BSPS' ELSE 'MNTR' END AS [PriceType]        
,OpenPrice [Price]
,SUBSTRING(M.SellAbbreviation, 1, 3) AS PriceCurrency
,'' [NetAmount]
,'XXXX' [Venue] 
,'' [CountryOfTheBranchMembership]
,'' [UpfrontPayment]
,'' [UpfrontPaymentCurrency]
,'' [ComplexTradeComponentId]
,'' [InstrumentIdentificationCode]
,LEFT(M.InstrumentFullName, 50) COLLATE Latin1_General_BIN+' CFD' [InstrumentFullName]  
,CASE
        WHEN M.InstrumentTypeID = 1 THEN 'JFTXCC' -- currencies
        WHEN M.InstrumentTypeID = 2 AND T.InstrumentID in (92,93,96,331,332,334,337,338,311,317,318,324,325,381,382,422) THEN 'JTAXCC' -- soft commodities.
        WHEN M.InstrumentTypeID = 2 AND T.InstrumentID in (17,22,335,336,341,300,299,298,297,296,295,294,293,292,291,290,289,288,287,286,285,284,283,282,281,280,279,278,277,276,319,116,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,95,481,482,484,485,486,487,489,490,491,502,510,524,613,614,615,616,617,618,619,620,621,622,623,628,629,630,631,632,633,634,635,636,637,638,379,387,388,389) THEN 'JTJXCC' -- Energy
        WHEN M.InstrumentTypeID = 2 AND T.InstrumentID in (18,19,21,40,91,99,100,339,340,343,344,380) THEN 'JTKXCC' -- metals
        WHEN M.InstrumentTypeID = 2 AND T.InstrumentID not in (92,93,96,97,331,332,334,337,338,17,22,333,335,336,341,18,19,21,40,91,99,100,339,340,344) THEN 'JTMXCC' -- default
        WHEN M.InstrumentTypeID = 4 AND T.InstrumentID NOT IN (312,313,314) THEN 'JEIXCC' --Indices
        WHEN M.InstrumentTypeID in (5,6) THEN 'JESXCC' -- stocks & ETF
        WHEN M.InstrumentTypeID in (10,2) then 'JTMXCC'
        WHEN T.InstrumentID IN (312,313,314) THEN 'FFDCSX' -- Treasury Notes (ie. 2Y T-NOTE or 2year Treasury)		
	END AS [InstrumentClassification]

,SUBSTRING(M.SellAbbreviation, 1, 3) [NotionalCurrency1]  
,'' [NotionalCurrency2] 
,1 [PriceMultiplier]
,ISNULL(M.ISINCode,'')  [UnderlyingInstrumentCode] 
,CASE WHEN M.InstrumentID in (312,313,314) then ''   -- IR- IntrestRate
	 WHEN M.InstrumentTypeID = 4 and M.IndexNameFullDescription is not null THEN M.IndexNameFullDescription
     WHEN M.InstrumentTypeID = 4 and M.IndexNameFullDescription is null THEN ISNULL(LEFT(M.InstrumentFullName, 50) COLLATE Latin1_General_BIN,'') ELSE ''   
  END AS UnderlyingIndexName
--,CASE
--	WHEN M.InstrumentID in (225000, 225001, 225002, 225003, 225004, 225005, 225006, 225007, 225008, 225009, 225010, 225011, 225012, 225013, 225014, 225015, 225016)
--		THEN '10YEAR'   -- 10-Year Yield
--       ELSE ''
--    END AS UnderlyingIndexName
--,CASE WHEN T.InstrumentID = 26 THEN '1MNTH' ELSE '' END AS TermOfTheUnderlyingIndex
,CASE
        WHEN M.InstrumentID = 26 THEN '1MNTH'        -- China50
        WHEN M.InstrumentID in (225000, 225001,
225002, 225003, 225004, 225005, 225006, 225007, 225008, 225009, 225010, 225011, 225012, 225013, 225014, 225015, 225016) THEN '10YEAR'   -- 10-Year Yield
        ELSE ''
    END AS TermOfTheUnderlyingIndex
,'' [OptionType]
,'' [StrikePriceType]
,'' [StrikePrice]
,'' [StrikePriceCurrency]
,'' [OptionExerciseStyle]
,'' [MaturityDate]
,'' [ExpiryDate]
,'CASH' [DeliveryType] 
,'ALG' [InvestmentDecisionWithinFirmType]
,'' [InvestmentDecisionWithinFirmNPCode]
,'ETOROBROKERAGE01' [InvestmentDecisionWithinFirm]
,'' [CountryOfTheBranchResponsibleForThePersonMakingTheInvestmentDecision]
,'ALG' [ExecutionWithinFirmType]
,'' [ExecutionWithinFirmNPCode]
,'ETOROBROKERAGE01' [ExecutionWithinFirm]
,'' [CountryOfTheBranchSupervisingThePersonResponsibleForTheExecution]
,'' [WaiverIndicator]
,'' [ShortSellingIndicator]
,'' [OTCPostTradeIndicator]
,CASE WHEN M.InstrumentTypeID = 2 THEN 'false' ELSE '' END AS [CommodityDerivativeIndicator]
,'false' [SecuritiesFinancingTransactionIndicator]
,'' [BranchLocation]
,'' [TransactionType]
,'' [LifecycleEvent]
,case when  CTP.CurrencyTypeID in (4,5,6) then 'Equity' else CTP.Name end as [AssetClass] 
,0 IsRealStockETF
,getutcdate() UpdateDate
,0 as BackReportingIndicator
,RegChange
from [dbo].[ASIC_Transactions] T
join  #Metadata M  WITH (NOLOCK) ON T.InstrumentID = M.InstrumentID    and M.IsMifid = 1
JOIN [dbo].[Reg_Ext_DictionaryCurrencyType] CTP  WITH (NOLOCK) ON CTP.CurrencyTypeID=M.InstrumentTypeID
LEFT JOIN [ThirdParty_Fivetran].[Fivetran].[regtech].[regulation_report_excluded_cids] f ON f.cid = CID
WHERE f.cid IS NULL
and  ReportDate = @StartDate
AND T.InstrumentID NOT IN ( SELECT ISNULL(instrument_id, 0)
		FROM [ThirdParty_Fivetran].[Fivetran].[regulation].[regtech_excluded_instruments]
		WHERE table_name = '[MIFID2_ETORO_Report]'
		)
and NOT EXISTS (
			SELECT 1 FROM [ThirdParty_Fivetran].[Fivetran].[regulation].[regtech_excluded_position_ids] b
			WHERE CAST( T.PositionID AS NVARCHAR(50)) = CAST( b.position_id AS NVARCHAR(50))
			AND b.table_name = '[MIFID2_ETORO_Report]'
		)
END 