USE [RegReportDB_Prod]
GO
/****** Object:  StoredProcedure [dbo].[SP_MIFID2_HedgeEU_Report]    Script Date: 3/10/2026 2:50:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





ALTER    PROCEDURE [dbo].[SP_MIFID2_HedgeEU_Report] @StartDate datetime
	
AS

/********************************************************************************************
Author:      arielk
Date:        2021-06-16
Description: MIFID 2 Regulation Report - Hedging only UK

**************************
** Change History
**************************
Date         Author       Description   
----------    ----------   ------------------------------------
2021-06-17		arielk		created with changes based on SP_MIFID2_Hedge_Report excluding UK been  done  on  a separte proc 
2021-12-06		OlegAb		use LiquidityAccountID instead of HedgeServerID
2022-03-16		Slavane		changed UnderlyingIndexName  logics  for instrument typeid =4  
2022-03-22		arielk		add Instrments flter Tradable=1 & remove ref to Syn Tbl
2022-04-05		olegAb		for all indices populate PriceType column as BSPS, all other instruments as MNTR - DSR - 1925
2022-04-10		olegAb		add BackReportingIndicator with hardcoded value = 0 - DSR-1530
2022-05-30		olegAb		add new case on ShortSellingIndicator filled - DSR - 1675
2022-06-23      sarahba     update for BuyerCountryOfTheBranch and SellerCountryOfTheBranch fields DSR 2481
2022-08-10		olegAb		DSR-2670 - Populate correct CFI code when reporting Goldman Sachs trades under MiFID EU (hedge)
2022-09-28		olegAb		DSR-2476 - New MiFID Hedge (EU only) version based on ED&F end-of-day data
2022-10-26      slavane     DSR-2716 remove filter  EXT.InstrumentID < 100000 exclude currency & crypto
2022-10-26		arielka		DSR-3039--set UnderlyingIndexName empty for InstrumentID IN (312,313,314) 
2022-10-27		arielka		DSR-2979 - DeliveryType  = PHYSICAL for EDNF+InstrumentID IN (312,313,314) 
2022-11-09		arielka		DSR-3118 - remove InstrumentIdentificationCode for EDNF with ins (26,253,308,310)+DeliveryType+ExpiryDate+PriceMultiplier+NotionalCurrency1
2022-11-13      slavane     update  Product classification  logics by Jira DSR-3009 
2022-11-27		arielka		refix ExpiryDate after it due  to  bug  
2022-12-04      slavane     DSR-3238  Update  column ShortSellingIndicator logics 
2022-12-26		olegAb		DSR-3438  Amend InstrumentFullName for ED&F futures on indices
2022-12-27		olegAb		DSR-3462  MiFID EU Hedge - Liquidity Account ID 259
2023-01-19		arielka		DSR-3686  add ins 353 to cases on fields -InstrumentIdentificationCode,NotionalCurrency1,PriceMultiplier,ExpiryDate,DeliveryType  
2023-01-22      slavane     DSR-3627  add StartDate  to TransactionReferenceNumber
2023-01-24		olegAb		DSR-3516  MiFID EU Hedge - Liquidity Account ID 259
2023-02-22		arielka		DSR-3817  reintroduce devied by 100 for GBX SellCurrency
2023-04-09		olegAb		DSR-4125  Update MiFID Hedge report (EU + UK) to populate column "CommodityDerivativeIndicator"
2023-06-11		NirW		DSR-4349 Convert Price to present only 8 digits after decimal point.
2023-08-08		Arielka		DSR-4777 fix EDNF matching coll with substring. 
2023-08-21		Arielka		RollBack pre  DSR-4777 
2023-10-17      Slavane     Handle duplicated valus from [dbo].[InstrumentMetaData_SpecialChar_Conversion]  table  
2024-04-24		NirW		DSR-5214 amend EDNF logic - by ContractLongName for VIX. Alert for new instrument in SP_EDNF_New_Instrument_Alert.
2024-04-30		NirW		Changed AZR-WE-DWH-02 to Synapse
2024-11-18      Davidsi     DSR-7746 Update of ALL MiFID SPs to include the updates of Brent Oil, Crude Oil and NatGas futures
2025-01-21      Zurabja     DSR-7784 added filter for final table to exclude InstrumentIDs [ThirdParty_Fivetran].[Fivetran].[regulation].[regtech_excluded_instruments]
2025-01-21   RamaziKa      DSR-7849 added filter  exclude position_id [ThirdParty_Fivetran].[Fivetran].[regulation].[regtech_excluded_position_ids] b
2025-02-07      Davidsi     DSR-8134 MIFID EU Rejections for InstrumentID=38
2025-04-10		Zurabja		DSR-8432 Big value in column InstrumentFullName update LEFT(M.InstrumentFullName, 50)
2025-04-23      Davidsi     DSR-8221 Bring the field EMSOrderID to MIFID2_Hedge_Report table
2025-04-28      Davidsi     DSR-8386 QA & Deployment - MiFID EU Hedge - Marex real futures SP adjustment for InstrumentFullName
2025-06-27      Davidsi     DSR-8681 Regulations MIFID daily job failure on 2025-06-27
*********************************************************************************************/


BEGIN 
	SET NOCOUNT ON

	-- DECLARE	@StartDate datetime = '2024-04-23'
	DECLARE	@EndDate datetime = DATEADD(D,1,@StartDate)


	DROP TABLE IF EXISTS #EUtrades
	select      EXT.OrderID as  ExecutionID 
			  ,	EXT.HedgeServerID
			  , EXT.LiquidityAccountID
			  ,cast(LTRIM(RTRIM(LP.LiquidityAccountName)) as varchar(30))  LiquidityProvider
			  ,	EXT.InstrumentID 
			  ,	EXT.IsBuy
			  ,	EXT.Units as AmountInUnits
			  ,	EXT.ExecutionRate as   LPExecutionRate
			  , EXT.EMSOrderID
		      , LP.LEI
			  , LP.LpCountryCode as Country
			  ,UPPER(
			  REPLACE(REPLACE(REPLACE(EXT.ProviderExecID,'-',''),'.',''),
			  SUBSTRING(EXT.ProviderExecID,patindex('%[~,@,#,$,%,&,*,(,),.,!^?:]%' ,EXT.ProviderExecID),1) 
			  , '')
			  ) as ProviderExecID
			  ,EXT.ExecutionTime
			  ,CASE WHEN UPPER(LP.RealOrCFD) = 'REAL'  THEN 1
				 WHEN UPPER(LP.RealOrCFD) = 'CFD'  THEN 0 
				 ELSE -1 END AS IsReal
			  ,CASE WHEN UPPER(LP.eToroEntity) = '213800GIFQMSV7HROS23'  THEN 'EU' 
				WHEN UPPER(LP.eToroEntity) = '213800FLAB1OVA8OHT72'  THEN 'UK'
					ELSE 'UNKNOWN' END AS ExecutionFlow
			,ROW_NUMBER() OVER (ORDER BY ExecutionTime) AS RowID
	INTO #EUtrades
	FROM [dbo].[MIFID2_ext_HedgeExecutionLog] EXT with (nolock) 
	JOIN [dbo].[Reg_Ext_LiquidityAccountID] LP with (nolock)
	ON EXT.[LiquidityAccountID]=LP.[LiquidityAccountID]
	JOIN  dbo.Reg_LiquidtyAcount_SCD  SCD  
			ON EXT.[LiquidityAccountID]=SCD.[LiquidityAccountID]	 
				AND EXT.ExecutionTime>=SCD.ValidFrom  
				AND EXT.ExecutionTime< SCD.ValidTo 
	WHERE EXT.Units>0 
			--AND EXT.InstrumentID < 100000  -- exclude currency & crypto
			AND LP.eToroEntity IN ('213800GIFQMSV7HROS23' ,'213800FLAB1OVA8OHT72') -- 213800GIFQMSV7HROS23  'ETORO EU'   -- 213800FLAB1OVA8OHT72  'ETORO UK'
			AND EXT.ExecutionTime >= @StartDate 
			AND EXT.ExecutionTime < @EndDate
			AND EXT.Success=1

--------------------added by Slava 2022-02-10  ------------------------------
 drop table if exists #InstrumentsFullDescriptionEU

 select 
IndexNameFullDescription,
 InstrumentID 
 into #InstrumentsFullDescriptionEU
 from (
 select  
 IndexNameFullDescription,
 InstrumentID,
 ReportDate,
 max(ReportDate)over () as  mx_ReportDate 
 from dbo.Reg_Instruments_Full_Description)m
 where ReportDate =mx_ReportDate 

--------------------------------------------------
---------------------------------------------------------------------------------
DROP  TABLE  IF  EXISTS #Reg_Instruments_SCD
SELECT  * 
INTO #Reg_Instruments_SCD 
FROM dbo.Reg_Instruments_SCD WITH (NOLOCK)
WHERE IsMifid = 1
AND @StartDate >= ValidFrom AND  @StartDate< ValidTo
and Tradable=1 	 -- 2022-03-22 arielka change 


---------ED&F to IstrumentID eToro----
--- DSR-5214 all except VIX --
DECLARE	@DateID int = CONVERT(VARCHAR(8),DATEADD(D,-30,@StartDate),112)
DECLARE	@DateID_VIX int = CONVERT(VARCHAR(8),DATEADD(D,-124,@StartDate),112)

DROP  TABLE  IF  EXISTS #LP_EdnF_Trades_NonVIX;
with LP_EdnF_Trades_CTE_NonVIX AS (
SELECT  
	[ContractLongName], 
	[instrument_id] AS InstrumentID,
	ROW_NUMBER()  OVER (PARTITION BY [instrument_id] order by LastTradedDate DESC) RN,
	MAX(TradingFactor) AS TradingFactor,
	CAST(cast(MAX(LastTradedDate) as varchar(10)) AS date) AS LastTradedDate,
	MAX(Currency) AS Currency
FROM [SYNAPSE-DWH-PROD].[sql_dp_prod_we].[Dealing_staging].[LP_EdnF_CoreTrades]  D 
JOIN [ThirdParty_Fivetran].[Fivetran].[google_sheets].[ed_n_f_to_istrumentid_etoro] LP
ON D.ContractDesc = LP.contract_desc COLLATE Latin1_General_100_BIN
WHERE D.TradeDate > @DateID 
	and LP.contract_desc NOT IN ('VOLATILITY INDEX', 'MICRO EMINI NSDQ', 'MICRO EMINI RUSSELL')
GROUP BY [ContractLongName], [instrument_id],[LastTradedDate]
) 
SELECT [ContractLongName],[InstrumentID],[TradingFactor],[LastTradedDate],[Currency] 
INTO #LP_EdnF_Trades_NonVIX
FROM LP_EdnF_Trades_CTE_NonVIX
WHERE RN = 1

--- DSR-5214 Only VIX --
DROP  TABLE  IF  EXISTS #LP_EdnF_Trades_VIX;
with LP_EdnF_Trades_CTE_VIX AS (
SELECT  
	[ContractLongName], 
	[instrument_id] AS InstrumentID,
	ROW_NUMBER()  OVER (PARTITION BY [instrument_id] order by LastTradedDate DESC) RN,
	MAX(TradingFactor) AS TradingFactor,
	CAST(cast(MAX(LastTradedDate) as varchar(10)) AS date) AS LastTradedDate,
	MAX(Currency) AS Currency
FROM [SYNAPSE-DWH-PROD].[sql_dp_prod_we].[Dealing_staging].[LP_EdnF_CoreTrades]  D 
JOIN [ThirdParty_Fivetran].[Fivetran].[google_sheets].[ed_n_f_to_istrumentid_etoro] LP
ON D.[ContractLongName] = LP.contract_long_name COLLATE Latin1_General_100_BIN
WHERE D.TradeDate > @DateID_VIX
	and LP.contract_desc IN ('VOLATILITY INDEX', 'MICRO EMINI NSDQ','MICRO EMINI RUSSELL')
	--and LP._row<>50 -- fix by David to prevent duplicated instrument 200003
GROUP BY [ContractLongName], [instrument_id],[LastTradedDate]
) 
SELECT [ContractLongName],[InstrumentID],[TradingFactor],[LastTradedDate],[Currency] 
INTO #LP_EdnF_Trades_VIX
FROM LP_EdnF_Trades_CTE_VIX
WHERE RN = 1

DROP  TABLE  IF  EXISTS #LP_EdnF_Trades;
select * 
INTO #LP_EdnF_Trades
from #LP_EdnF_Trades_NonVIX
UNION ALL
select * 
from #LP_EdnF_Trades_VIX

---------IB to IstrumentID eToro----

DROP  TABLE  IF  EXISTS #LP_IB_Trades;
with LP_EdnF_Trades_CTE AS (
SELECT  
	[Description] AS Description_LP_IB, 
	[instrument_id] AS InstrumentID,
	ROW_NUMBER()  OVER (PARTITION BY [instrument_id] order by [Expiry] DESC) RN,
	MAX([Multiplier]) AS TradingFactor_LP_IB,
	CAST(MAX( [Expiry]) AS date) AS Expiry_LP_IB,
	MAX([CurrencyPrimary]) AS Currency_LP_IB
FROM [SYNAPSE-DWH-PROD].[sql_dp_prod_we].[Dealing_staging].[LP_IB_U1059976_Open_Positions_All]  D 
JOIN [ThirdParty_Fivetran].[Fivetran].[google_sheets].[ed_n_f_to_istrumentid_etoro] LP
ON D.UnderlyingSymbol = LP.ib_underlying_symbol COLLATE Latin1_General_100_BIN
WHERE D.ReportDate > cast(@DateID  as varchar(10)) 
GROUP BY [Description], [instrument_id],[Expiry]
) 
SELECT [Description_LP_IB],[InstrumentID],[TradingFactor_LP_IB],[Expiry_LP_IB],[Currency_LP_IB] 
INTO #LP_IB_Trades
FROM LP_EdnF_Trades_CTE
WHERE RN = 1


---------------other tables that should be usefull------------


------------- Slavane Handle duplicated from [dbo].[InstrumentMetaData_SpecialChar_Conversion] 2023-10-17  ---------------
	drop table if exists #InstrumentMetaData_SpecialChar_Conversion

	select * into #InstrumentMetaData_SpecialChar_Conversion from (
	  select  row_number ()over (partition by InstrumentID order by InstrumentID) as RN,  * 	 
	  from [dbo].[InstrumentMetaData_SpecialChar_Conversion] IMSC
	  where IMSC.ReportDate = @StartDate)aa
	 where aa.RN=1




	DROP  TABLE  IF EXISTS #Metadata
	SELECT
	SCD.InstrumentID,
	SCD.InstrumentTypeID,
	SCD.BuyCurrencyID,
	SCD.SellCurrencyID,
	SCD.ISINCode,
	FD.IndexNameFullDescription,
	CASE WHEN SCD.InstrumentID = IMSC.InstrumentID THEN 
								REPLACE(IMSC.New_InstrumentDisplayName, ',', ' ') Collate Latin1_General_100_BIN
									ELSE REPLACE(SCD.InstrumentDisplayName, ',', ' ') end InstrumentFullName,
	CASE WHEN SellCurrencyID = 666  THEN 1 ELSE 0 end IsGBX,
	CASE WHEN SellCurrencyID = 666 THEN  REPLACE (DC1.Abbreviation, 'GBX', 'GBP') 
		WHEN SellCurrencyID = 38 THEN REPLACE (DC1.Abbreviation, 'CNH', 'CNY') 
		ELSE DC1.Abbreviation END  SellAbbreviation,
	DC.Abbreviation	BuyAbbreviation,
	LP.TradingFactor,
	LP.LastTradedDate,
	LP.Currency,
	LP.ContractLongName,
	LP_IB.TradingFactor_LP_IB,
	LP_IB.Expiry_LP_IB,
	LP_IB.Currency_LP_IB,
	LP_IB.Description_LP_IB
	INTO  #Metadata
	--select   *
	FROM #Reg_Instruments_SCD SCD WITH(NOLOCK)
	JOIN (select  distinct InstrumentID from  #EUtrades) TR  on SCD.InstrumentID=TR.InstrumentID
	LEFT JOIN [dbo].Reg_Ext_DictionaryCurrency DC WITH(NOLOCK) -- 2022-03-22 arielka change 
	ON DC.CurrencyID = SCD.BuyCurrencyID
	LEFT JOIN [dbo].Reg_Ext_DictionaryCurrency DC1 WITH(NOLOCK) -- 2022-03-22 arielka change 
	ON DC1.CurrencyID = SCD.SellCurrencyID 
	LEFT JOIN #InstrumentMetaData_SpecialChar_Conversion IMSC WITH (NOLOCK) ---2023-10-17 Slavane  handle duplicated values 
	ON SCD.InstrumentID = IMSC.InstrumentID and IMSC.ReportDate = @StartDate
	left join  #InstrumentsFullDescriptionEU FD on FD.InstrumentID = SCD.InstrumentID
	LEFT JOIN #LP_EdnF_Trades LP ON LP.InstrumentID = SCD.InstrumentID
	LEFT JOIN #LP_IB_Trades LP_IB ON LP_IB.InstrumentID = SCD.InstrumentID



-------------------------------------------------------------------------------


DECLARE @RowC INT = 1
WHILE @RowC > 0
 
BEGIN
       DELETE TOP (4000)
       FROM [dbo].[MIFID2_Hedge_Report]
	   WHERE ReportDate = @StartDate 
	   AND RegulationReportID= 1 
 
       SELECT @RowC = @@rowcount
   
END

/********************* EU Executive *****************************************/

INSERT INTO [dbo].[MIFID2_Hedge_Report]
([DateID]
	,[ReportDate]
	,[HedgeServerID]
	,[LiquidityAccountID]
	,[LiquidityProvider]
	,[ExecutionID]
	,[InstrumentID]
	,[BuyORSell]
	,[ReportStatus]
	,[TransactionReferenceNumber]
	,[TradingVenueTransactionIdentificationCode]
	,[ExecutingEntityIdentificationCode]
	,[InvestmentFirmCoveredBy201465EU]
	,[BuyerIdentificationCodeType]
	,[BuyerNPCode]
	,[BuyerIdentificationCode]
	,[BuyerCountryOfTheBranch]
	,[BuyerFirstNames]
	,[BuyerSurnames]
	,[BuyerDateOfBirth]
	,[BuyerDecisionMakerCodeType]
	,[BuyerDecisionMakerNPCode]
	,[BuyerDecisionMakerCode]
	,[BuyerDecisionMakerFirstNames]
	,[BuyerDecisionMakerSurnames]
	,[BuyerDecisionMakerDateOfBirth]
	,[SellerIdentificationCodeType]
	,[SellerNPCode]
	,[SellerIdentificationCode]
	,[SellerCountryOfTheBranch]
	,[SellerFirstNames]
	,[SellerSurnames]
	,[SellerDateOfBirth]
	,[SellerDecisionMakerCodeType]
	,[SellerDecisionMakerNPCode]
	,[SellerDecisionMakerCode]
	,[SellerDecisionMakerFirstNames]
	,[SellerDecisionMakerSurnames]
	,[SellerDecisionMakerDateOfBirth]
	,[TransmissionOfOrderIndicator]
	,[TransmittingFirmIdentificationCodeForTheBuyer]
	,[TransmittingFirmIdentificationCodeForTheSeller]
	,[TradingDateTime]
	,[TradingCapacity]
	,[QuantityType]
	,[Quantity]
	,[QuantityCurrency]
	,[DerivativeNotionalIncreaseDecrease]
	,[PriceType]
	,[Price]
	,[PriceCurrency]
	,[NetAmount]
	,[Venue]
	,[CountryOfTheBranchMembership]
	,[UpfrontPayment]
	,[UpfrontPaymentCurrency]
	,[ComplexTradeComponentId]
	,[InstrumentIdentificationCode]
	,[InstrumentFullName]
	,[InstrumentClassification]
	,[NotionalCurrency1]
	,[NotionalCurrency2]
	,[PriceMultiplier]
	,[UnderlyingInstrumentCode]
	,[UnderlyingIndexName]
	,[TermOfTheUnderlyingIndex]
	,[OptionType]
	,[StrikePriceType]
	,[StrikePrice]
	,[StrikePriceCurrency]
	,[OptionExerciseStyle]
	,[MaturityDate]
	,[ExpiryDate]
	,[DeliveryType]
	,[InvestmentDecisionWithinFirmType]
	,[InvestmentDecisionWithinFirmNPCode]
	,[InvestmentDecisionWithinFirm]
	,[CountryOfTheBranchResponsibleForThePersonMakingTheInvestmentDecision]
	,[ExecutionWithinFirmType]
	,[ExecutionWithinFirmNPCode]
	,[ExecutionWithinFirm]
	,[CountryOfTheBranchSupervisingThePersonResponsibleForTheExecution]
	,[WaiverIndicator]
	,[ShortSellingIndicator]
	,[OTCPostTradeIndicator]
	,[CommodityDerivativeIndicator]	
	,[SecuritiesFinancingTransactionIndicator]
	,[BranchLocation]
	,[TransactionType]
	,[LifecycleEvent]
	,[RegulationReportID]
	,[AssetClass]
	,[rowSource]
	,[BackReportingIndicator]
	,[EMSOrderID]
)

SELECT 
	CAST(CONVERT(varchar(8),@StartDate, 112)as int) as DateID
	,@StartDate as ReportDate
	,P.HedgeServerID
	,P.LiquidityAccountID
	,P.LiquidityProvider
	,P.ExecutionID
	,P.InstrumentID
	,P.IsBuy AS BuyORSell
	,'NEWT' AS ReportStatus
	,ISNULL(CONCAT(UPPER(CAST(ProviderExecID AS VARCHAR(50))),CAST(RowID AS VARCHAR),CONVERT(varchar(8),@StartDate, 112)),CONCAT(UPPER(LiquidityProvider),CONVERT(varchar(8),@StartDate, 112),CAST(RowID AS VARCHAR))) AS TransactionReferenceNumber
	,'' AS TradingVenueTransactionIdentificationCode
	,'213800GIFQMSV7HROS23' AS ExecutingEntityIdentificationCode
	,'TRUE' AS InvestmentFirmCoveredBy201465EU
	,'LEI' AS BuyerIdentificationCodeType
	,'' AS BuyerNPCode
	,CASE WHEN P.IsBuy=1 THEN '213800GIFQMSV7HROS23' ELSE LEI
			END AS BuyerIdentificationCode
	,'' BuyerCountryOfTheBranch
	,'' AS BuyerFirstNames
	,'' AS BuyerSurnames
	,'' AS BuyerDateOfBirth
	,'' AS BuyerDecisionMakerCodeType
	,'' AS  BuyerDecisionMakerNPCode
	,'' AS BuyerDecisionMakerCode
	,'' AS BuyerDecisionMakerFirstNames
	,'' AS BuyerDecisionMakerSurnames
	,'' AS BuyerDecisionMakerDateOfBirth
	,'LEI' AS SellerIdentificationCodeType
	,'' AS SellerNPCode
	,CASE WHEN P.IsBuy = 0 THEN '213800GIFQMSV7HROS23' ELSE LEI
	 END AS SellerIdentificationCode
	,'' SellerCountryOfTheBranch
	,'' AS SellerFirstNames
	,'' AS SellerSurnames
	,'' AS SellerDateOfBirth
	,'' AS SellerDecisionMakerCodeType
	,'' AS SellerDecisionMakerNPCode
	,'' AS SellerDecisionMakerCode
	,'' AS SellerDecisionMakerFirstNames
	,'' AS SellerDecisionMakerSurnames
	,'' AS SellerDecisionMakerDateOfBirth
	,'FALSE' AS TransmissionOfOrderIndicator
	,'' AS TransmittingFirmIdentificationCodeForTheBuyer
	,'' AS TransmittingFirmIdentificationCodeForTheSeller
	,convert(varchar(10),ExecutionTime, 126)+'T'
		+ convert(varchar(8), CASE WHEN DATEPART(ss, P.ExecutionTime) = 0 THEN DATEADD(ss, 1, P.ExecutionTime) ELSE ExecutionTime END, 108)
		+'Z' AS TradingDateTime
	,'DEAL' AS TradingCapacity
	,'UNIT' AS QuantityType
	,CAST(P.AmountInUnits as varchar) AS Quantity
	,'' AS QuantityCurrency
	,'' AS DerivativeNotionalIncreaseDecrease
	,CASE WHEN CTP.CurrencyTypeID = 4 THEN 'BSPS' ELSE 'MNTR' END AS PriceType 
	,convert(numeric(16,8),Case when M.IsGBX=1 then  P.LPExecutionRate/100.00 else P.LPExecutionRate end)  AS Price -- DSR-3817 --DSR-4349
	,SUBSTRING(M.SellAbbreviation, 1, 3) AS PriceCurrency
	,'' AS NetAmount
	,CASE WHEN P.IsReal = 1 THEN 'XOFF' ELSE 'XXXX' END AS Venue
	,'' AS CountryOfTheBranchMembership
	,'' AS UpfrontPayment
	,'' AS UpfrontPaymentCurrency
	,'' AS ComplexTradeComponentId
	,CASE WHEN (LEI =  '5493006BWPDUCYG6EQ34' OR  P.LiquidityAccountID = 259) AND P.InstrumentID IN (26,38,253,308,310,353) THEN ''
		  WHEN P.IsReal = 1 AND ISINCode IS NOT NULL THEN ISINCode ELSE '' END AS InstrumentIdentificationCode
	,CASE WHEN P.IsReal = 1 THEN CASE WHEN  LEI =  '5493006BWPDUCYG6EQ34' AND M.InstrumentTypeID = 4 AND P.InstrumentID NOT IN (312,313,314) THEN M.ContractLongName	
		 WHEN  P.LiquidityAccountID = 259 AND  M.InstrumentTypeID = 4  AND (ISINCode IS NULL OR P.InstrumentID IN (26,38,253,308,310,353) )AND  M.Description_LP_IB  IS NOT NULL THEN M.Description_LP_IB 
	ELSE '' END
		 ELSE LEFT(M.InstrumentFullName, 50)+' CFD' END AS InstrumentFullName
	,CASE WHEN P.IsReal = 0 THEN CASE
									WHEN LEI = '8IBZUGJ7JPLH368JE346' AND M.InstrumentTypeID = 1 THEN 'SFXXXX' -- currencies
                                    WHEN M.InstrumentTypeID = 1 THEN 'JFTXCC' -- currencies
                                    WHEN LEI = '8IBZUGJ7JPLH368JE346' AND M.InstrumentTypeID = 2 AND P.InstrumentID in (92,93,96,331,332,334,337,338,311,317,318,324,325,381,382,422) THEN 'JTAXCC' -- soft commodities
                                    WHEN LEI = '8IBZUGJ7JPLH368JE346' AND M.InstrumentTypeID = 2 AND P.InstrumentID in (17,22,335,336,341,300,299,298,297,296,295,294,293,292,291,290,289,288,287,286,285,284,283,282,281,280,279,278,277,276,319,116,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,95,481,482,484,485,486,487,489,490,491,502,510,524,613,614,615,616,617,618,619,620,621,622,623,628,629,630,631,632,633,634,635,636,637,638) THEN 'JTJXCC' -- Crude Oil Future
                                    WHEN LEI = '8IBZUGJ7JPLH368JE346' AND M.InstrumentTypeID = 2 AND P.InstrumentID in (18,19,21,40,91,99,100,339,340,343,344) THEN 'STKCXC' -- metals
                                    WHEN LEI = '8IBZUGJ7JPLH368JE346' AND M.InstrumentTypeID = 2 AND P.InstrumentID not in (92,93,96,331,332,334,337,338,311,317,318,324,325,17,22,335,336,341,300,299,298,297,296,295,294,293,292,291,290,289,288,287,286,285,284,283,282,281,280,279,278,277,276,319,116,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,95,481,482,484,485,486,487,489,490,491,502,510,524,613,614,615,616,617,618,619,620,621,622,623,628,629,630,631,632,633,634,635,636,637,638,18,19,21,40,91,99,100,339,340,343,344) THEN 'JTMXCC' --if not listed then default generic value
                                    WHEN LEI = '8IBZUGJ7JPLH368JE346' AND M.InstrumentTypeID = 4 THEN 'SEITXC' 
                                    WHEN M.InstrumentTypeID = 4 THEN 'JEIXCC' --Indices
                                    WHEN LEI = '8IBZUGJ7JPLH368JE346' AND M.InstrumentTypeID IN (5,6) THEN 'SESTXC' 
                                    WHEN M.InstrumentTypeID IN (5,6) THEN 'JESXCC' -- stocks 2019-04-10 // 20190624 add ETF 
                                END
                                ELSE CASE
                                    WHEN LEI = '5493006BWPDUCYG6EQ34' AND M.InstrumentTypeID = 1 THEN 'FFCCSX' -- currencies
                                    WHEN LEI = '5493006BWPDUCYG6EQ34' AND M.InstrumentTypeID = 2 AND P.InstrumentID in ( 92,93,94,96,97,98,331,332,334,337,338,311,317,318,324,325) THEN 'FCAPSX' -- agricultural commodities
                                    WHEN LEI = '5493006BWPDUCYG6EQ34' AND M.InstrumentTypeID = 2 AND P.InstrumentID in (17,22,335,336,341,300,299,298,297,296,295,294,293,292,291,290,289,288,287,286,285,284,283,282,281,280,279,278,277,276,319,116,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,95,481,482,484,485,486,487,489,490,491,502,510,524,613,614,615,616,617,618,619,620,621,622,623,628,629,630,631,632,633,634,635,636,637,638) THEN 'FCECSX' -- Crude Oil Future , -- metals
                                    --WHEN LEI = '5493006BWPDUCYG6EQ34' AND M.InstrumentTypeID = 2 AND P.InstrumentID in (18,19,21,40,91,99,100,339,340,343,344) THEN 'FCECSX' -- metals
                                    WHEN (LEI = '5493006BWPDUCYG6EQ34' OR P.LiquidityAccountID = 259) AND M.InstrumentTypeID = 2 AND P.InstrumentID NOT IN (92,93,96,331,332,334,337,338,311,317,318,324,325,17,22,335,336,341,300,299,298,297,296,295,294,293,292,291,290,289,288,287,286,285,284,283,282,281,280,279,278,277,276,319,116,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,95,481,482,484,485,486,487,489,490,491,502,510,524,613,614,615,616,617,618,619,620,621,622,623,628,629,630,631,632,633,634,635,636,637,638,18,19,21,40,91,99,100,339,340,343,344) THEN 'FFMCSX ' -- default
                                    WHEN (LEI = '5493006BWPDUCYG6EQ34' OR P.LiquidityAccountID = 259) AND M.InstrumentTypeID = 4 AND P.InstrumentID NOT IN (312,313,314) THEN 'FFICSX' -- Indices
                                    WHEN LEI = '5493006BWPDUCYG6EQ34' AND M.InstrumentTypeID IN (5,6) THEN 'FFSCSX' -- stocks and ETF
                                    WHEN LEI = '5493006BWPDUCYG6EQ34' AND M.InstrumentID IN (312,313,314) THEN 'FFDPSX' -- Treasury Notes (ie. 2Y T-NOTE or 2year Treasury)
								    ELSE ''
								END 
							END AS InstrumentClassification
	,CASE	WHEN LEI =  '5493006BWPDUCYG6EQ34' and M.InstrumentID in (26,38,253,308,310,353) AND  M.Currency  IS NOT NULL THEN M.Currency 
			WHEN P.IsReal = 1 AND LEI =  '5493006BWPDUCYG6EQ34'   AND ISINCode IS NULL AND  M.Currency  IS NOT NULL THEN M.Currency 
			WHEN P.IsReal = 1 AND P.LiquidityAccountID = 259  AND (ISINCode IS NULL OR M.InstrumentID in (26,38,253,308,310,353) ) AND  M.Currency_LP_IB  IS NOT NULL THEN M.Currency_LP_IB 
			WHEN P.IsReal = 1 THEN '' ELSE SUBSTRING(M.SellAbbreviation, 1, 3) END AS NotionalCurrency1  -- DSR3118
	,'' AS NotionalCurrency2
	,CASE	WHEN LEI =  '5493006BWPDUCYG6EQ34' AND M.InstrumentID in (26,38,253,308,310,353) AND  M.TradingFactor  IS NOT NULL THEN M.TradingFactor
			WHEN P.IsReal = 1 AND LEI =  '5493006BWPDUCYG6EQ34'   AND ISINCode IS NULL AND  M.TradingFactor  IS NOT NULL THEN M.TradingFactor 
			WHEN P.IsReal = 1 AND P.LiquidityAccountID = 259  AND (M.ISINCode IS NULL OR P.InstrumentID IN (26,38,253,308,310,353) ) AND  M.TradingFactor_LP_IB  IS NOT NULL THEN M.TradingFactor_LP_IB 
			WHEN P.IsReal = 1 THEN '' ELSE '1' END AS PriceMultiplier -- DSR3118
	,CASE WHEN P.IsReal  = 1 THEN '' ELSE ISNULL(M.ISINCode,'') END AS UnderlyingInstrumentCode
	,CASE WHEN M.InstrumentID in (312,313,314) then ''    -- IR- IntrestRate
		WHEN M.InstrumentTypeID = 4 and M.IndexNameFullDescription is not null THEN M.IndexNameFullDescription
       WHEN M.InstrumentTypeID = 4  and   M.IndexNameFullDescription is  null THEN  ISNULL(LEFT(M.InstrumentFullName, 50),'')ELSE ''   
     END AS UnderlyingIndexName -- Indices  
	,'' AS TermOfTheUnderlyingIndex
	,'' AS OptionType
	,'' AS StrikePriceType
	,'' AS StrikePrice
	,'' AS StrikePriceCurrency
	,'' AS OptionExerciseStyle
	,'' AS MaturityDate
	,CASE	WHEN (P.LEI = '5493006BWPDUCYG6EQ34' and M.InstrumentID in (26,38,253,308,310,353)) OR (P.IsReal = 0 AND P.LiquidityAccountID = 259)  AND M.LastTradedDate IS NOT NULL THEN CAST(M.LastTradedDate AS varchar(10) ) 
			WHEN P.IsReal = 1 AND P.LEI =  '5493006BWPDUCYG6EQ34'  AND M.ISINCode IS NULL  AND M.LastTradedDate IS NOT NULL THEN CAST(M.LastTradedDate AS varchar(10) ) 
			WHEN P.IsReal = 1 AND P.LiquidityAccountID = 259 AND (M.ISINCode IS NULL OR P.InstrumentID IN (26,38,253,308,310,353) )  AND M.Expiry_LP_IB IS NOT NULL THEN CAST(M.Expiry_LP_IB AS varchar(10) ) 
			ELSE '' END AS ExpiryDate -- DSR3118
	,CASE   WHEN P.LEI = '5493006BWPDUCYG6EQ34' and M.InstrumentID in (26,38,253,308,310,353) THEN 'CASH'
			WHEN P.LEI = '5493006BWPDUCYG6EQ34' and M.InstrumentID in (312,313,314) THEN 'PHYSICAL' 
			WHEN P.IsReal = 1 AND (P.LEI =  '5493006BWPDUCYG6EQ34' OR P.LiquidityAccountID = 259) AND (M.ISINCode IS NULL OR P.InstrumentID IN (26,38,253,308,310,353) ) AND  M.TradingFactor  IS NOT NULL THEN 'CASH' 
			WHEN P.IsReal = 1 THEN '' ELSE 'CASH' END AS DeliveryType -- DSR3118
	,'ALG' AS InvestmentDecisionWithinFirmType
	,'' AS InvestmentDecisionWithinFirmNPCode
	,'ETORODEALING01' AS InvestmentDecisionWithinFirm
	,'' AS CountryOfTheBranchResponsibleForThePersonMakingTheInvestmentDecision
	,'ALG' AS ExecutionWithinFirmType
	,'' AS ExecutionWithinFirmNPCode
	,'ETORODEALING01' AS ExecutionWithinFirm
	,'' AS CountryOfTheBranchSupervisingThePersonResponsibleForTheExecution
	,'' AS WaiverIndicator
	,CASE WHEN P.IsReal = 1  AND P.IsBuy = 0  and CTP.CurrencyTypeID IN (5,6)  THEN 'SELL' ELSE '' END AS ShortSellingIndicator
	,'' AS OTCPostTradeIndicator
	,CASE WHEN M.InstrumentTypeID = 2 THEN 'false' 
	ELSE '' 
	END AS CommodityDerivativeIndicator
	,'FALSE' AS SecuritiesFinancingTransactionIndicator
	,'' AS BranchLocation
	,'' AS TransactionType
	,'' AS LifecycleEvent
	, 1 AS RegulationReportID
	, CASE WHEN CTP.CurrencyTypeID IN (4,5,6) THEN 'Equity' ELSE CTP.Name END AS AssetClass
	,'EU' AS rowSource
	,0 as BackReportingIndicator
	,P.EMSOrderID
	FROM #EUtrades P   WITH (NOLOCK)
		JOIN #Metadata M  WITH (NOLOCK) ON P.InstrumentID = M.InstrumentID
		JOIN Reg_Ext_DictionaryCurrencyType CTP  WITH (NOLOCK) ON CTP.CurrencyTypeID=M.InstrumentTypeID -- 2022-03-22 arielka change 
	WHERE P.ExecutionFlow = 'EU'
     AND P.InstrumentID NOT IN ( SELECT ISNULL(instrument_id, 0)
				FROM [ThirdParty_Fivetran].[Fivetran].[regulation].[regtech_excluded_instruments]
				WHERE table_name = '[MIFID2_Hedge_Report]'
				)
	
/********************* UK Executive *****************************************/
DROP TABLE IF EXISTS #realstock_EUtrades_via_UK
SELECT 
		1 AS RegulationReportID
		,ExecutionID 
		,HedgeServerID
		,LiquidityAccountID
		,LiquidityProvider
		,InstrumentID 
		,IsBuy
		,AmountInUnits
		,LPExecutionRate
		,EMSOrderID
		,LEI
		,Country AS LPCountry
		,ProviderExecID
		,ExecutionTime
		,IsReal
		,'213800GIFQMSV7HROS23' AS ExecutionEntity    -- First record: eToro EU trades with eToro UK
		,'CY' AS ExecCountry
		,'213800FLAB1OVA8OHT72' AS BuyerSeller
		,'GB' AS BuyerSellerCountry
		,RowID AS RowID
INTO #realstock_EUtrades_via_UK
FROM #EUtrades
WHERE ExecutionFlow = 'UK' and IsReal = 1

INSERT INTO [dbo].[MIFID2_Hedge_Report]
(		[DateID]
		,[ReportDate]
		,[HedgeServerID]
		,[LiquidityAccountID]
		,[LiquidityProvider]
		,[ExecutionID]
		,[InstrumentID]
		,[BuyORSell]
		,[ReportStatus]
		,[TransactionReferenceNumber]
		,[TradingVenueTransactionIdentificationCode]
		,[ExecutingEntityIdentificationCode]
		,[InvestmentFirmCoveredBy201465EU]
		,[BuyerIdentificationCodeType]
		,[BuyerNPCode]
		,[BuyerIdentificationCode]
		,[BuyerCountryOfTheBranch]
  		,[BuyerFirstNames]
		,[BuyerSurnames]
		,[BuyerDateOfBirth]
		,[BuyerDecisionMakerCodeType]
		,[BuyerDecisionMakerNPCode]
		,[BuyerDecisionMakerCode]
		,[BuyerDecisionMakerFirstNames]
		,[BuyerDecisionMakerSurnames]
		,[BuyerDecisionMakerDateOfBirth]
		,[SellerIdentificationCodeType]
		,[SellerNPCode]
		,[SellerIdentificationCode]
		,[SellerCountryOfTheBranch]
		,[SellerFirstNames]
		,[SellerSurnames]
		,[SellerDateOfBirth]
		,[SellerDecisionMakerCodeType]
		,[SellerDecisionMakerNPCode]
		,[SellerDecisionMakerCode]
		,[SellerDecisionMakerFirstNames]
		,[SellerDecisionMakerSurnames]
		,[SellerDecisionMakerDateOfBirth]
		,[TransmissionOfOrderIndicator]
		,[TransmittingFirmIdentificationCodeForTheBuyer]
		,[TransmittingFirmIdentificationCodeForTheSeller]
		,[TradingDateTime]
		,[TradingCapacity]
		,[QuantityType]
		,[Quantity]
		,[QuantityCurrency]
		,[DerivativeNotionalIncreaseDecrease]
		,[PriceType]
		,[Price]
		,[PriceCurrency]
		,[NetAmount]
		,[Venue]
		,[CountryOfTheBranchMembership]
		,[UpfrontPayment]
		,[UpfrontPaymentCurrency]
		,[ComplexTradeComponentId]
		,[InstrumentIdentificationCode]
		,[InstrumentFullName]
		,[InstrumentClassification]
		,[NotionalCurrency1]
		,[NotionalCurrency2]
		,[PriceMultiplier]
		,[UnderlyingInstrumentCode]
		,[UnderlyingIndexName]
		,[TermOfTheUnderlyingIndex]
		,[OptionType]
		,[StrikePriceType]
		,[StrikePrice]
		,[StrikePriceCurrency]
		,[OptionExerciseStyle]
		,[MaturityDate]
		,[ExpiryDate]
		,[DeliveryType]
		,[InvestmentDecisionWithinFirmType]
		,[InvestmentDecisionWithinFirmNPCode]
		,[InvestmentDecisionWithinFirm]
		,[CountryOfTheBranchResponsibleForThePersonMakingTheInvestmentDecision]
		,[ExecutionWithinFirmType]
		,[ExecutionWithinFirmNPCode]
		,[ExecutionWithinFirm]
		,[CountryOfTheBranchSupervisingThePersonResponsibleForTheExecution]
		,[WaiverIndicator]
		,[ShortSellingIndicator]
		,[OTCPostTradeIndicator]
		,[CommodityDerivativeIndicator]	
		,[SecuritiesFinancingTransactionIndicator]
		,[BranchLocation]
		,[TransactionType]
		,[LifecycleEvent]
		,[RegulationReportID]
		,[AssetClass]
		,[rowSource]
		,[BackReportingIndicator]
		,[EMSOrderID]
  )

SELECT 
	CAST(CONVERT(varchar(8),@StartDate, 112)as int) as DateID
	,@StartDate as ReportDate
	,P.HedgeServerID
	,P.LiquidityAccountID
	,P.LiquidityProvider
	,P.ExecutionID
	,P.InstrumentID
	,P.IsBuy AS BuyORSell
	,'NEWT' AS ReportStatus
	,ISNULL(CONCAT(UPPER(CAST(ProviderExecID AS VARCHAR(50))),CAST(RowID AS VARCHAR),CONVERT(varchar(8),@StartDate, 112)),CONCAT(UPPER(LiquidityProvider),CONVERT(varchar(8),@StartDate, 112),CAST(RowID AS VARCHAR))) AS TransactionReferenceNumber
	,'' AS TradingVenueTransactionIdentificationCode
	,ExecutionEntity AS ExecutingEntityIdentificationCode
	,'TRUE' AS InvestmentFirmCoveredBy201465EU
	,'LEI' AS BuyerIdentificationCodeType
	,'' AS BuyerNPCode
	,CASE WHEN P.IsBuy=1 THEN ExecutionEntity  
		ELSE BuyerSeller END AS BuyerIdentificationCode
	,'' BuyerCountryOfTheBranch
	,'' AS BuyerFirstNames
	,'' AS BuyerSurnames
	,'' AS BuyerDateOfBirth
	,'' AS BuyerDecisionMakerCodeType
	,'' AS  BuyerDecisionMakerNPCode
	,'' AS BuyerDecisionMakerCode
	,'' AS BuyerDecisionMakerFirstNames
	,'' AS BuyerDecisionMakerSurnames
	,'' AS BuyerDecisionMakerDateOfBirth
	,'LEI' AS SellerIdentificationCodeType
	,'' AS SellerNPCode
	,CASE WHEN P.IsBuy = 0 THEN ExecutionEntity 
						ELSE BuyerSeller 
		END AS SellerIdentificationCode
	,'' SellerCountryOfTheBranch
	,'' AS SellerFirstNames
	,'' AS SellerSurnames
	,'' AS SellerDateOfBirth
	,'' AS SellerDecisionMakerCodeType
	,'' AS SellerDecisionMakerNPCode
	,'' AS SellerDecisionMakerCode
	,'' AS SellerDecisionMakerFirstNames
	,'' AS SellerDecisionMakerSurnames
	,'' AS SellerDecisionMakerDateOfBirth
	,'FALSE' AS TransmissionOfOrderIndicator
	,'' AS TransmittingFirmIdentificationCodeForTheBuyer
	,'' AS TransmittingFirmIdentificationCodeForTheSeller
	,convert(varchar(10),ExecutionTime, 126)+'T'
		+ convert(varchar(8), CASE WHEN DATEPART(ss, ExecutionTime) = 0 THEN DATEADD(ss, 1, ExecutionTime) ELSE ExecutionTime END, 108)
		+'Z' AS TradingDateTime
	,'DEAL' AS TradingCapacity
	,'UNIT' AS QuantityType
	,CAST(P.AmountInUnits as varchar) AS Quantity
	,'' AS QuantityCurrency
	,'' AS DerivativeNotionalIncreaseDecrease
	,CASE WHEN CTP.CurrencyTypeID = 4 THEN 'BSPS' ELSE 'MNTR' END AS PriceType 
	,convert(numeric(16,8),Case when M.IsGBX=1 then  P.LPExecutionRate/100.00 else P.LPExecutionRate end)  AS Price -- DSR-3817 --DSR-4349
	,SUBSTRING(M.SellAbbreviation, 1, 3) AS PriceCurrency
	,'' AS NetAmount
	,'XOFF' AS Venue
	
	,'' AS CountryOfTheBranchMembership
	,'' AS UpfrontPayment
	,'' AS UpfrontPaymentCurrency
	,'' AS ComplexTradeComponentId
	,CASE WHEN LEI='5493006BWPDUCYG6EQ34' AND P.InstrumentID IN (26,38,253,308,310,353) THEN '' else ISINCode end AS InstrumentIdentificationCode
	,'' AS InstrumentFullName
	,'' AS InstrumentClassification
	,CASE WHEN LEI='5493006BWPDUCYG6EQ34' AND M.InstrumentID in (26,38,253,308,310,353) AND  M.Currency  IS NOT NULL THEN M.Currency 
		WHEN P.LiquidityAccountID = 259  AND ISINCode IS NULL AND  M.Currency_LP_IB  IS NOT NULL THEN M.Currency_LP_IB 
	else '' end  AS NotionalCurrency1
	,'' AS NotionalCurrency2
	,CASE WHEN LEI='5493006BWPDUCYG6EQ34' AND M.InstrumentID in (26,38,253,308,310,353) AND  M.TradingFactor  IS NOT NULL THEN M.TradingFactor 
	 WHEN P.LiquidityAccountID = 259  AND (ISINCode IS NULL OR M.InstrumentID in (26,38,253,308,310,353))AND  M.TradingFactor_LP_IB  IS NOT NULL THEN M.TradingFactor_LP_IB 
	else '' end AS PriceMultiplier
	,'' AS UnderlyingInstrumentCode
	,'' AS UnderlyingIndexName
	,'' AS TermOfTheUnderlyingIndex
	,'' AS OptionType
	,'' AS StrikePriceType
	,'' AS StrikePrice
	,'' AS StrikePriceCurrency
	,'' AS OptionExerciseStyle
	,'' AS MaturityDate
	,CASE	WHEN P.LEI = '5493006BWPDUCYG6EQ34' and M.InstrumentID in (26,38,253,308,310,353)  AND M.LastTradedDate IS NOT NULL THEN CAST(M.LastTradedDate AS varchar(10) ) 
	WHEN P.LiquidityAccountID = 259 AND (M.ISINCode IS NULL OR  M.InstrumentID in (26,38,253,308,310,353)) AND M.Expiry_LP_IB IS NOT NULL THEN CAST(M.Expiry_LP_IB AS varchar(10) ) 
	else '' end AS ExpiryDate
	,CASE WHEN (LEI='5493006BWPDUCYG6EQ34' OR P.LiquidityAccountID = 259) AND P.InstrumentID IN (26,38,253,308,310,353) THEN 'CASH' else  '' end AS DeliveryType
	,'ALG' AS InvestmentDecisionWithinFirmType
	,'' AS InvestmentDecisionWithinFirmNPCode
	,'ETORODEALING01' AS InvestmentDecisionWithinFirm
	,'' AS CountryOfTheBranchResponsibleForThePersonMakingTheInvestmentDecision
	,'ALG' AS ExecutionWithinFirmType
	,'' AS ExecutionWithinFirmNPCode
	,'ETORODEALING01' AS ExecutionWithinFirm
	,'' AS CountryOfTheBranchSupervisingThePersonResponsibleForTheExecution
	,'' AS WaiverIndicator
	,CASE WHEN P.IsReal = 1  AND P.IsBuy = 0 and CTP.CurrencyTypeID IN (5,6)  THEN 'SELL' ELSE '' END AS ShortSellingIndicator
	,'' AS OTCPostTradeIndicator
	,CASE WHEN M.InstrumentTypeID = 2 THEN 'false' 
	ELSE '' 
	END AS CommodityDerivativeIndicator
	,'FALSE' AS SecuritiesFinancingTransactionIndicator
	,'' AS BranchLocation
	,'' AS TransactionType
	,'' AS LifecycleEvent
	, RegulationReportID AS RegulationReportID
	,case when  CTP.CurrencyTypeID in (4,5,6) then 'Equity' else CTP.Name end as AssetClass
	,'EU-UK' AS rowSource
	,0 as BackReportingIndicator
	,P.EMSOrderID
	FROM #realstock_EUtrades_via_UK P   WITH (NOLOCK)
		JOIN #Metadata M  WITH (NOLOCK) ON P.InstrumentID = M.InstrumentID
		JOIN Reg_Ext_DictionaryCurrencyType CTP  WITH (NOLOCK) ON CTP.CurrencyTypeID=M.InstrumentTypeID -- 2022-03-22 arielka change 
     WHERE P.InstrumentID NOT IN ( SELECT ISNULL(instrument_id, 0)
				FROM [ThirdParty_Fivetran].[Fivetran].[regulation].[regtech_excluded_instruments]
				WHERE table_name = '[MIFID2_Hedge_Report]'
				)	

	and NOT EXISTS (
			SELECT 1 FROM [ThirdParty_Fivetran].[Fivetran].[regulation].[regtech_excluded_position_ids] b
			WHERE ISNULL(CONCAT(UPPER(CAST(ProviderExecID AS VARCHAR(50))),CAST(RowID AS VARCHAR),CONVERT(varchar(8),@StartDate, 112)),CONCAT(UPPER(LiquidityProvider),CONVERT(varchar(8),@StartDate, 112),CAST(RowID AS VARCHAR)))  = b.position_id
			AND b.table_name = '[MIFID2_Hedge_Report]'
		)
END





