USE [RegReportDB_Prod]
GO
/****** Object:  StoredProcedure [dbo].[SP_MIFID2_HedgeUK_Report]    Script Date: 3/10/2026 2:50:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER    PROCEDURE [dbo].[SP_MIFID2_HedgeUK_Report] @StartDate datetime
	
AS

/********************************************************************************************
Author:      arielk
Date:        2021-06-16
Description: MIFID 2 Regulation Report - Hedging only UK

**************************
** Change History
**************************
Date         Author       Description   
----------    ----------   ------------------------------------
2021-06-16		arielk		created with  changes based  on SP_MIFID2_Hedge_Report excluding the usage HedgeServer_To_LP_Ext
2021-12-21		olegAb		use LiquidityAccountID instead of HedgeServerID
2022-03-22		arielk		add Instrments flter Tradable=1  & remove ref to Syn Tbl
2022-04-05		olegAb		for all indices populate PriceType column as BSPS, all other instruments as MNTR - DSR - 1925
2022-04-10		olegAb		add BackReportingIndicator with hardcoded value = 0 - DSR-1530
2022-04-11		olegAb		Update UK MiFID to consider FCA FIRDS - DSR-1751
2022-06-23      sarahba     update for BuyerCountryOfTheBranch and SellerCountryOfTheBranch fields DSR 2481
2022-10-26      slavane     remove filter   AND EXT.InstrumentID < 100000  -- exclude currency & crypto
2023-01-22      slavane     update StartDate   to  TransactionReferenceNumber  DSR 3627
2023-02-22		arielka		DSR-3817  reintroduce devied by 100 for GBX SellCurrency
2023-04-09		olegAb		DSR-4125  Update MiFID Hedge report (EU + UK) to populate column "CommodityDerivativeIndicator"
2023-06-11		arielka		DSR-4467 populate ExecutionWithinFirmType='ALG' & ExecutionWithinFirm='ETORODEALING01' 
2023-06-12		NirW		DSR-4349 Convert Price to present only 8 digits after decimal point.
2025-01-21      Zurabja     DSR-7784 added filter for final table to exclude InstrumentIDs [ThirdParty_Fivetran].[Fivetran].[regulation].[regtech_excluded_instruments]
2025-01-21   RamaziKa      DSR-7849 added filter  exclude position_id [ThirdParty_Fivetran].[Fivetran].[regulation].[regtech_excluded_position_ids] b
2025-04-23      Davidsi     DSR-8221 Bring the field EMSOrderID to MIFID2_Hedge_Report table
*********************************************************************************************/

BEGIN
SET NOCOUNT ON

--DECLARE	@StartDate datetime = '2023-01-21'
DECLARE	@EndDate datetime = DATEADD(D,1,@StartDate)

 DROP TABLE IF EXISTS #UKtrades
	SELECT      EXT.OrderID as  ExecutionID 
			  ,	EXT.HedgeServerID
			  , EXT.LiquidityAccountID
			  ,cast(LTRIM(RTRIM(LP.LiquidityAccountName)) as varchar(30))  LiquidityProvider
			  ,	EXT.InstrumentID 
			  ,	EXT.IsBuy
			  ,	EXT.Units as AmountInUnits
			  ,	EXT.ExecutionRate as   LPExecutionRate
		      , LP.LEI
			  , LP.LpCountryCode as Country
			  , EXT.EMSOrderID
			  ,UPPER(
			  REPLACE(REPLACE(REPLACE(EXT.ProviderExecID,'-',''),'.',''),
			  SUBSTRING(EXT.ProviderExecID,patindex('%[~,@,#,$,%,&,*,(,),.,!^?:]%' ,EXT.ProviderExecID),1) 
			  , '')
			  ) as ProviderExecID
			  ,EXT.ExecutionTime
			  ,CASE WHEN UPPER(LP.RealOrCFD) = 'REAL'  THEN 1
				 WHEN UPPER(LP.RealOrCFD) = 'CFD'  THEN 0 
				 ELSE -1 END AS IsReal
			,CASE WHEN HBC.HedgeID is null THEN 'CBH' ELSE 'HBC' end  HedgingType
			,ROW_NUMBER() OVER (ORDER BY ExecutionTime) AS RowID
	into #UKtrades
	FROM [dbo].[Reg_Ext_HedgeExecutionLog] EXT with (nolock) 
	--FROM [dbo].[Reg_Ext_HedgeExecutionLog_extDate_20211220] EXT with (nolock) 
	JOIN [dbo].[Reg_Ext_LiquidityAccountID] LP with (nolock)
	ON EXT.[LiquidityAccountID]=LP.[LiquidityAccountID]
	JOIN  dbo.Reg_LiquidtyAcount_SCD  SCD  
			ON EXT.[LiquidityAccountID]=SCD.[LiquidityAccountID]	 
				AND EXT.ExecutionTime>=SCD.ValidFrom  
				AND EXT.ExecutionTime< SCD.ValidTo 
	LEFT JOIN  dbo.Reg_Ext_HedgeHBCOrderLog  HBC WITH (NOLOCK)  
	--LEFT JOIN  [dbo].[Reg_Ext_HedgeHBCOrderLog_extDate_20211220]  HBC WITH (NOLOCK)  
		ON EXT.OrderID=HBC.HedgeID
	WHERE EXT.Units>0 
			AND EXT.EMSOrderID is null
			--AND EXT.InstrumentID < 100000  -- exclude currency & crypto
			AND LP.eToroEntity = '213800FLAB1OVA8OHT72' -- 213800GIFQMSV7HROS23  'ETORO EU'   -- 213800FLAB1OVA8OHT72  'ETORO UK'
			AND EXT.ExecutionTime >= @StartDate 
			AND EXT.ExecutionTime < @EndDate
			AND EXT.Success=1

---------------------------------------------------------------------------------
drop  table  if  exists #Reg_Instruments_SCD
select  * 
into #Reg_Instruments_SCD 
from dbo.Reg_Instruments_SCD WITH (NOLOCK)
where @StartDate >= ValidFrom and  @StartDate< ValidTo
and Tradable=1 	 -- 2022-03-22 arielka change 

--drop table #Metadata
	---------------other tables that should be usefull------------
	drop  table  if exists #Metadata
	select 
	SCD.InstrumentID,
	SCD.InstrumentTypeID,
	SCD.BuyCurrencyID,
	SCD.SellCurrencyID,
	SCD.ISINCode,
	COALESCE(SCD.IsMifidByFCA,SCD.IsMifid) as IsMifidByFCA,
	case when SCD.InstrumentID = IMSC.InstrumentID then 
								REPLACE(IMSC.New_InstrumentDisplayName, ',', ' ') Collate Latin1_General_100_BIN
									Else REPLACE(SCD.InstrumentDisplayName, ',', ' ') end InstrumentFullName,
	case when SellCurrencyID = 666  then 1 else 0 end IsGBX,
	case when SellCurrencyID = 666 then  REPLACE (DC1.Abbreviation, 'GBX', 'GBP') 
		when SellCurrencyID = 38 then REPLACE (DC1.Abbreviation, 'CNH', 'CNY') 
		else DC1.Abbreviation END  SellAbbreviation,
	DC.Abbreviation	BuyAbbreviation 
	into  #Metadata
	--select   *
	from #Reg_Instruments_SCD SCD WITH(NOLOCK)
	join (select  distinct InstrumentID from  #UKtrades) TR  on SCD.InstrumentID=TR.InstrumentID
	LEFT JOIN [dbo].Reg_Ext_DictionaryCurrency DC WITH(NOLOCK)  -- 2022-03-22 arielka change 
	on DC.CurrencyID = SCD.BuyCurrencyID
	LEFT JOIN [dbo].Reg_Ext_DictionaryCurrency DC1 WITH(NOLOCK)  -- 2022-03-22 arielka change 
	on DC1.CurrencyID = SCD.SellCurrencyID 
	LEFT JOIN [dbo].[InstrumentMetaData_SpecialChar_Conversion] IMSC WITH (NOLOCK)
	ON SCD.InstrumentID = IMSC.InstrumentID and IMSC.ReportDate = @StartDate


-------------------------------------------------------------------------------

DECLARE @RowC INT = 1
WHILE @RowC > 0
 
BEGIN
       DELETE TOP (4000)
       FROM [dbo].[MIFID2_Hedge_Report]
	   WHERE ReportDate = @StartDate 
	   AND RegulationReportID= 2
 
       SELECT @RowC = @@rowcount
END


/********************* UK Executive *****************************************/

INSERT INTO [dbo].[MIFID2_Hedge_Report] ([DateID]
		,[ReportDate]
		,[HedgeServerID]
		,[LiquidityAccountID]
		,[LiquidityProvider]
		,[ExecutionID]
		,[InstrumentID]
		,[BuyORSell]
		,[ReportStatus]
		,[TransactionReferenceNumber]
		,[TradingVenueTransactionIdentificationCode]
		,[ExecutingEntityIdentificationCode]
		,[InvestmentFirmCoveredBy201465EU]
		,[BuyerIdentificationCodeType]
		,[BuyerNPCode]
		,[BuyerIdentificationCode]
		,[BuyerCountryOfTheBranch]
		,[BuyerFirstNames]
		,[BuyerSurnames]
		,[BuyerDateOfBirth]
		,[BuyerDecisionMakerCodeType]
		,[BuyerDecisionMakerNPCode]
		,[BuyerDecisionMakerCode]
		,[BuyerDecisionMakerFirstNames]
		,[BuyerDecisionMakerSurnames]
		,[BuyerDecisionMakerDateOfBirth]
		,[SellerIdentificationCodeType]
		,[SellerNPCode]
		,[SellerIdentificationCode]
		,[SellerCountryOfTheBranch]
		,[SellerFirstNames]
		,[SellerSurnames]
		,[SellerDateOfBirth]
		,[SellerDecisionMakerCodeType]
		,[SellerDecisionMakerNPCode]
		,[SellerDecisionMakerCode]
		,[SellerDecisionMakerFirstNames]
		,[SellerDecisionMakerSurnames]
		,[SellerDecisionMakerDateOfBirth]
		,[TransmissionOfOrderIndicator]
		,[TransmittingFirmIdentificationCodeForTheBuyer]
		,[TransmittingFirmIdentificationCodeForTheSeller]
		,[TradingDateTime]
		,[TradingCapacity]
		,[QuantityType]
		,[Quantity]
		,[QuantityCurrency]
		,[DerivativeNotionalIncreaseDecrease]
		,[PriceType]
		,[Price]
		,[PriceCurrency]
		,[NetAmount]
		,[Venue]
		,[CountryOfTheBranchMembership]
		,[UpfrontPayment]
		,[UpfrontPaymentCurrency]
		,[ComplexTradeComponentId]
		,[InstrumentIdentificationCode]
		,[InstrumentFullName]
		,[InstrumentClassification]
		,[NotionalCurrency1]
		,[NotionalCurrency2]
		,[PriceMultiplier]
		,[UnderlyingInstrumentCode]
		,[UnderlyingIndexName]
		,[TermOfTheUnderlyingIndex]
		,[OptionType]
		,[StrikePriceType]
		,[StrikePrice]
		,[StrikePriceCurrency]
		,[OptionExerciseStyle]
		,[MaturityDate]
		,[ExpiryDate]
		,[DeliveryType]
		,[InvestmentDecisionWithinFirmType]
		,[InvestmentDecisionWithinFirmNPCode]
		,[InvestmentDecisionWithinFirm]
		,[CountryOfTheBranchResponsibleForThePersonMakingTheInvestmentDecision]
		,[ExecutionWithinFirmType]
		,[ExecutionWithinFirmNPCode]
		,[ExecutionWithinFirm]
		,[CountryOfTheBranchSupervisingThePersonResponsibleForTheExecution]
		,[WaiverIndicator]
		,[ShortSellingIndicator]
		,[OTCPostTradeIndicator]
		,[CommodityDerivativeIndicator]
		,[SecuritiesFinancingTransactionIndicator]
		,[BranchLocation]
		,[TransactionType]
		,[LifecycleEvent]
		,[RegulationReportID]
		,[AssetClass]
		,[rowSource]
		,[BackReportingIndicator]
		,[EMSOrderID]
  )

 
SELECT 
	CAST(CONVERT(varchar(8),@StartDate, 112)as int) as DateID
		,@StartDate as ReportDate
		,P.HedgeServerID
		,P.LiquidityAccountID
		,P.LiquidityProvider
		,P.ExecutionID
		,P.InstrumentID
		,P.IsBuy AS BuyORSell
		,'NEWT' AS ReportStatus
		,ISNULL(CONCAT(UPPER(CAST(ProviderExecID AS VARCHAR(50))),CAST(RowID AS VARCHAR),CONVERT(varchar(8),@StartDate, 112)),CONCAT(UPPER(LiquidityProvider),CONVERT(varchar(8),@StartDate, 112),CAST(RowID AS VARCHAR))) AS TransactionReferenceNumber 
		,'' AS TradingVenueTransactionIdentificationCode
		,'213800FLAB1OVA8OHT72' AS ExecutingEntityIdentificationCode
		,'TRUE' AS InvestmentFirmCoveredBy201465EU
		,'LEI' AS BuyerIdentificationCodeType
		,'' AS BuyerNPCode
		,CASE WHEN P.IsBuy=1 THEN '213800GIFQMSV7HROS23' ELSE LEI
			END AS BuyerIdentificationCode
		--,CASE WHEN P.IsBuy=1 THEN 'CY' ELSE P.Country END AS BuyerCountryOfTheBranch
		,'' AS BuyerCountryOfTheBranch
		,'' AS BuyerFirstNames
		,'' AS BuyerSurnames
		,'' AS BuyerDateOfBirth
		,'' AS BuyerDecisionMakerCodeType
		,'' AS  BuyerDecisionMakerNPCode
		,'' AS BuyerDecisionMakerCode
		, '' AS BuyerDecisionMakerFirstNames
		, '' AS BuyerDecisionMakerSurnames
		, '' AS BuyerDecisionMakerDateOfBirth
		,'LEI' AS SellerIdentificationCodeType
		,'' AS SellerNPCode
		,CASE WHEN P.IsBuy = 0 THEN '213800GIFQMSV7HROS23' ELSE LEI
			END AS SellerIdentificationCode  -- 20190317 update of real IB
		--,CASE WHEN P.IsBuy=0 THEN 'CY' ELSE P.Country END AS SellerCountryOfTheBranch
		,'' AS SellerCountryOfTheBranch
		,'' AS SellerFirstNames
		,'' AS SellerSurnames
		,'' AS SellerDateOfBirth
		,'' AS SellerDecisionMakerCodeType
		,'' AS SellerDecisionMakerNPCode
		,'' AS SellerDecisionMakerCode
		,'' AS SellerDecisionMakerFirstNames
		,'' AS SellerDecisionMakerSurnames
		,'' AS SellerDecisionMakerDateOfBirth
		,'FALSE' AS TransmissionOfOrderIndicator
		,'' AS TransmittingFirmIdentificationCodeForTheBuyer
		,'' AS TransmittingFirmIdentificationCodeForTheSeller
		,convert(varchar(10),ExecutionTime, 126)+'T'
				+ convert(varchar(8), CASE WHEN DATEPART(ss, ExecutionTime) = 0 THEN DATEADD(ss, 1, ExecutionTime) ELSE ExecutionTime END, 108)
				+'Z' AS TradingDateTime --convert to UK time & avoid ss values ':00' not accepted by FCA 5-3-2017
		,'MTCH' AS TradingCapacity -- 20190317 'MTCH' for all reported by UK
		,'UNIT' AS QuantityType
		,CAST(P.AmountInUnits as varchar) AS Quantity
		,'' AS QuantityCurrency
		,'' AS DerivativeNotionalIncreaseDecrease
		,CASE WHEN CTP.CurrencyTypeID = 4 THEN 'BSPS' ELSE 'MNTR' END AS PriceType
		,convert(numeric(16,8),Case when M.IsGBX=1 then  P.LPExecutionRate/100.00 else P.LPExecutionRate end)  AS Price -- DSR-3817 --DSR-4349
		,SUBSTRING(M.SellAbbreviation, 1, 3) AS PriceCurrency  -- 2019-03-27 Update correct currency
		,'' AS NetAmount
		,'XOFF' AS Venue  --- need to update to XXXX  OR XOFF when real stock/ETF is live
		,'' AS CountryOfTheBranchMembership
		,'' AS UpfrontPayment
		,'' AS UpfrontPaymentCurrency
		,'' AS ComplexTradeComponentId
		,ISINCode AS InstrumentIdentificationCode
		,'' AS InstrumentFullName
		,'' AS InstrumentClassification
		,'' AS NotionalCurrency1
		,'' AS NotionalCurrency2
		,CASE WHEN P.IsReal = 1 THEN '' ELSE '1' END AS PriceMultiplier
		,CASE WHEN P.IsReal  = 1 THEN '' ELSE ISNULL(M.ISINCode,'') END AS UnderlyingInstrumentCode
		,'' AS UnderlyingIndexName
		,'' AS TermOfTheUnderlyingIndex
		,'' AS OptionType
		,'' AS StrikePriceType
		,'' AS StrikePrice
		,'' AS StrikePriceCurrency
		,'' AS OptionExerciseStyle
		,'' AS MaturityDate
		,'' AS ExpiryDate
		,'' AS DeliveryType
		,'' AS InvestmentDecisionWithinFirmType
		,'' AS InvestmentDecisionWithinFirmNPCode
		,'' AS InvestmentDecisionWithinFirm
		,'' AS CountryOfTheBranchResponsibleForThePersonMakingTheInvestmentDecision
		,'ALG' AS ExecutionWithinFirmType
		,'' AS ExecutionWithinFirmNPCode
		,'ETORODEALING01' AS ExecutionWithinFirm
		,'' AS CountryOfTheBranchSupervisingThePersonResponsibleForTheExecution
		,'' AS WaiverIndicator
		,'' AS ShortSellingIndicator
		,'' AS OTCPostTradeIndicator
		,CASE WHEN M.InstrumentTypeID = 2 THEN 'false' 
	ELSE '' 
	END AS CommodityDerivativeIndicator
		,'FALSE' AS SecuritiesFinancingTransactionIndicator
		,'' AS BranchLocation
		,'' AS TransactionType
		,'' AS LifecycleEvent
		,2 AS RegulationReportID
		,case when  CTP.CurrencyTypeID in (4,5,6) then 'Equity' else CTP.Name end as AssetClass
		,'UK' AS rowSource
		,0 as BackReportingIndicator
		,P.EMSOrderID
-- for  test purp --INTO HEDGE_UK_NEW_logic_20210615
FROM #UKtrades P   WITH (NOLOCK)
	JOIN #Metadata M  WITH (NOLOCK) ON P.InstrumentID = M.InstrumentID and M.IsMifidByFCA = 1
	JOIN dbo.Reg_Ext_DictionaryCurrencyType CTP  WITH (NOLOCK) ON CTP.CurrencyTypeID=M.InstrumentTypeID -- 2022-03-22 arielka change 
     WHERE P.InstrumentID NOT IN ( SELECT ISNULL(instrument_id, 0)
				FROM [ThirdParty_Fivetran].[Fivetran].[regulation].[regtech_excluded_instruments]
				WHERE table_name = '[MIFID2_Hedge_Report]'
				)
	and NOT EXISTS (
			SELECT 1 FROM [ThirdParty_Fivetran].[Fivetran].[regulation].[regtech_excluded_position_ids] b
			WHERE ISNULL(CONCAT(UPPER(CAST(ProviderExecID AS VARCHAR(50))),CAST(RowID AS VARCHAR),CONVERT(varchar(8),@StartDate, 112)),CONCAT(UPPER(LiquidityProvider),CONVERT(varchar(8),@StartDate, 112),CAST(RowID AS VARCHAR)))  = b.position_id
			AND b.table_name = '[MIFID2_Hedge_Report]'
		)
END
