USE [RegReportDB_Prod]
GO
/****** Object:  StoredProcedure [dbo].[SP_ASIC2_PositionReport_Agg]    Script Date: 3/10/2026 3:10:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_ASIC2_PositionReport_Agg](@StartDate DATETIME)

AS

/********************************************************************************************
Author:      Zurabja
Date:        2024-08-21
Description: Position Report- create Position report set for ASIC2
**************************
** Change History
**************************
Date         Author       Description
----------   ----------   ------------------------------------
2024-10-28   Davidsi      DSR-7755 Replace [ASIC2_Excluded_UTIs] table with Fivetran file
2024-10-29   Davidsi      DSR-7772 (Similar to DSR-7670) SMSF accounts that are reported as Corporate on some trades dates
2024-11-18   Davidsi      DSR-7752 Update column [CDE_Quantity_unit_of_measure_Leg_1] of ASIC2
2025-01-21   RamaziKa     DSR-7849 added filter  exclude position_id [ThirdParty_Fivetran].[Fivetran].[regulation].[regtech_excluded_position_ids] b
2025-01-22   Davidsi      DSR-7998 ASIC wrong generation of UTI (Rejections of 20250113)
2025-01-28   Davidsi      DSR-8053 Follow up on DSR-7670 DTCC data fields - Update of logic regarding SMSF accounts
2025-01-29   Davidsi      DSR-8056 Follow up on DSR-6950 - DTCC data fields - populate column - [Counterparty_2_name]
2025-02-11   Davidsi      DSR-8017 Develop- Position files: Report '0' quantity when the units of Buy are equal to the units of Sell
2025-02-24	 Ramazika     DSR-7932 update CDE_Counterparty_2 column logic
2025-02-24	 Ramazika     DSR-8197 update Variation_margin_collateral_portfolio_code column logic
2025-02-24   Davidsi      DSR-8207 ASIC SCD issue / UTI fixes
2025-03-24   Davidsi      DSR-8164 EMIR - ASIC : Reporting valuation timestamp based on the actual timestamp
2025-03-24   Davidsi      DSR-8314 Manual fix ASIC rejected UTI (bug fix is in backlog)
2025-03-28   Davidsi      DSR-8331 ASIC UTI fix due to issue with reporting '0' quantity when the units of Buy are equal to the units of Sell
2025-05-01   Davidsi      DSR-8496 ASIC - Rejections for trade date 20250430 due to wrong UTIs
2025-05-29   Davidsi      DSR-8590 ASIC - Rejection for trade date 20250528 due to wrong UTI
2025-06-03   Davidsi      DSR-8606 ASIC - Rejection for trade date 20250603 due to wrong UTI
2025-06-03   Davidsi      DSR-8610 ASIC - Rejections for trade date 20250604 due to wrong UTI
2025-06-23   Davidsi      DSR-8670 ASIC - ASIC - Rejections for trade date 20250619-20250622 due to wrong UTI
2026-02-26   Davidsi      DSR-9299 Column [CDE_Quantity_unit_of_measure_Leg_1] update for GOLD 24/7 (InstrumentID=559)
2026-03-06	 Zurabja	  DSR-9302 Column CDE_Quantity_unit_of_measure_Leg_1 update for Iron Ore and Rubber
*********************************************************************************************/

BEGIN

--DECLARE @StartDate DATE = '2024-09-16'
DECLARE @EndDate DATE = DATEADD(DAY, 1, @StartDate);

DECLARE @SwitchDate DATE = '2024-10-18';--'2024-06-10'
DECLARE @SwitchDateID INT = CONVERT(VARCHAR(8), @SwitchDate, 112);

DROP TABLE IF EXISTS #Metadata;

CREATE TABLE #Metadata (
	InstrumentID INT,
	Symbol VARCHAR(20),
	ExchangeID INT,
	ISINCode VARCHAR(20),
	IsISO INT
)

INSERT INTO #Metadata
SELECT
	RI.InstrumentID,
	RI.SymbolFull AS Symbol,
	ExchangeID,
	CONVERT(VARCHAR(12), LTRIM(RTRIM(RI.ISINCode))) AS ISINCode,
	CASE WHEN ISO.Currency IS NULL THEN 0 ELSE 1 END AS IsISO
FROM [dbo].[Reg_Instruments_SCD] RI WITH(NOLOCK)
LEFT JOIN [dbo].[Reg_Ext_DictionaryCurrency] DCBuy WITH(NOLOCK) ON DCBuy.CurrencyID = RI.BuyCurrencyID
LEFT JOIN [dbo].[Reg_Ext_DictionaryCurrency] DCSell WITH(NOLOCK) ON DCSell.CurrencyID = RI.SellCurrencyID
LEFT JOIN [dbo].[ISO_Currencies_Static] ISO WITH(NOLOCK) ON ((CASE WHEN RI.SellCurrencyID = 666 THEN REPLACE(DCSell.Abbreviation, 'GBX', 'GBP')
    WHEN RI.SellCurrencyID = 38 THEN REPLACE(DCSell.Abbreviation, 'CNH', 'CNY')
		ELSE DCSell.Abbreviation
    END) = ISO.Currency Collate Latin1_General_BIN
		OR RIGHT(RTRIM(DCSell.Abbreviation), 3) = ISO.Currency Collate Latin1_General_BIN)
	WHERE RI.Tradable = 1
		AND @StartDate >= RI.ValidFrom AND @StartDate < RI.ValidTo

-- ################################################
--  Positions Data  Only Open Trades
-- ################################################
DROP TABLE IF EXISTS #Positions;

SELECT
	tp.PositionID,
	tp.CID,
	tp.OpenOccurred AS Occurred,
	tp.IsBuy,
	ti.Symbol,
	tp.AmountInUnitsDecimal,
	CASE WHEN ti.IsISO = 0 THEN tp.InitForexRate * tp.InitConversionRate ELSE tp.InitForexRate END AS InitForexRate,
    REPLACE(REPLACE(UPPER(REPLACE(
		ISNULL(IIF(RTRIM(REPLACE(cc.FirstName, '-', ' ')) LIKE '%[^a-z-A-Z0-9 ]%' AND c.CID IS NOT NULL, c.FirstName, cc.FirstName) , '') 
		+ ' ' + 
		ISNULL(IIF(RTRIM(REPLACE(cc.LastName, '-', ' ')) LIKE '%[^a-z-A-Z0-9 ]%' AND c.CID IS NOT NULL, c.LastName, cc.LastName), ''), ',', ''
	)), '-', ' '), '''', ' ') AS FullName,
	tp.InstrumentID,
	LEI,
	tp.RegulationID,
	CASE WHEN tp.IsBuy = 1 THEN tp.AmountInUnitsDecimal ELSE tp.AmountInUnitsDecimal * (-1) END AS Unitsminplus,
	tp.InitConversionRate,
	ti.IsISO,
	tp.InitForexPriceRateID,
	tp.InitForexRate AS InitForexRate_orig
INTO #Positions
FROM [dbo].[ASIC2_ext_OpenPositions_PositionsReport] tp WITH(NOLOCK)
JOIN #Metadata ti WITH(NOLOCK) ON ti.InstrumentID = tp.InstrumentID 
JOIN [dbo].[ASIC2_Customer_PositionReport] cc WITH(NOLOCK) ON cc.CID = tp.CID
LEFT JOIN [dbo].[Reg_Ext_CustomerLatinName] c WITH(NOLOCK) ON c.CID = cc.CID AND c.FirstName <> ''
WHERE tp.OpenOccurred < @EndDate
	AND (tp.CloseOccurred > @EndDate OR tp.CloseOccurred IS NULL)
	AND tp.IsSettled = 0
	and NOT EXISTS (
				SELECT 1 FROM [ThirdParty_Fivetran].[Fivetran].[regulation].[regtech_excluded_position_ids] b
				WHERE tp.PositionID = b.position_id
				AND b.table_name = '[ASIC2_Positions_AGG]'
			)

CREATE CLUSTERED INDEX #CI_PositionsInstrumentID ON #Positions(InstrumentID, PositionID)


/* #################### handle REG IN DATA #################### */

DROP TABLE IF EXISTS #ASIC_RegOutDailyData;

SELECT *
INTO #ASIC_RegOutDailyData
FROM [dbo].[Reg_RegulationInOutDailyData] WITH(NOLOCK)
WHERE ReportDate = @StartDate
	AND (RegulationID IN(10, 4) AND PrevRegulationID IN(1, 2))

CREATE NONCLUSTERED INDEX XI_ASIC_RegOutDailyData_1 ON #ASIC_RegOutDailyData([ReportDate], [IsPosition], [InstrumentID])
INCLUDE([CID], [Migration_Occurred])

CREATE NONCLUSTERED INDEX XI_ASIC_RegOutDailyData_2 ON #ASIC_RegOutDailyData([ReportDate], [IsPosition], [InstrumentID])
INCLUDE([TransactionID], [NEW_AskSpreaded], [NEW_BidSpreaded])

CREATE NONCLUSTERED INDEX XI_ASIC_RegOutDailyData_3 ON #ASIC_RegOutDailyData([ReportDate], [IsPosition], [InstrumentID])
INCLUDE([Migration_Occurred], [TransactionID])

/* STEP -1 get #RegInNewDate_ByCID data */
DROP TABLE IF EXISTS #RegInNewDate_ByCID;

SELECT DISTINCT CID, Migration_Occurred
INTO #RegInNewDate_ByCID
FROM #ASIC_RegOutDailyData
WHERE IsPosition = 1

/* STEP -1.1 Update by Positions CID */
UPDATE PT
SET Occurred = CASE WHEN PT.Occurred > R.Migration_Occurred THEN PT.Occurred ELSE R.Migration_Occurred END
FROM #Positions PT
JOIN #RegInNewDate_ByCID R ON R.CID = PT.CID;

/* STEP -2 get #RegInNewPrices data */
DROP TABLE IF EXISTS #RegInNewPrices;

SELECT DISTINCT TransactionID, NEW_AskSpreaded, NEW_BidSpreaded, USDConversionRate
INTO #RegInNewPrices
FROM #ASIC_RegOutDailyData
WHERE IsPosition = 1

/* STEP -2.1 Update Positions price for migreted Positions */
UPDATE PT
SET InitForexRate_orig = CASE WHEN PT.IsBuy = 1 THEN NEW_AskSpreaded ELSE NEW_BidSpreaded END,
	InitForexRate = CASE WHEN PT.IsBuy = 1 THEN NEW_AskSpreaded ELSE NEW_BidSpreaded END,
	InitConversionRate = R.USDConversionRate
FROM #Positions PT
JOIN #RegInNewPrices R ON R.TransactionID = PT.PositionID;

--------------------------------------------------------------------------------
/* Fix missing InitConversionRate that Come from HP for non Iso */
--------------------------------------------------------------------------------
-- step - 0 get Pop
DROP TABLE IF EXISTS #ConvFixPop;

SELECT PositionID, InitForexPriceRateID, CAST(CONVERT(VARCHAR, Occurred, 112) AS INT) AS OpenDateID, CAST(NULL AS DECIMAL(16, 8)) AS FixedConversionRate
INTO #ConvFixPop
FROM #Positions
WHERE IsISO = 0 AND InitConversionRate IS NULL

CREATE CLUSTERED INDEX #CI_ConvFixPop ON #ConvFixPop(PositionID, OpenDateID, InitForexPriceRateID)

-- step - 1 FixedConversionRate from currency Active
UPDATE PO
SET FixedConversionRate = DP.USDConversionRate
FROM #ConvFixPop PO
JOIN [dbo].[ASIC2_Daily_Prices] DP WITH(NOLOCK) ON DP.PriceRateID = PO.InitForexPriceRateID

-- step - 2 FixedConversionRate (historic) from Dim_Position
DECLARE @PositionID BIGINT;
DECLARE @OpenDateID INT;

DECLARE NonISO_FIX2 CURSOR FOR
    SELECT PositionID, OpenDateID FROM #ConvFixPop WHERE FixedConversionRate IS NULL
OPEN NonISO_FIX2
FETCH NEXT FROM NonISO_FIX2 INTO @PositionID, @OpenDateID
WHILE @@FETCH_STATUS = 0
BEGIN
	UPDATE a
	SET FixedConversionRate = InitConversionRate
	FROM #ConvFixPop a
	JOIN [dbo].[Reg_DWH_StaticPosition] b WITH(NOLOCK) ON b.PositionID = a.PositionID AND a.OpenDateID = CAST(CONVERT(VARCHAR, b.OpenOccurred, 112) AS INT)
	WHERE a.PositionID = @PositionID AND a.OpenDateID = @OpenDateID
	FETCH NEXT FROM NonISO_FIX2 INTO @PositionID, @OpenDateID
END
CLOSE NonISO_FIX2 
DEALLOCATE NonISO_FIX2 

-- step - 3 FixedConversionRate to #Positions
UPDATE P
SET InitForexRate = InitForexRate_orig * FixedConversionRate
FROM #Positions P
JOIN #ConvFixPop C ON C.PositionID = P.PositionID

--------------------------------------------------------------------------------
-- ASIC_DailyMax_Prices for USDConversionRate Use only
DROP TABLE IF EXISTS #ASIC_DailyMax_Prices;

SELECT CurrencyPriceID, InstrumentID, USDConversionRate
INTO #ASIC_DailyMax_Prices
FROM (
	SELECT CurrencyPriceID, InstrumentID, USDConversionRate, CONVERT(VARCHAR(10), Occurred, 112) AS OccurredDateID
	FROM [dbo].[Reg_Ext_DailyMaxPrices] WITH(NOLOCK)
) a
WHERE OccurredDateID = CONVERT(VARCHAR(10), @StartDate, 112)

CREATE CLUSTERED INDEX #CI_ASIC_DailyMax_Prices ON #ASIC_DailyMax_Prices(InstrumentID)

-- #####################
--    create #prices
-- #####################

DROP TABLE IF EXISTS #Prices_EOD;

SELECT a.InstrumentID, a.Occurred, a.AskSpreaded, a.BidSpreaded
INTO #Prices_EOD
FROM [Reg_Ext_CurrencyPriceMaxDateWithSplit] a WITH(NOLOCK)
WHERE a.OccurredDateID = CONVERT(VARCHAR(10), @StartDate, 112)

---- Convert EOD Prices of non ISO to USD
UPDATE EOD
SET AskSpreaded = EOD.AskSpreaded * DMP.USDConversionRate,
	BidSpreaded = EOD.AskSpreaded * DMP.USDConversionRate
FROM #Prices_EOD EOD
JOIN #Metadata M ON M.InstrumentID = EOD.InstrumentID
JOIN #ASIC_DailyMax_Prices DMP ON DMP.InstrumentID = EOD.InstrumentID
WHERE M.IsISO = 0;

---divide price by 100 when currencty is GBX
UPDATE a
SET AskSpreaded = CASE WHEN (c.BuyAbbreviation = 'GBX' OR c.SellAbbreviation = 'GBX') THEN AskSpreaded / 100 ELSE AskSpreaded END,
	BidSpreaded = CASE WHEN (c.BuyAbbreviation = 'GBX' OR c.SellAbbreviation = 'GBX') THEN BidSpreaded / 100 ELSE BidSpreaded END
FROM #Prices_EOD a
LEFT JOIN dbo.ASIC2_Instrument_Automation c WITH(NOLOCK) ON c.InstrumentID = a.InstrumentID AND c.ReportDate = @StartDate
 
DROP TABLE IF EXISTS #Open_Prices;
DROP TABLE IF EXISTS #position_rn;

SELECT * INTO #position_rn
FROM (
	SELECT *,
		ROW_NUMBER() OVER(PARTITION BY InstrumentID, CID, Occurred ORDER BY InstrumentID, CID, Occurred, PositionID) AS rn,
		(SUM(InitForexRate * AmountInUnitsDecimal) OVER(PARTITION BY InstrumentID, CID ORDER BY InstrumentID, CID) /
		SUM(AmountInUnitsDecimal) OVER(PARTITION BY InstrumentID, CID ORDER BY InstrumentID, CID)) AS InitForexRate_W_avg
	FROM #Positions
) prn
WHERE prn.rn = 1

SELECT pa.InstrumentID, pa.CID, pa.Occurred, 
	CASE WHEN (c.BuyAbbreviation = 'GBX' OR c.SellAbbreviation = 'GBX') THEN pb.InitForexRate_W_avg / 100 ELSE pb.InitForexRate_W_avg END AS InitForexRate,
	c.NotionalCurrency1,
	pb.PositionID
INTO #Open_Prices
FROM (
	SELECT InstrumentID, CID, MIN(Occurred) AS Occurred
	FROM #Positions 
	GROUP BY InstrumentID, CID
) pa
JOIN #position_rn pb ON pa.InstrumentID = pb.InstrumentID AND pb.Occurred = pa.Occurred AND pb.CID = pa.CID
LEFT JOIN dbo.ASIC2_Instrument_Automation c WITH(NOLOCK) ON c.InstrumentID = pa.InstrumentID AND c.ReportDate = @StartDate

/*---------------------------------------------------------------------------------------------------------*/

DECLARE @isRerunSCD INT;
SELECT @isRerunSCD = COUNT(1) FROM dbo.ASIC2_Positions_SCD_History
WHERE SnapDateID = CAST(CONVERT(VARCHAR, GETDATE(), 112) AS INT)

IF @isRerunSCD > 0
	BEGIN
		-- step -1-
		DELETE FROM dbo.ASIC2_Positions_SCD_History
		WHERE SnapDateID = CAST(CONVERT(VARCHAR, GETDATE(), 112) AS INT)
		-- step -2-
		TRUNCATE TABLE dbo.ASIC2_Positions_SCD
		-- step -3-
		INSERT INTO dbo.ASIC2_Positions_SCD
			([UTI], [CID], [InstrumentID], [StartDate], [EndDate], [IsClosed], [AGGType], [UpdateDate], [Open_PositionID]
			,[OpenPrice], [OpenOccurred], [SnapDateID])
		SELECT  
			[UTI], [CID], [InstrumentID], [StartDate], [EndDate], [IsClosed], [AGGType], [UpdateDate], [Open_PositionID]
			,[OpenPrice], [OpenOccurred], [SnapDateID]
		FROM dbo.ASIC2_Positions_SCD_History WITH(NOLOCK)
		WHERE SnapDateID = CAST(CONVERT(VARCHAR, DATEADD(DAY, -1, GETDATE()), 112) AS INT)
		PRINT CONCAT('SCD TBL restored from History ', @@RowCount)
END

/*---------------------------------------------------------------------------------------------------------*/

	-- #####################
	--    Divide Population qty sum equal 0 or not  
	-- #####################

DROP TABLE IF EXISTS #Temp;

SELECT CID, InstrumentID, SUM(CASE WHEN IsBuy = 0 THEN AmountInUnitsDecimal ELSE AmountInUnitsDecimal * (-1) END) AS pr
INTO #Temp
FROM #Positions
GROUP BY CID, InstrumentID

DROP table IF EXISTS #value0;

SELECT *
INTO #value0
FROM #Temp
WHERE pr = 0

--filter population for Agg estimation != 0
DROP TABLE IF EXISTS #valuen0;

SELECT *
INTO #valuen0
FROM #Temp
--WHERE pr <> 0

DROP TABLE IF EXISTS #last_record;

SELECT *
INTO #last_record
FROM (
	SELECT DISTINCT CID, InstrumentID, StartDate, MAX(StartDate) OVER(PARTITION BY CID, InstrumentID) AS mdate
	FROM [dbo].[ASIC2_Positions_SCD] WITH(NOLOCK)
) q
WHERE StartDate = mdate


-- #####################
--   update insert to ASIC UTI SCD
-- #####################

-- update closed agg positions
-- fix last record that exist
UPDATE a
SET a.IsClosed = 1,
	a.[EndDate] = @StartDate,
	a.[UpdateDate] = GETDATE()
FROM [dbo].[ASIC2_Positions_SCD] a WITH(NOLOCK)
JOIN
(
	SELECT v.*, lr.mdate FROM #value0 v
	INNER JOIN #last_record lr ON lr.CID = v.CID AND lr.InstrumentID = v.InstrumentID 
) b ON b.CID = a.CID AND b.InstrumentID = a.InstrumentID
WHERE a.StartDate = b.mdate

DROP TABLE IF EXISTS #closed;

SELECT CID, InstrumentID, Deal
INTO #closed
FROM [dbo].[ASIC2_Positions_AGG] a WITH(NOLOCK)
WHERE ReportDate = DATEADD(DAY, -1, @StartDate)
	AND NOT EXISTS (
		SELECT 1 FROM #valuen0 b
		WHERE b.CID = a.CID AND b.InstrumentID = a.InstrumentID
	)

UPDATE a
SET a.IsClosed = 1,
	a.[EndDate] = @StartDate,
	a.[UpdateDate] = GETDATE() 
FROM [dbo].[ASIC2_Positions_SCD] a WITH(NOLOCK)
WHERE IsClosed = 0 AND EXISTS(SELECT 1 FROM #closed b
							WHERE b.Deal = a.UTI)


--insert new agg position for new CID and Inst
INSERT [dbo].[ASIC2_Positions_SCD] ([UTI], [CID], [InstrumentID], [StartDate], [EndDate], [IsClosed], [AGGType], [UpdateDate], [Open_PositionID]
	,[OpenPrice], [OpenOccurred])
SELECT
	CAST(a.CID AS VARCHAR(20)) + '_' + CAST(a.InstrumentID AS VARCHAR(20)) + '_' + CONVERT(VARCHAR(8), @StartDate, 112) AS UTI,
	a.[CID],
	a.[InstrumentID],
	@StartDate AS StartDate,
	NULL AS EndDate,
	0 AS IsClosed,
	1 AS [AGGType],
	GETDATE() AS [UpdateDate],
	op.PositionID,
	op.InitForexRate AS OpenPrice,
	op.Occurred AS OpenDate
FROM #valuen0 a
LEFT JOIN #Open_Prices op ON op.CID = a.CID AND op.InstrumentID = a.InstrumentID
-- add new row
WHERE NOT EXISTS(SELECT 1 FROM [dbo].[ASIC2_Positions_SCD] b WITH(NOLOCK)
					WHERE b.CID = a.CID AND b.InstrumentID = a.InstrumentID)


--insert new agg positiond for closed agg
INSERT [dbo].[ASIC2_Positions_SCD] ([UTI], [CID], [InstrumentID], [StartDate], [EndDate], [IsClosed], [AGGType], [UpdateDate], [Open_PositionID]
	,[OpenPrice], [OpenOccurred])
SELECT CAST(a.CID AS VARCHAR(20)) + '_' + CAST(a.InstrumentID AS VARCHAR(20)) + '_' + CONVERT(VARCHAR(8), @StartDate, 112) AS UTI,
	a.[CID],
	a.[InstrumentID],
	@StartDate AS StartDate,
	NULL AS EndDate,
	0 AS IsClosed,
	2 AS [AGGType],
	GETDATE() AS [UpdateDate],
	op.PositionID,
	op.InitForexRate AS OpenPrice,
	op.Occurred AS OpenDate
FROM (
	SELECT v.*, lr.mdate FROM #valuen0 v
	INNER JOIN #last_record lr ON lr.CID = v.CID AND lr.InstrumentID = v.InstrumentID
) a
LEFT JOIN #Open_Prices op ON op.CID = a.CID AND op.InstrumentID = a.InstrumentID
WHERE EXISTS(SELECT 1 FROM [dbo].[ASIC2_Positions_SCD] b WITH(NOLOCK)
				WHERE b.CID = a.CID AND b.InstrumentID = a.InstrumentID AND b.EndDate > a.mdate
					AND IsClosed = 1)


-- Update agg positions for Open agg
UPDATE b
SET b.[UpdateDate] = GETDATE(), AGGType = 3,
OpenPrice = op.InitForexRate
FROM [dbo].[ASIC2_Positions_SCD] b WITH(NOLOCK)
INNER JOIN #last_record lr ON lr.CID = b.CID AND lr.InstrumentID = b.InstrumentID
LEFT JOIN #Open_Prices op ON op.CID = b.CID AND op.InstrumentID = b.InstrumentID
WHERE EXISTS(SELECT 1 FROM #valuen0 a
				WHERE a.CID = b.CID AND a.InstrumentID = b.InstrumentID)
	AND IsClosed = 0 AND b.StartDate = lr.mdate


-- Update SCD set SnapDateID
UPDATE dbo.[ASIC2_Positions_SCD] SET SnapDateID = CAST(CONVERT(VARCHAR, GETDATE(), 112) AS INT)

-- Copy snpshot SCD to History
INSERT INTO dbo.ASIC2_Positions_SCD_History
([UTI],[CID], [InstrumentID], [StartDate], [EndDate], [IsClosed], [AGGType], [UpdateDate], [Open_PositionID]
	,[OpenPrice], [OpenOccurred], [SnapDateID])
SELECT [UTI], [CID], [InstrumentID], [StartDate], [EndDate], [IsClosed], [AGGType], [UpdateDate], [Open_PositionID]
	,[OpenPrice], [OpenOccurred], [SnapDateID]
FROM [ASIC2_Positions_SCD] WITH(NOLOCK)

-- #####################
--   bring all attributes to add AGG
-- #####################
DROP TABLE IF EXISTS #closed_Attributes;

SELECT DISTINCT a.*, b.RegulationID, b.LEI, b.FullName, b.Occurred
	INTO #closed_Attributes
FROM (
	SELECT DISTINCT CID, InstrumentID,
		MAX(Occurred) OVER(PARTITION BY CID, InstrumentID) AS Max_Occurred
	FROM #Positions
) a
INNER JOIN #Positions b ON b.CID = a.CID AND b.InstrumentID = a.InstrumentID AND b.Occurred = a.Max_Occurred

/*---------------------------------------------------------------------*/

DROP TABLE IF EXISTS #ASIC2_InstrumentMetaData;

SELECT DISTINCT a.*, b.ExchangeID
INTO #ASIC2_InstrumentMetaData
FROM [dbo].[ASIC2_InstrumentMetaData] a WITH(NOLOCK)
LEFT JOIN #Metadata b ON b.InstrumentID = a.InstrumentID

/* fix - override InstrumentTypeID to 4 when its 2 and has ExchangeID = 3 */
UPDATE #ASIC2_InstrumentMetaData
SET InstrumentTypeID = 4
WHERE InstrumentTypeID = 2 AND ExchangeID = 3

-- align Empty values to null on ISINCode coll
UPDATE #ASIC2_InstrumentMetaData
SET ISINCode = NULL
WHERE UPPER(ISINCode) = 'NA' OR LTRIM(RTRIM(ISINCode)) = '' OR UPPER(ISINCode) = 'NULL'

/*---------------------------------------------------------------------*/

---------------------------
/* Pre insert  Deletes */
---------------------------
DECLARE @RowC INT = 1;

WHILE @RowC > 0
BEGIN
	DELETE TOP (4000)
	FROM [dbo].[ASIC2_Positions_AGG]
	WHERE ReportDate = @StartDate
 
	SELECT @RowC = @@rowcount
END
---------------------------
--- NEW INSERT
DROP TABLE IF EXISTS #OLDASICTEMP;

SELECT
	@StartDate AS ReportDate,
	CONVERT(VARCHAR(8), @StartDate, 112) AS DateID,
	P.CID,
	P.InstrumentID,
	CONVERT(VARCHAR, MAX(scd.[UTI])) AS 'Deal',
	CONVERT(VARCHAR, P.CID) AS 'Login',
	SUBSTRING(CONVERT(VARCHAR, MIN(COALESCE(scd.OpenOccurred, P.Occurred)), 121), 1, 19) AS 'Transaction Time',
	CASE WHEN SUM(P.Unitsminplus) > 0 THEN 'Sell' ELSE 'Buy' END AS 'Type', 
	MAX(LTRIM(RTRIM(P.Symbol))) AS Symbol,
	ABS(SUM(P.Unitsminplus)) AS 'Volume',
	CAST(MIN(scd.OpenPrice) AS DECIMAL(16, 6)) AS 'Open Price',
	CAST(CASE WHEN SUM(P.Unitsminplus) > 0 THEN MAX(PRC.AskSpreaded) ELSE MAX(PRC.BidSpreaded) END AS DECIMAL(16, 6)) AS 'Close Price',
	SUBSTRING(CONVERT(VARCHAR, MAX(PRC.Occurred), 121), 1, 19) AS 'ValuationDateTime'
	,P.FullName
INTO #OLDASICTEMP
FROM #Positions P 
INNER JOIN #valuen0 v ON v.CID = P.CID AND v.InstrumentID = P.InstrumentID
JOIN #Prices_EOD PRC ON PRC.InstrumentID = P.InstrumentID
JOIN [dbo].[ASIC_Positions_SCD] scd WITH(NOLOCK) ON scd.CID = P.CID AND scd.InstrumentID = P.InstrumentID
WHERE scd.[AGGType] = 1 AND scd.IsClosed = 0 
GROUP BY P.CID, P.InstrumentID, P.FullName

UNION

SELECT 
	@StartDate AS ReportDate,
	CONVERT(VARCHAR(8), @StartDate, 112) AS DateID,
	P.CID,
	P.InstrumentID,
	CONVERT (VARCHAR, MAX(scd.[UTI])) AS 'Deal',
	CONVERT (VARCHAR, P.CID) AS 'Login',
	SUBSTRING(CONVERT(VARCHAR, MIN(COALESCE(scd.OpenOccurred, P.Occurred)), 121), 1, 19) AS 'Transaction Time',
	CASE WHEN SUM(P.Unitsminplus) > 0 THEN 'Sell' ELSE 'Buy' END AS 'Type',
	MAX(LTRIM(RTRIM(P.Symbol))) AS Symbol, 
	ABS(SUM(P.Unitsminplus)) AS 'Volume',	
	CAST(MIN(scd.OpenPrice) AS DECIMAL(16, 6)) AS 'Open Price',
	CAST(CASE WHEN SUM(P.Unitsminplus) > 0 THEN MAX(PRC.AskSpreaded) ELSE MAX(PRC.BidSpreaded) END AS DECIMAL(16, 6)) AS 'Close Price',
	SUBSTRING(CONVERT(VARCHAR, MAX(PRC.Occurred), 121), 1, 19) AS 'ValuationDateTime' 
	,P.FullName
FROM #Positions P
INNER JOIN #valuen0 v ON v.CID = P.CID AND v.InstrumentID = P.InstrumentID
JOIN #Prices_EOD PRC ON PRC.InstrumentID = P.InstrumentID
JOIN [dbo].[ASIC_Positions_SCD] scd WITH(NOLOCK) ON scd.CID = P.CID AND scd.InstrumentID = P.InstrumentID
WHERE scd.[AGGType] = 2 AND scd.IsClosed = 0
GROUP BY P.CID, P.InstrumentID, P.FullName

UNION

SELECT
	@StartDate AS ReportDate,
	CONVERT(VARCHAR(8), @StartDate, 112) AS DateID,
	P.CID,
	P.InstrumentID,
	CONVERT(VARCHAR, MAX(scd.[UTI])) AS 'Deal',
	CONVERT(VARCHAR, P.CID) AS 'Login',
	SUBSTRING(CONVERT(VARCHAR, MIN(coalesce(scd.OpenOccurred, P.Occurred)), 121), 1, 19) AS 'Transaction Time',
	CASE WHEN SUM(P.Unitsminplus) > 0 THEN 'Sell' ELSE 'Buy' END AS 'Type',
	MAX(LTRIM(RTRIM(P.Symbol))) AS Symbol,
	ABS(SUM(P.Unitsminplus)) AS 'Volume',
	CAST(MIN(scd.OpenPrice) AS DECIMAL (16, 6)) AS 'Open Price',
	CAST(CASE WHEN SUM(P.Unitsminplus) > 0 THEN MAX(PRC.AskSpreaded) ELSE MAX(PRC.BidSpreaded) END AS DECIMAL(16, 6)) AS 'Close Price',
	SUBSTRING(CONVERT(VARCHAR, MAX(PRC.Occurred), 121), 1, 19) AS 'ValuationDateTime'
	,P.FullName
FROM #Positions P
INNER JOIN #valuen0 v ON v.CID = P.CID AND v.InstrumentID = P.InstrumentID
JOIN #Prices_EOD PRC ON PRC.InstrumentID = P.InstrumentID
JOIN [dbo].[ASIC_Positions_SCD] scd WITH(NOLOCK) ON scd.CID = P.CID AND scd.InstrumentID = P.InstrumentID
WHERE scd.[AGGType] = 3 AND scd.IsClosed = 0
GROUP BY P.CID, P.InstrumentID, P.FullName


drop table if exists #TEMP

SELECT
	OLD_ASIC.DateID AS [DateID]
	,@StartDate AS [ReportDate]
	,OLD_ASIC.CID AS [CID]
	,OLD_ASIC.RegulationID AS [RegulationID]
	,SUBSTRING(OLD_ASIC.Deal, 1, LEN(OLD_ASIC.Deal) - 8) +
	IIF(
		LEFT(REPLACE(OLD_ASIC.[Transaction Time], '-', ''), 8) <= '20220312',
		'20220312',
		LEFT(REPLACE(OLD_ASIC.[Transaction Time], '-', ''), 8)
	) AS [Deal]
	,OLD_ASIC.InstrumentID AS [InstrumentID]
	,OLD_ASIC.Symbol AS [Symbol]
	,ISNULL(MT.ISINCode, '') AS [ISIN] 
	,OLD_ASIC.[Open Price] AS [OpenPrice]
	,OLD_ASIC.[Close Price] AS [ClosePrice_EOD]
	,OLD_ASIC.Volume AS Quantity
	,cr.USDConversionRate AS [CurrencyConversionRateToUSD]
	,'C' AS [Hedge_Client]
	,'P' AS [Level]
	,OLD_ASIC.updatedate AS [UpdateDate]
	,'ASIC' AS [ReportingJurisdiction]
	,'FALSE' AS [Uncollateralised]
	,IIF(uti.cid IS NOT NULL,
        CONCAT('549300OK2V4QF20B0D04', 'C', CONVERT(VARCHAR(20), OLD_ASIC.CID), 'N', OLD_ASIC.InstrumentID, 'D', LEFT(REPLACE(OLD_ASIC.[Transaction Time], '-', ''), 8), 'A'),
        IIF(@StartDate >= @SwitchDate AND LEFT(REPLACE(OLD_ASIC.[Transaction Time], '-', ''), 8) >= @SwitchDateID,
		    CONCAT('549300OK2V4QF20B0D04', 'C', CONVERT(VARCHAR(20), OLD_ASIC.CID), 'N', OLD_ASIC.InstrumentID, 'D', LEFT(REPLACE(OLD_ASIC.[Transaction Time], '-', ''), 8), 'A'),
		    CONCAT('E02', OLD_ASIC.[Login], REPLACE (
			    SUBSTRING(OLD_ASIC.Deal, 1, LEN(OLD_ASIC.Deal) - 8) +
				    IIF (
					    LEFT(REPLACE(OLD_ASIC.[Transaction Time], '-', ''), 8) <= '20220312',
					    '20220312',
					    LEFT(REPLACE(OLD_ASIC.[Transaction Time], '-', ''), 8)
				    )
		    , '_', ''))
	    )
    ) AS [UTI]
	,ISNULL(UPI.upi, '') AS [Unique_product_identifier_UPI]
	,CASE
		WHEN M.InstrumentTypeID = 1 THEN 'CURR' -- foreign exchange
		WHEN M.InstrumentID IN(312, 313, 314) THEN 'INTR' -- interest rates
		WHEN M.InstrumentTypeID IN(2) AND MT.ExchangeID = 2 THEN 'COMM' -- commodities
		WHEN M.InstrumentTypeID IN(2) AND MT.ExchangeID = 3 THEN 'EQUI' -- equities, this condition is needed for some indices (typically incorrectly mapped)
		WHEN M.InstrumentTypeID IN(10) THEN 'COMM' -- crypto
		WHEN M.InstrumentTypeID IN(4, 5, 6) THEN 'EQUI' --Indices, Stocks, ETFs
		ELSE ''
	END AS [Asset_class]
	,'CFDS' AS [Contract_type]
	,'549300OK2V4QF20B0D04' AS [Entity_responsible_for_reporting]
	,'549300OK2V4QF20B0D04' AS [CDE_Counterparty_1_reporting_counterparty]
	,IIF(uti.cid IS NOT NULL,
    ISNULL(CASE
		WHEN AccountTypeID = 14 THEN '549300OK2V4QF20B0D04' + CAST(OLD_ASIC.CID AS VARCHAR(50))
		WHEN (AccountTypeID = 2 AND PlayerLevelID <> 4) OR OLD_ASIC.LEI IS NOT NULL THEN CAST(OLD_ASIC.LEI AS VARCHAR)
		WHEN OLD_ASIC.CID IN('5969868', '5969870', '5969875') THEN '213800MX2JM9T8WTRW50'
		ELSE '549300OK2V4QF20B0D04' + CAST(OLD_ASIC.CID AS VARCHAR(50))
	END, ''),
	IIF(AccountTypeID = 14, '549300OK2V4QF20B0D04' + CAST(OLD_ASIC.CID AS VARCHAR(50)),
		IIF(@StartDate >= @SwitchDate AND LEFT(REPLACE(OLD_ASIC.[Transaction Time], '-', ''), 8) >= @SwitchDateID,
			ISNULL(CASE
				WHEN (AccountTypeID = 2 AND PlayerLevelID <> 4) OR OLD_ASIC.LEI IS NOT NULL THEN CAST(OLD_ASIC.LEI AS VARCHAR)
				WHEN OLD_ASIC.CID IN('5969868', '5969870', '5969875') THEN '213800MX2JM9T8WTRW50'
				ELSE '549300OK2V4QF20B0D04' + CAST(OLD_ASIC.CID AS VARCHAR(50))
			END, ''),
			ISNULL(OLD_ASIC.LEI,ISNULL(
									CASE
										WHEN OLD_ASIC.LEI IS NOT NULL THEN OLD_ASIC.LEI
										WHEN AccountTypeID = 14 THEN '549300OK2V4QF20B0D04' + CAST(OLD_ASIC.CID AS VARCHAR(50))
										WHEN OLD_ASIC.CID IN ('5969868', '5969870', '5969875') THEN '213800MX2JM9T8WTRW50'
										ELSE '549300OK2V4QF20B0D04' + CAST(OLD_ASIC.CID AS VARCHAR(50))
									END, ''))
		)		)    ) AS [CDE_Counterparty_2]
	,CASE
		WHEN AccountTypeID = 14 THEN SUBSTRING(REPLACE(ISNULL(OLD_ASIC.FullName, '') + ' ' , ',', ''), 1, 105)
		WHEN (AccountTypeID = 2 AND PlayerLevelID <> 4) OR OLD_ASIC.CID IN('5969868', '5969870', '5969875') OR OLD_ASIC.LEI IS NOT NULL THEN ''
		ELSE SUBSTRING(REPLACE(ISNULL(OLD_ASIC.FullName, '') + ' ' , ',', ''), 1, 105)
	END AS [Counterparty_2_name]
	,CASE
		WHEN AccountTypeID = 14 THEN 'FALSE'
		WHEN (AccountTypeID = 2 AND PlayerLevelID <> 4) OR OLD_ASIC.LEI IS NOT NULL THEN 'TRUE'
		WHEN OLD_ASIC.CID IN('5969868', '5969870', '5969875') THEN 'TRUE'
		ELSE 'FALSE'
	END AS [CDE_Counterparty_2_identifier_type]
	,CASE
		WHEN AccountTypeID = 14 THEN ASIC2CP.Country
		WHEN (AccountTypeID = 2 AND PlayerLevelID <> 4) OR OLD_ASIC.CID IN('5969868', '5969870', '5969875') OR OLD_ASIC.LEI IS NOT NULL THEN ''
		ELSE CASE WHEN ASIC2CP.CountryID = 144 THEN 'NL' ELSE ASIC2CP.Country END
	END AS [Country_of_counterparty_2]
	,'' AS [CDE_Beneficiary_1]
	,'' AS [CDE_Beneficiary_1_type]
	,'' AS [Broker_ID]
	,'' AS [Execution_agent_of_Counterparty_1]
	,CASE
        WHEN v.pr='0' THEN 'for_update'
        WHEN OLD_ASIC.[Type] = 'Sell' THEN 'SLLR'
        ELSE 'BYER'
	END AS [CDE_Direction_1_Buyer_identifier_Seller_identifier]
	,'' AS [CDE_Direction_2_Payer_identifier_Receiver_identifier_of_leg_1]
	,'' AS [CDE_Direction_2_Payer_identifier_Receiver_identifier_of_leg_2]
	,'' AS [CDE_Effective_date]
	,'' AS [CDE_Expiration_date]
	,CONVERT(VARCHAR(20), CONVERT(VARCHAR(10), CONVERT(DATE, OLD_ASIC.[Transaction Time])) + 'T' + RIGHT(OLD_ASIC.[Transaction Time], 8) + 'Z') AS [CDE_Execution_timestamp]
	,'' AS [CDE_Event_timestamp]
	,'' AS [Clearing_timestamp]
	,'N' AS [CDE_Cleared]
	,'' AS [CDE_Central_counterparty]
	,'' AS [CDE_Clearing_member]
	,'XXXX' AS [CDE_Platform_identifier]
	,ABS(IIF(M.InstrumentTypeID = 1,
		CAST(OLD_ASIC.Volume AS DECIMAL(25, 5)),
		CAST(CONVERT(DECIMAL(25, 5), CAST(OLD_ASIC.Volume AS DECIMAL(25, 5)) *
		(CASE
			WHEN M.InstrumentID IN(312, 313, 314) THEN CAST(OLD_ASIC.[Open Price] AS DECIMAL(11, 3))
			WHEN M.InstrumentTypeID IN(2) AND MT.ExchangeID = 3 THEN CAST(OLD_ASIC.[Open Price] AS DECIMAL(11, 3))
			WHEN M.InstrumentTypeID IN(4) THEN CAST(OLD_ASIC.[Open Price] AS DECIMAL (11, 3))
			ELSE CAST(OLD_ASIC.[Open Price] AS DECIMAL(18, 8))
		END)) AS VARCHAR))) AS [CDE_Notional_amount_of_leg_1]
	,IIF(M.InstrumentTypeID = 1,
		CAST(ABS(CONVERT(DECIMAL(25, 5), CAST(OLD_ASIC.Volume AS DECIMAL(25, 5)) *
		(CASE
			WHEN M.InstrumentID IN(312, 313, 314) THEN CAST(OLD_ASIC.[Open Price] AS DECIMAL(11, 3))
			WHEN M.InstrumentTypeID IN(2) and MT.ExchangeID = 3 THEN CAST(OLD_ASIC.[Open Price] AS DECIMAL(11, 3))
			WHEN M.InstrumentTypeID IN(4) THEN CAST(OLD_ASIC.[Open Price] AS DECIMAL(11, 3))
			ELSE CAST(OLD_ASIC.[Open Price] AS DECIMAL(18, 8))
		END))) AS VARCHAR),
		''
	) AS [CDE_Notional_amount_of_leg_2]
	,CASE
		WHEN v.pr='0' THEN '0'
		WHEN M.InstrumentTypeID IN(2, 4, 5, 6, 10) AND M.InstrumentID NOT IN(312, 313, 314) THEN CONVERT(VARCHAR, ABS(CAST(OLD_ASIC.Volume AS DECIMAL(25, 5))))
		ELSE ''
	END AS [CDE_Total_notional_quantity_of_leg_1]
	,'' AS [CDE_Total_notional_quantity_of_leg_2]
	,CASE
		WHEN v.pr='0' THEN '0'
		WHEN M.InstrumentTypeID IN(2, 4, 5, 6, 10) AND M.InstrumentID NOT IN(312, 313, 314) then CONVERT(VARCHAR, CAST(OLD_ASIC.Volume AS DECIMAL(25, 5)))
		ELSE ''
	END AS [Notional_quantity_Leg_1]
	,'' AS [Notional_quantity_Leg_2]
	,'' AS [CDE_Call_amount]
	,'' AS [CDE_Put_amount]
	,CASE
		WHEN MT.InstrumentID IS NOT NULL AND MT.IsISO = 0 THEN 'USD'
		ELSE
			CASE
				WHEN M.InstrumentTypeID = 1 THEN SUBSTRING(M.BuyAbbreviation, 1, 3)
				ELSE SUBSTRING(M.SellAbbreviation, 1, 3) 
			END
	END AS [CDE_Notional_currency_1]
	,CASE
		WHEN M.InstrumentTypeID = 1 THEN SUBSTRING(M.SellAbbreviation, 1, 3)
		ELSE ''
	END AS [CDE_Notional_currency_2]
	,CASE
		WHEN M.InstrumentID IN(17, 115, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280,
			281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 95, 481, 482, 484, 485, 486, 487, 489, 490, 491, 502, 510, 524) THEN 'BARL' -- WTI Crude oil
		WHEN M.InstrumentID IN(335) THEN 'USGA' -- gasoline
		WHEN M.InstrumentID IN(336) THEN 'BARL' -- heating oil
		WHEN M.InstrumentID IN(341) THEN 'BARL' -- brent oil
		WHEN M.InstrumentID IN(22, 319, 116, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 379, 387, 388, 389) THEN 'MBTU' -- Natural Gas
		WHEN M.InstrumentID IN(18, 559) THEN 'OZTR' -- gold
		WHEN M.InstrumentID IN(19) THEN 'OZTR' -- silver
		WHEN M.InstrumentID IN(40) THEN 'OZTR' -- platinum
		WHEN M.InstrumentID IN(41, 91) THEN 'OZTR' -- palladium
		WHEN M.InstrumentID IN(21) THEN 'PUND' -- copper
		WHEN M.InstrumentID IN(99, 342, 344) THEN 'TONE' -- aluminium
		WHEN M.InstrumentID IN(100, 343) THEN 'TONE' -- nickel
		WHEN M.InstrumentID IN(339) THEN 'TONE' -- lead
		WHEN M.InstrumentID IN(340) THEN 'TONE' -- zinc
        WHEN M.InstrumentID IN(380) THEN 'TONE' -- steel
		WHEN M.InstrumentID IN(92) THEN 'PUND' -- raw sugar (same as Sugar no.11)
		WHEN M.InstrumentID IN(94) THEN 'TONE' -- white sugar
		WHEN M.InstrumentID IN(96) THEN 'TONE' -- cocoa
		WHEN M.InstrumentID IN(317, 318, 332) THEN 'BUSL' -- soybeans
		WHEN M.InstrumentID IN(325) THEN 'UCWT' -- rice
		WHEN M.InstrumentID IN(93, 98) THEN 'PUND' -- cotton and cotton no.7
		WHEN M.InstrumentID IN(97) THEN 'BUSL' -- wheat
		WHEN M.InstrumentID IN(311) THEN 'PUND' -- orange juice
        WHEN M.InstrumentID IN(422) THEN 'PUND' -- canola
        WHEN M.InstrumentID IN(381) THEN 'PUND' -- class III milk
        WHEN M.InstrumentID IN(382) THEN 'TONE' -- lumber`
		WHEN M.InstrumentID IN(324) THEN 'BUSL' -- oats
		WHEN M.InstrumentID IN(331) THEN 'BUSL' -- corn
		WHEN M.InstrumentID IN(334) THEN 'PUND' -- coffee Arabica
		WHEN M.InstrumentID IN(337, 338) THEN 'PUND' -- Livestock
		WHEN M.InstrumentID IN(333) THEN 'ENVO' -- emissions
		WHEN M.InstrumentID IN(557) THEN 'TONE'  -- Iron Ore
		WHEN M.InstrumentID IN(558) THEN 'TONE'  -- Rubber
		WHEN M.InstrumentTypeID IN(2) AND M.ExchangeID = 3  THEN 'IPNT' -- this condition is needed for some indices (typically incorrectly mapped)
		WHEN M.InstrumentTypeID IN(10) THEN 'LOTS' -- crypto
		WHEN M.InstrumentTypeID IN(4) AND M.InstrumentID NOT IN(312, 313, 314) THEN 'IPNT' --Indices
		WHEN M.InstrumentTypeID IN(5, 6) THEN 'SHAS' -- Stocks and ETFs
		ELSE ''
	END AS [CDE_Quantity_unit_of_measure_Leg_1]
	,'' AS [CDE_Quantity_unit_of_measure_Leg_2]
	,'' AS [CDE_Call_currency]
	,'' AS [CDE_Put_currency]
	,'' AS [CDE_Effective_date_of_notional_amount_of_leg_1]
	,'' AS [CDE_End_date_of_notional_amount_of_leg_1]
	,'' AS [CDE_Notional_amount_in_effect_on_associated_effective_date_of_leg_1]
	,'' AS [CDE_Effective_date_of_notional_amount_of_leg_2]
	,'' AS [CDE_End_date_of_notional_amount_of_leg_2]
	,'' AS [CDE_Notional_amount_in_effect_on_associated_effective_date_of_leg_2]
	,CASE
		WHEN M.InstrumentID IN(312, 313, 314) THEN '3' -- interest rates
		WHEN M.InstrumentTypeID IN(2) AND MT.ExchangeID = 3 THEN '3' --this condition is needed for some indices (typically incorrectly mapped)
		WHEN M.InstrumentTypeID IN(4) THEN '3' -- indices
		ELSE '1'
	 END AS [CDE_Price_notation]
	,CASE
		WHEN M.InstrumentID IN(312, 313, 314) THEN CONVERT(VARCHAR, CAST(OLD_ASIC.[Open Price] AS DECIMAL(11, 3))) -- interest rates 
		WHEN M.InstrumentTypeID IN(2) AND MT.ExchangeID = 3 THEN CONVERT(VARCHAR, CAST(OLD_ASIC.[Open Price] AS DECIMAL(11, 3))) -- this condition is needed for some indices (typically incorrectly mapped)
		WHEN M.InstrumentTypeID IN(4) THEN CONVERT(VARCHAR, CAST(OLD_ASIC.[Open Price] AS DECIMAL(11, 3))) -- indices			ELSE CONVERT(VARCHAR,cast(OLD_ASIC.[Open Price] as decimal (18,8)))
		ELSE CONVERT(VARCHAR, cast(OLD_ASIC.[Open Price] AS DECIMAL(18, 8)))
		END AS [CDE_Price]
	,CASE
		WHEN M.InstrumentID IN(312, 313, 314) THEN '' 
		WHEN M.InstrumentTypeID IN(2) AND MT.ExchangeID = 3 THEN ''
		WHEN M.InstrumentTypeID IN(4) THEN ''
		ELSE
			CASE
				WHEN MT.InstrumentID IS NOT NULL AND MT.IsISO = 0 THEN 'USD'
				ELSE CONVERT(VARCHAR(3), M.SellAbbreviation)
			END
	END AS [CDE_Price_currency]
	,'ACCY' AS [CDE_Price_unit_of_measure]
	,'' AS [CDE_Fixed_rate_of_leg_1_coupon]
	,'' AS [CDE_Fixed_rate_of_leg_2]
	,'' AS [CDE_Spread_notation_of_leg_1]
	,'' AS [CDE_Spread_of_leg_1]
	,'' AS [CDE_Spread_notation_of_leg_2]
	,'' AS [CDE_Spread_of_leg_2]
	,'' AS [CDE_Spread_currency_of_leg_1]
	,'' AS [CDE_Spread_currency_of_leg_2]
	,'' AS [CDE_Strike_price_notation]
	,'' AS [CDE_Strike_price]
	,'' AS [CDE_Strike_price_currency]
	,'' AS [CDE_Strike_price_currency_2]
	,'' AS [CDE_Option_premium_amount]
	,'' AS [CDE_Option_premium_currency]
	,'' AS [CDE_Option_premium_payment_date]
	,CASE WHEN M.InstrumentTypeID = 1 THEN CONVERT(VARCHAR, CAST(OLD_ASIC.[Open Price] AS DECIMAL(18, 13))) ELSE '' END AS [CDE_Exchange_rate]
	,LEFT(CASE
		WHEN M.InstrumentTypeID = 1 and M.InstrumentID = 45 THEN 'USD/CNY'
		WHEN M.InstrumentTypeID = 1 and M.InstrumentID <> 45 THEN InstrumentName
		ELSE '' END
	, 3) AS [CDE_Exchange_rate_basis_currency_1]
	,RIGHT(CASE
		WHEN M.InstrumentTypeID = 1 and M.InstrumentID = 45 THEN 'USD/CNY'
		WHEN M.InstrumentTypeID = 1 and M.InstrumentID <> 45 THEN InstrumentName
		ELSE '' END
	, 3) AS [CDE_Exchange_rate_basis_currency_2]
	,'' AS [CDE_Fixed_rate_coupon_day_count_convention_leg_1]
	,'' AS [CDE_Floating_rate_day_count_convention_of_leg_1]
	,'' AS [CDE_Fixed_rate_day_count_convention_leg_2]
	,'' AS [CDE_Floating_rate_day_count_convention_of_leg_2]
	,'' AS [CDE_Fixed_rate_coupon_payment_frequency_period_leg_1]
	,'' AS [CDE_Floating_rate_payment_frequency_period_of_leg_1]
	,'' AS [CDE_Fixed_rate_payment_frequency_period_leg_2]
	,'' AS [CDE_Floating_rate_payment_frequency_period_of_leg_2]
	,'' AS [CDE_Fixed_rate_coupon_payment_frequency_period_multiplier_leg_1]
	,'' AS [CDE_Floating_rate_payment_frequency_period_multiplier_of_leg_1]
	,'' AS [CDE_Fixed_rate_payment_frequency_period_multiplier_leg_2]
	,'' AS [CDE_Floating_rate_payment_frequency_period_multiplier_of_leg_2]
	,'' AS [CDE_Settlement_currency_1]
	,'' AS [CDE_Settlement_currency_2]
	,'' AS [CDE_Other_payment_amount]
	,'' AS [CDE_Other_payment_type]
	,'' AS [CDE_Other_payment_currency]
	,'' AS [CDE_Other_payment_date]
	,'' AS [CDE_Other_payment_payer]
	,'' AS [CDE_Other_payment_receiver]
	,'' AS [Custom_basket_code_Identifier_LEI]
	,'' AS [CDE_Identifier_of_baskets_constituents]
	,'' AS [CDE_Source_of_identifier_of_baskets_constituents]
	,'' AS [Underlying_identification]
	,'' AS [Underlying_identification_type]
	,'' AS [Maturity_date_of_underlying]
	,'' AS [Indicator_of_floating_rate_of_leg_2]
	,'' AS [Floating_rate_reference_period_of_leg_2_time_period]
	,'' AS [Floating_rate_reference_period_of_leg_2_multiplier]
	,'' AS [CDE_CDS_index_attachment_point]
	,'' AS [CDE_CDS_index_detachment_point]
	,'' AS [Index_factor]
	,'' AS [CDE_Package_identifier]
	,'' AS [Swap_link_ID]
	,'' AS [CDE_Package_transaction_price_notation]
	,'' AS [CDE_Package_transaction_price]
	,'' AS [CDE_Package_transaction_price_currency]
	,'' AS [CDE_Package_transaction_spread_notation]
	,'' AS [CDE_Package_transaction_spread]
	,'' AS [CDE_Package_transaction_spread_currency]
	,'' AS [CDE_Prior_UTI]
	,'' AS [Event_Identifier]
	,'' AS [Action_type]
	,'' AS [Event_type]
	,'' AS [Report_submitting_entity_ID]
	,'NOAP' AS [Initial_margin_collateral_portfolio_code]
	,IIF(uti.cid IS NOT NULL,
        ISNULL(CASE
            WHEN AccountTypeID = 14 THEN '549300OK2V4QF20B0D04' + CAST(OLD_ASIC.CID AS VARCHAR(50))
			WHEN (AccountTypeID = 2 AND PlayerLevelID <> 4) OR OLD_ASIC.LEI IS NOT NULL THEN CAST(OLD_ASIC.LEI AS VARCHAR)
			WHEN OLD_ASIC.CID IN('5969868', '5969870', '5969875') THEN '213800MX2JM9T8WTRW50' 
			ELSE '549300OK2V4QF20B0D04' + CAST(OLD_ASIC.CID AS VARCHAR(50))
		END, ''),
		IIF(AccountTypeID = 14, '549300OK2V4QF20B0D04' + CAST(OLD_ASIC.CID AS VARCHAR(50)),
			IIF(@StartDate >= @SwitchDate AND LEFT(REPLACE(OLD_ASIC.[Transaction Time], '-', ''), 8) >= @SwitchDateID,
				ISNULL(CASE
					WHEN (AccountTypeID = 2 AND PlayerLevelID <> 4) OR OLD_ASIC.LEI IS NOT NULL THEN CAST(OLD_ASIC.LEI AS VARCHAR)
					WHEN OLD_ASIC.CID IN('5969868', '5969870', '5969875') THEN '213800MX2JM9T8WTRW50' 
					ELSE '549300OK2V4QF20B0D04' + CAST(OLD_ASIC.CID AS VARCHAR(50))
				END, ''),
				ISNULL(OLD_ASIC.LEI,ISNULL(
										CASE
											WHEN OLD_ASIC.LEI IS NOT NULL THEN OLD_ASIC.LEI
											WHEN AccountTypeID = 14 THEN '549300OK2V4QF20B0D04' + CAST(OLD_ASIC.CID AS VARCHAR(50))
											WHEN OLD_ASIC.CID IN ('5969868', '5969870', '5969875') THEN '213800MX2JM9T8WTRW50'
											ELSE '549300OK2V4QF20B0D04' + CAST(OLD_ASIC.CID AS VARCHAR(50))
										END, ''))
			)
		)
    ) AS [Variation_margin_collateral_portfolio_code]
	,'' AS [Small_scale_Buy_side_Entity_indicator]
	,'TRUE' AS [CDE_Collateral_portfolio_indicator]
	,CONVERT(VARCHAR(20), CONVERT(VARCHAR(10), CONVERT(DATE, OLD_ASIC.ValuationDateTime)) + 'T'+convert(varchar, cr.Occurred, 108)+'Z') AS [CDE_Valuation_timestamp]
    ,IIF(OLD_ASIC.Type = 'Sell',
		-1 * OLD_ASIC.Volume * (OLD_ASIC.[Close Price] - OLD_ASIC.[Open Price]) * cr.USDConversionRate,
		OLD_ASIC.Volume * (OLD_ASIC.[Close Price] - OLD_ASIC.[Open Price]) * cr.USDConversionRate
	) AS [CDE_Valuation_amount]
	,'USD' AS [CDE_Valuation_currency]
	,'MTMA' AS [CDE_Valuation_method]
	,'' AS [CDE_Delta]
	,'' AS [Next_floating_reference_reset_date_Leg_1]
	,'' AS [Next_floating_reference_reset_date_Leg_2]
	,'' AS [Technical_Record_Identification]
	,'' AS [CDE_Reporting_timestamp]
	,'' AS [Secondary_transaction_identifier]
	,'' AS [New_Derivative_Trade_Repository]
	,'' AS [Single_lower_barrier_price_notation]
	,'' AS [Upper_barrier_price_notation]
	,'' AS [Single_lower_barrier_price]
	,'' AS [Upper_barrier_price]
	,'' AS [Single_lower_barrier_price_currency]
	,'' AS [Upper_barrier_price_currency]
INTO #TEMP
FROM (
	SELECT un.*,
		GETDATE() AS updatedate, att.LEI, att.RegulationID,
		TradeParty1_ThirdPartyViewerID = '213800GIFQMSV7HROS23'
	FROM #OLDASICTEMP un
	INNER JOIN #closed_Attributes att ON att.CID = un.CID AND att.InstrumentID = un.InstrumentID  
) OLD_ASIC
left join #value0 v on v.CID=OLD_ASIC.CID and v.InstrumentID=OLD_ASIC.InstrumentID
LEFT JOIN [ThirdParty_Fivetran].[Fivetran].[regtech].[emir_refir_upi] UPI WITH(NOLOCK) ON UPI.instrument_id = OLD_ASIC.InstrumentID
JOIN #ASIC2_InstrumentMetaData M ON M.InstrumentID = OLD_ASIC.InstrumentID
JOIN #Metadata MT ON MT.InstrumentID = OLD_ASIC.InstrumentID
LEFT JOIN [dbo].[ASIC2_Customer_PositionReport] AS ASIC2CP WITH(NOLOCK) ON ASIC2CP.CID = OLD_ASIC.CID
LEFT JOIN (
	SELECT TOP 1 WITH ties * FROM [dbo].[Reg_Ext_DailyMaxPrices] WITH(NOLOCK)
	ORDER BY ROW_NUMBER() OVER(PARTITION BY InstrumentID ORDER BY Occurred DESC)
) cr ON cr.InstrumentID = OLD_ASIC.InstrumentID
LEFT JOIN [ThirdParty_Fivetran].[Fivetran].[regulation].[asic_2_excluded_utis] uti ON uti.cid = OLD_ASIC.CID AND uti.instrument_id = OLD_ASIC.InstrumentID
LEFT JOIN [ThirdParty_Fivetran].[Fivetran].[regtech].[regulation_report_excluded_cids] f ON f.cid = OLD_ASIC.CID
WHERE f.cid IS NULL

--fix missed CID: 502061 and InstrumentID: 5 (making new structure for them as they got rejected)
UPDATE #TEMP
SET UTI='549300OK2V4QF20B0D04C502061N5D20240711A'
WHERE UTI='E02502061502061520240711'

--fix missed CID: 20865730 and InstrumentID: 100000 (making new structure for them as they got rejected)
UPDATE #TEMP
SET UTI='549300OK2V4QF20B0D04C20865730N100000D20210320A'
WHERE UTI='E02208657302086573010000020220312'

--DSR-8207 manual fix
UPDATE #TEMP
set Deal='15706229_28_20250204', UTI='549300OK2V4QF20B0D04C15706229N28D20250204A', CDE_Execution_timestamp='2025-02-04T15:30:42Z'
where CID=15706229 and InstrumentID=28 and UTI='549300OK2V4QF20B0D04C15706229N28D20250203A'

--manual fix missing 0 quantity of that day rejection reason
UPDATE #TEMP
set Deal='40067115_5_20250307', UTI='549300OK2V4QF20B0D04C40067115N5D20250307A', CDE_Execution_timestamp='2025-03-07T08:11:31Z'
where CID=40067115 and InstrumentID=5 and UTI='549300OK2V4QF20B0D04C40067115N5D20250306A'

--adding case before fix 0 quantity bug (DSR-8314)
UPDATE #TEMP
set Deal='4357768_18_20250301', UTI='549300OK2V4QF20B0D04C4357768N18D20250301A', CDE_Execution_timestamp='2025-03-01T17:03:49Z'
where CID=4357768 and InstrumentID=18 and UTI='549300OK2V4QF20B0D04C4357768N18D20250228A'

--adding case before fix 0 quantity bug (DSR-8331)
UPDATE #TEMP
set Deal='42663877_45_20250312', UTI='549300OK2V4QF20B0D04C42663877N45D20250312A', CDE_Execution_timestamp='2025-03-12T19:46:12Z'
where CID=42663877 and InstrumentID=45 and UTI='549300OK2V4QF20B0D04C42663877N45D20250311A'

--DSR-8496 manual fix of UTI
UPDATE #TEMP
set Deal='15706229_28_20250424', UTI='549300OK2V4QF20B0D04C15706229N28D20250424A', CDE_Execution_timestamp='2025-04-24T16:56:28Z'
where CID=15706229 and InstrumentID=28 and UTI='549300OK2V4QF20B0D04C15706229N28D20250423A'

--DSR-8590 manual fix of UTI
UPDATE #TEMP
set Deal='15706229_28_20250426', UTI='549300OK2V4QF20B0D04C15706229N28D20250426A', CDE_Execution_timestamp='2025-04-26T16:56:28Z'
where CID=15706229 and InstrumentID=28 and UTI='549300OK2V4QF20B0D04C15706229N28D20250424A'

--DSR-8606 manual fix of UTI
UPDATE #TEMP
set Deal='15706229_28_20250601', UTI='549300OK2V4QF20B0D04C15706229N28D20250601A', CDE_Execution_timestamp='2025-06-01T16:56:28Z'
where CID=15706229 and InstrumentID=28 and UTI='549300OK2V4QF20B0D04C15706229N28D20250426A'

--DSR-8606 manual fix of UTI
UPDATE #TEMP
set Deal='17646470_5_20250530', UTI='549300OK2V4QF20B0D04C17646470N5D20250530A', CDE_Execution_timestamp='2025-05-30T14:53:10Z'
where CID=17646470 and InstrumentID=5 and UTI='549300OK2V4QF20B0D04C17646470N5D20250529A'

--DSR-8670 manual fix of UTI
UPDATE #TEMP
set Deal='15706229_28_20250610', UTI='549300OK2V4QF20B0D04C15706229N28D20250610A', CDE_Execution_timestamp='2025-06-10T16:56:28Z'
where CID=15706229 and InstrumentID=28 and UTI='549300OK2V4QF20B0D04C15706229N28D20250601A'

UPDATE #TEMP
SET CDE_Direction_1_Buyer_identifier_Seller_identifier=ISNULL(p.CDE_Direction_1_Buyer_identifier_Seller_identifier, 'BYER')
FROM #TEMP t
LEFT JOIN (
    SELECT TOP 1 WITH ties
		a.ReportDate, a.UTI, a.Quantity, a.CDE_Direction_1_Buyer_identifier_Seller_identifier
    FROM [dbo].[ASIC2_Positions_AGG] a
    JOIN #TEMP m ON m.UTI=a.UTI AND m.CDE_Direction_1_Buyer_identifier_Seller_identifier='for_update'
    WHERE a.Notional_quantity_Leg_1<>'0'
    ORDER BY ROW_NUMBER() OVER(PARTITION BY a.UTI ORDER BY a.ReportDate DESC)
) p ON p.UTI=t.UTI
WHERE t.CDE_Direction_1_Buyer_identifier_Seller_identifier='for_update'

INSERT INTO [dbo].[ASIC2_Positions_AGG] (
	[DateID]
	,[ReportDate]
	,[CID]
	,[RegulationID]
	,[Deal]
	,[InstrumentID]
	,[Symbol]
	,[ISIN]
	,[OpenPrice]
	,[ClosePrice_EOD]
	,[Quantity]
	,[CurrencyConversionRateToUSD]
	,[Hedge_Client]
	,[Level]
	,[UpdateDate]
	,[ReportingJurisdiction]
	,[Uncollateralised]
	,[UTI]
	,[Unique_product_identifier_UPI]
	,[Asset_class]
	,[Contract_type]
	,[Entity_responsible_for_reporting]
	,[CDE_Counterparty_1_reporting_counterparty]
	,[CDE_Counterparty_2]
	,[Counterparty_2_name]
	,[CDE_Counterparty_2_identifier_type]
	,[Country_of_counterparty_2]
	,[CDE_Beneficiary_1]
	,[CDE_Beneficiary_1_type]
	,[Broker_ID]
	,[Execution_agent_of_Counterparty_1]
	,[CDE_Direction_1_Buyer_identifier_Seller_identifier]
	,[CDE_Direction_2_Payer_identifier_Receiver_identifier_of_leg_1]
	,[CDE_Direction_2_Payer_identifier_Receiver_identifier_of_leg_2]
	,[CDE_Effective_date]
	,[CDE_Expiration_date]
	,[CDE_Execution_timestamp]
	,[CDE_Event_timestamp]
	,[Clearing_timestamp]
	,[CDE_Cleared]
	,[CDE_Central_counterparty]
	,[CDE_Clearing_member]
	,[CDE_Platform_identifier]
	,[CDE_Notional_amount_of_leg_1]
	,[CDE_Notional_amount_of_leg_2]
	,[CDE_Total_notional_quantity_of_leg_1]
	,[CDE_Total_notional_quantity_of_leg_2]
	,[Notional_quantity_Leg_1]
	,[Notional_quantity_Leg_2]
	,[CDE_Call_amount]
	,[CDE_Put_amount]
	,[CDE_Notional_currency_1]
	,[CDE_Notional_currency_2]
	,[CDE_Quantity_unit_of_measure_Leg_1]
	,[CDE_Quantity_unit_of_measure_Leg_2]
	,[CDE_Call_currency]
	,[CDE_Put_currency]
	,[CDE_Effective_date_of_notional_amount_of_leg_1]
	,[CDE_End_date_of_notional_amount_of_leg_1]
	,[CDE_Notional_amount_in_effect_on_associated_effective_date_of_leg_1]
	,[CDE_Effective_date_of_notional_amount_of_leg_2]
	,[CDE_End_date_of_notional_amount_of_leg_2]
	,[CDE_Notional_amount_in_effect_on_associated_effective_date_of_leg_2]
	,[CDE_Price_notation]
	,[CDE_Price]
	,[CDE_Price_currency]
	,[CDE_Price_unit_of_measure]
	,[CDE_Fixed_rate_of_leg_1_coupon]
	,[CDE_Fixed_rate_of_leg_2]
	,[CDE_Spread_notation_of_leg_1]
	,[CDE_Spread_of_leg_1]
	,[CDE_Spread_notation_of_leg_2]
	,[CDE_Spread_of_leg_2]
	,[CDE_Spread_currency_of_leg_1]
	,[CDE_Spread_currency_of_leg_2]
	,[CDE_Strike_price_notation]
	,[CDE_Strike_price]
	,[CDE_Strike_price_currency]
	,[CDE_Strike_price_currency_2]
	,[CDE_Option_premium_amount]
	,[CDE_Option_premium_currency]
	,[CDE_Option_premium_payment_date]
	,[CDE_Exchange_rate]
	,[CDE_Exchange_rate_basis_currency_1]
	,[CDE_Exchange_rate_basis_currency_2]
	,[CDE_Fixed_rate_coupon_day_count_convention_leg_1]
	,[CDE_Floating_rate_day_count_convention_of_leg_1]
	,[CDE_Fixed_rate_day_count_convention_leg_2]
	,[CDE_Floating_rate_day_count_convention_of_leg_2]
	,[CDE_Fixed_rate_coupon_payment_frequency_period_leg_1]
	,[CDE_Floating_rate_payment_frequency_period_of_leg_1]
	,[CDE_Fixed_rate_payment_frequency_period_leg_2]
	,[CDE_Floating_rate_payment_frequency_period_of_leg_2]
	,[CDE_Fixed_rate_coupon_payment_frequency_period_multiplier_leg_1]
	,[CDE_Floating_rate_payment_frequency_period_multiplier_of_leg_1]
	,[CDE_Fixed_rate_payment_frequency_period_multiplier_leg_2]
	,[CDE_Floating_rate_payment_frequency_period_multiplier_of_leg_2]
	,[CDE_Settlement_currency_1]
	,[CDE_Settlement_currency_2]
	,[CDE_Other_payment_amount]
	,[CDE_Other_payment_type]
	,[CDE_Other_payment_currency]
	,[CDE_Other_payment_date]
	,[CDE_Other_payment_payer]
	,[CDE_Other_payment_receiver]
	,[Custom_basket_code_Identifier_LEI]
	,[CDE_Identifier_of_baskets_constituents]
	,[CDE_Source_of_identifier_of_baskets_constituents]
	,[Underlying_identification]
	,[Underlying_identification_type]
	,[Maturity_date_of_underlying]
	,[Indicator_of_floating_rate_of_leg_2]
	,[Floating_rate_reference_period_of_leg_2_time_period]
	,[Floating_rate_reference_period_of_leg_2_multiplier]
	,[CDE_CDS_index_attachment_point]
	,[CDE_CDS_index_detachment_point]
	,[Index_factor]
	,[CDE_Package_identifier]
	,[Swap_link_ID]
	,[CDE_Package_transaction_price_notation]
	,[CDE_Package_transaction_price]
	,[CDE_Package_transaction_price_currency]
	,[CDE_Package_transaction_spread_notation]
	,[CDE_Package_transaction_spread]
	,[CDE_Package_transaction_spread_currency]
	,[CDE_Prior_UTI]
	,[Event_Identifier]
	,[Action_type]
	,[Event_type]
	,[Report_submitting_entity_ID]
	,[Initial_margin_collateral_portfolio_code]
	,[Variation_margin_collateral_portfolio_code]
	,[Small_scale_Buy_side_Entity_indicator]
	,[CDE_Collateral_portfolio_indicator]
	,[CDE_Valuation_timestamp]
	,[CDE_Valuation_amount]
	,[CDE_Valuation_currency]
	,[CDE_Valuation_method]
	,[CDE_Delta]
	,[Next_floating_reference_reset_date_Leg_1]
	,[Next_floating_reference_reset_date_Leg_2]
	,[Technical_Record_Identification]
	,[CDE_Reporting_timestamp]
	,[Secondary_transaction_identifier]
	,[New_Derivative_Trade_Repository]
	,[Single_lower_barrier_price_notation]
	,[Upper_barrier_price_notation]
	,[Single_lower_barrier_price]
	,[Upper_barrier_price]
	,[Single_lower_barrier_price_currency]
	,[Upper_barrier_price_currency]
)
SELECT * FROM #TEMP
WHERE InstrumentID NOT IN ( SELECT ISNULL(instrument_id, 0) 
								FROM [ThirdParty_Fivetran].[Fivetran].[regulation].[regtech_excluded_instruments] 
								WHERE table_name = '[ASIC2_Positions_AGG]' 
							)

END
