USE [RegReportDB_Prod]
GO
/****** Object:  StoredProcedure [dbo].[SP_ASIC2_TransactionsReport]    Script Date: 3/10/2026 3:11:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_ASIC2_TransactionsReport](@StartDate DATE)

AS

/********************************************************************************************
Author:      Ramazika
Date:        2024-08-13
Description: Traction Report- create Transactions report set for ASIC2
**************************
** Change History
**************************
Date         Author       Description   
----------   ----------   ------------------------------------
2024-11-18   Davidsi      DSR-7752 Update column [CDE_Quantity_unit_of_measure_Leg_1] of ASIC2
2024-11-18   Davidsi      DSR-7852 ASIC - Blank fields for Counterparty_2_name and Country_of_counterparty
2025-01-21   Zurabja      DSR-7784 added filter for final table to exclude InstrumentIDs [ThirdParty_Fivetran].[Fivetran].[regulation].[regtech_excluded_instruments]
2025-01-29   Davidsi      DSR-8056 Follow up on DSR-6950 - DTCC data fields - populate column - [Counterparty_2_name]
2025-09-29   Davidsi      DSR-8804 ASIC rewrite - Other payment related field reporting
2026-02-26   Davidsi      DSR-9299 Column [CDE_Quantity_unit_of_measure_Leg_1] update for GOLD 24/7 (InstrumentID=559)
2026-03-06	 Zurabja	  DSR-9302 Column CDE_Quantity_unit_of_measure_Leg_1 update for Iron Ore and Rubber
*********************************************************************************************/

BEGIN

-- DECLARE @StartDate DATE = '2024-09-10'
DECLARE @EndDate DATE = DATEADD(DAY, 1, @StartDate);


DROP TABLE IF EXISTS #Changelog_for_Topen

SELECT * 
INTO #Changelog_for_Topen
FROM ASIC2_ext_PositionChangeLog taepcl
WHERE taepcl.ChangeLogOccurred >= @StartDate
	AND taepcl.ChangeLogOccurred < @EndDate
	AND taepcl.ChangeTypeID = 0

CREATE CLUSTERED INDEX #cl2_CID ON #Changelog_for_Topen (PositionID) 

/*---------------------------------------------------------------------*/

DROP TABLE IF EXISTS #splits
SELECT DISTINCT a.InstrumentID, MinDate, MaxDate, AmountRatio, IsCompletedOpenPositions, AmountRatioUnAdjusted
INTO #splits
FROM dbo.Reg_Ext_HistorySplitRatio a WITH(NOLOCK) 
WHERE IsCompletedOpenPositions = 1 

/*---------------------------------------------------------------------*/

DROP TABLE IF EXISTS #Metadata

CREATE TABLE #Metadata
(
	InstrumentID INT,
	InstrumentTypeID INT,
	BuyCurrencyID INT,
	SellCurrencyID INT,
	BuyAbbreviation VARCHAR(20),
	SellAbbreviation VARCHAR(20),
	ISINCode VARCHAR(20),
	InstrumentDescription VARCHAR(200),
	Symbol VARCHAR(20),
	IsGBX BIT,
	IsISO BIT,
	ExchangeID INT
)

INSERT INTO #Metadata
SELECT 
	RI.InstrumentID,
	RI.InstrumentTypeID,
	RI.BuyCurrencyID,
	RI.SellCurrencyID,
	DCBuy.Abbreviation AS BuyAbbreviation,
	CASE 
		WHEN RI.SellCurrencyID = 666 THEN REPLACE(DCSell.Abbreviation, 'GBX', 'GBP')
		WHEN RI.SellCurrencyID = 38  THEN REPLACE(DCSell.Abbreviation, 'CNH', 'CNY')
	    ELSE DCSell.Abbreviation 
	END SellAbbreviation,
	CONVERT(VARCHAR(12), LTRIM(RTRIM(RI.ISINCode))) AS ISINCode, 
	REPLACE(RI.InstrumentDisplayName, ',', ' ') AS InstrumentDescription,
	RI.SymbolFull AS Symbol,
	CASE WHEN RI.SellCurrencyID = 666 THEN 1 ELSE 0 END IsGBX,
	CASE WHEN ISO.Currency IS NULL THEN 0 ELSE 1 END AS IsISO,
	RI.ExchangeID
FROM [dbo].[Reg_Instruments_SCD] RI WITH(NOLOCK)  
LEFT JOIN [dbo].[Reg_Ext_DictionaryCurrency] DCBuy WITH(NOLOCK) ON DCBuy.CurrencyID = RI.BuyCurrencyID  
LEFT JOIN [dbo].[Reg_Ext_DictionaryCurrency] DCSell WITH(NOLOCK) ON DCSell.CurrencyID = RI.SellCurrencyID   
LEFT JOIN [dbo].[ISO_Currencies_Static] ISO ON (
	(CASE
		WHEN RI.SellCurrencyID = 666 THEN REPLACE(DCSell.Abbreviation, 'GBX', 'GBP')  
		WHEN RI.SellCurrencyID = 38  THEN REPLACE(DCSell.Abbreviation, 'CNH', 'CNY')  
		ELSE DCSell.Abbreviation END
	) = ISO.Currency Collate Latin1_General_BIN  
		OR RIGHT(RTRIM(DCSell.Abbreviation), 3) = ISO.Currency Collate Latin1_General_BIN)  
WHERE RI.Tradable = 1  
	AND @StartDate >= RI.ValidFrom AND @StartDate < RI.ValidTo

/*---------------------------------------------------------------------*/

DROP TABLE IF EXISTS #ASIC2_InstrumentMetaData

SELECT DISTINCT a.*, b.ExchangeID
INTO #ASIC2_InstrumentMetaData
FROM [dbo].[ASIC2_InstrumentMetaData] a
LEFT JOIN #Metadata b ON b.InstrumentID = a.InstrumentID

/* fix - override InstrumentTypeID to 4 when its 2 and has ExchangeID = 3 */
UPDATE #ASIC2_InstrumentMetaData
SET InstrumentTypeID = 4
WHERE InstrumentTypeID = 2 AND ExchangeID = 3

-- align Empty values to null on ISINCode coll
UPDATE #ASIC2_InstrumentMetaData
SET ISINCode = NULL
WHERE UPPER(ISINCode) = 'NA' OR LTRIM(RTRIM(ISINCode)) = '' OR UPPER(ISINCode) = 'NULL'


/*---------------------------------------------------------------------*/

DROP TABLE IF EXISTS #pos

SELECT PositionID, CID, IsSettled 
INTO #pos
FROM [dbo].[ASIC2_ext_OpenPositions_PositionsReport]


DROP TABLE IF EXISTS #prev

SELECT PositionID, CID
INTO #prev
FROM [dbo].[ASIC2_Positions] 
WHERE ReportDate = DATEADD(DAY, -1, @StartDate)

/*---------------------------------------------------------------------*/

DROP TABLE IF EXISTS #cust

SELECT CID, Lei, FullName, AccountTypeID, PlayerLevelID, Country
INTO #cust 
FROM (
	SELECT a.CID
		,a.LEI AS Lei
		,REPLACE(REPLACE(UPPER(REPLACE(
			ISNULL(IIF(RTRIM(REPLACE(a.FirstName, '-', ' ')) LIKE '%[^a-z-A-Z0-9 ]%' AND c.CID IS NOT NULL, c.FirstName, a.FirstName) , '') 
			+ ' ' + 
			ISNULL(IIF(RTRIM(REPLACE(a.LastName, '-', ' ')) LIKE '%[^a-z-A-Z0-9 ]%' AND c.CID IS NOT NULL, c.LastName, a.LastName), ''), ',', ''
		)), '-', ' '), '''', ' ') AS FullName
		,a.AccountTypeID
		,a.PlayerLevelID
		,CASE WHEN a.CountryID = 144 THEN 'NL' ELSE a.Country END AS Country
	FROM [dbo].ASIC2_Customer_PositionReport a
	LEFT JOIN [dbo].[Reg_Ext_CustomerLatinName] c ON c.CID = a.CID AND c.FirstName <> ''
) ab

CREATE CLUSTERED INDEX #ci_CID ON #cust (CID)

/*---------------------------------------------------------------------*/
DROP TABLE IF EXISTS #TRADE_OPEN

SELECT 
	EXT.[PositionID],
	EXT.[CID],
	EXT.[InstrumentID],
	EXT.[OpenOccurred],
	EXT.[CloseOccurred],
	EXT.[AmountInUnitsDecimal],
	EXT.[InitForexRate],
	EXT.[Amount],
	EXT.[IsBuy],
	EXT.[IsSettled],
	EXT.[UpdateDate],
	EXT.[EndForexRate],
	EXT.[NetProfit],
	EXT.[LastOpPriceRate],
	EXT.[OriginalPositionID],
	EXT.[RegulationID],
	EXT.[InitForexPriceRateID],
	EXT.[EndForexPriceRateID],
	EXT.[InitConversionRate],
	EXT.[InitialUnits],
	EXT.[PartialCloseRatio],
	EXT.[SettlementTypeID],
	'O' AS OpenORClose
INTO #TRADE_OPEN 
FROM [dbo].[ASIC2_ext_OpenPositions_PositionsReport] EXT WITH(NOLOCK)
LEFT JOIN #Changelog_for_Topen CL WITH(NOLOCK) ON CL.PositionID = EXT.PositionID
WHERE COALESCE(CL.IsSettled, EXT.IsSettled) = 0
	AND EXT.OpenOccurred >= CAST(@StartDate AS DATE)
	AND EXT.OpenOccurred < CAST(DATEADD(DAY, 1, @StartDate) AS DATE)
	AND EXT.CloseOccurred IS NULL

/*---------------------------------------------------------------------*/

DROP TABLE IF EXISTS #HISTORY_OPEN

SELECT EXT.*,
	'O' AS OpenORClose
INTO #HISTORY_OPEN 
FROM [dbo].[ASIC2_ext_OpenPositions_PositionsReport] EXT WITH(NOLOCK)
LEFT JOIN #Changelog_for_Topen CL WITH(NOLOCK) ON CL.PositionID = EXT.PositionID
LEFT JOIN #Changelog_for_Topen CL2 WITH(NOLOCK) ON CL2.PositionID = EXT.OriginalPositionID
WHERE COALESCE(CL2.IsSettled, CL.IsSettled, EXT.IsSettled) = 0 
		AND (EXT.OpenOccurred >= CAST(@StartDate AS DATE)
			AND EXT.OpenOccurred < CAST(DATEADD(DAY, 1, @StartDate) AS DATE)
			AND EXT.CloseOccurred IS NOT NULL
		)
		AND (EXT.PartialCloseRatio = 1 OR EXT.PartialCloseRatio IS NULL) 

/*---------------------------------------------------------------------*/
-- TEMP for OPS

DROP TABLE IF EXISTS #HISTORY_OPEN_TEMP_FOR_PartialClose

SELECT EXT.* ,
	'O' AS OpenORClose
INTO #HISTORY_OPEN_TEMP_FOR_PartialClose
FROM [dbo].[ASIC2_ext_OpenPositions_PositionsReport] EXT WITH(NOLOCK)
LEFT JOIN #Changelog_for_Topen CL WITH(NOLOCK) ON CL.PositionID = EXT.PositionID
LEFT JOIN #Changelog_for_Topen CL2 WITH(NOLOCK) ON CL2.PositionID = EXT.OriginalPositionID
WHERE COALESCE(CL2.IsSettled, CL.IsSettled, EXT.IsSettled) = 0 
		AND (EXT.OpenOccurred >= CAST(@StartDate AS DATE)
			AND EXT.OpenOccurred < CAST(DATEADD(DAY, 1, @StartDate) AS DATE)	
			AND EXT.CloseOccurred IS NOT NULL  
		)
		AND EXT.PartialCloseRatio <> 1  

DELETE FROM ASIC2_Removed_OP_Partials
WHERE ReportDate = @StartDate

INSERT INTO ASIC2_Removed_OP_Partials
SELECT @StartDate AS ReportDate, * 
FROM #HISTORY_OPEN_TEMP_FOR_PartialClose

-- END TEMP of OPS

/*---------------------------------------------------------------------*/

DROP TABLE IF EXISTS #HISTORY_CLOSE

SELECT EXT.*,
	'C' OpenORClose
INTO #HISTORY_CLOSE
FROM [dbo].[ASIC2_ext_OpenPositions_PositionsReport] EXT WITH(NOLOCK)
WHERE EXT.IsSettled = 0
	AND(EXT.CloseOccurred >= CAST(@StartDate AS DATE)
	AND EXT.CloseOccurred < CAST(DATEADD(DAY, 1, @StartDate) AS DATE))

/*---------------------------------------------------------------------*/
 
DROP TABLE IF EXISTS #pop_in

SELECT EXT.*,
	'O' AS OpenORClose
INTO #pop_in
FROM [dbo].[ASIC2_ext_OpenPositions_PositionsReport] EXT WITH(NOLOCK)
LEFT JOIN #prev p on p.PositionID = EXT.PositionID
WHERE EXT.IsSettled = 0 
	AND p.PositionID IS NULL
	AND (EXT.OpenOccurred < Cast(@StartDate AS DATE))
	AND (EXT.PartialCloseRatio = 1 OR EXT.PartialCloseRatio IS NULL)
	
-- TEMP for OPS 

DROP TABLE IF EXISTS #pop_in_TEMP_FOR_PartialClose

SELECT EXT.*,
	'O' AS OpenORClose
INTO #pop_in_TEMP_FOR_PartialClose
FROM [dbo].[ASIC2_ext_OpenPositions_PositionsReport] EXT WITH(NOLOCK)
LEFT JOIN #prev p ON p.PositionID = EXT.PositionID
WHERE EXT.IsSettled = 0 
	AND p.PositionID IS NULL
	AND (EXT.OpenOccurred < CAST(@StartDate AS DATE))
	AND EXT.PartialCloseRatio <> 1 
	
	
INSERT INTO ASIC2_Removed_OP_Partials
SELECT @StartDate AS ReportDate, * 
FROM #pop_in_TEMP_FOR_PartialClose

-- END TEMP of OPS
	
/*---------------------------------------------------------------------*/

DROP TABLE IF EXISTS #TRADES

SELECT PT.* 
INTO #TRADES
FROM (
	SELECT CID,PositionID, 'O' AS OpenORClose,InstrumentID, IsBuy, COALESCE(InitialUnits, AmountInUnitsDecimal) AS AmountInUnitsDecimal, OpenOccurred, CloseOccurred, [Amount],
		CAST(OpenOccurred AS DATE) AS Trade_date,OpenOccurred AS ExecutionTime, LastOpPriceRate, RegulationID, '0' AS regin,
		InitForexRate, EndForexRate, InitForexRate AS ExecutionPrice,
		InitForexPriceRateID, EndForexPriceRateID, InitConversionRate, OriginalPositionID
	FROM #TRADE_OPEN 
	UNION ALL
	SELECT CID,PositionID,'O' AS OpenORClose,InstrumentID, IsBuy, COALESCE(InitialUnits, AmountInUnitsDecimal) AS AmountInUnitsDecimal, OpenOccurred, CloseOccurred, [Amount],	
		CAST(OpenOccurred AS DATE) AS Trade_date,OpenOccurred AS ExecutionTime, LastOpPriceRate, RegulationID, '0' AS regin,
		InitForexRate, EndForexRate, InitForexRate AS ExecutionPrice,
		InitForexPriceRateID, EndForexPriceRateID, InitConversionRate, OriginalPositionID
	FROM #HISTORY_OPEN 
	UNION ALL
	SELECT CID,PositionID,'C' AS OpenORClose,InstrumentID, IsBuy, AmountInUnitsDecimal, OpenOccurred, CloseOccurred, [Amount],
		CAST(CloseOccurred AS DATE) AS Trade_date, CloseOccurred AS ExecutionTime, LastOpPriceRate, RegulationID, '0' AS regin,
		InitForexRate,EndForexRate,EndForexRate AS ExecutionPrice,
		InitForexPriceRateID,EndForexPriceRateID,InitConversionRate,OriginalPositionID
	FROM #HISTORY_CLOSE
	UNION ALL
	select CID,PositionID,'O' AS OpenORClose, InstrumentID, IsBuy, AmountInUnitsDecimal, OpenOccurred, CloseOccurred, [Amount],	
		CAST(OpenOccurred AS DATE) AS Trade_date,@StartDate AS ExecutionTime, LastOpPriceRate, RegulationID, '2' AS regin,
		InitForexRate, EndForexRate, InitForexRate AS ExecutionPrice,
		InitForexPriceRateID, EndForexPriceRateID, InitConversionRate, OriginalPositionID
	FROM #pop_in 
) PT

CREATE CLUSTERED INDEX #ix_TRADES ON #TRADES (InstrumentID, PositionID)


-- step - 0 get Pop
DROP TABLE IF EXISTS #ConvFixPop

SELECT CASE WHEN PositionID <> OriginalPositionID THEN OriginalPositionID ELSE PositionID END AS PositionID,
	CAST(CONVERT(VARCHAR, OpenOccurred, 112) AS INT) AS OpenDateID,
	CAST(NULL AS DECIMAL(16, 8)) AS FixedConversionRate  
INTO #ConvFixPop
FROM #pop_in P
JOIN #Metadata M ON M.InstrumentID = P.InstrumentID
WHERE InitConversionRate IS NULL
	AND IsISO = 0


--	step - 1 FixedConversionRate (historic) from Dim_Position
DECLARE @PositionID BIGINT
DECLARE @OpenDateID INT

DECLARE NonISO_FIX2 CURSOR FOR 
	SELECT PositionID, OpenDateID FROM #ConvFixPop WHERE FixedConversionRate IS NULL
	OPEN NonISO_FIX2
	FETCH NEXT FROM NonISO_FIX2 INTO @PositionID, @OpenDateID
	WHILE @@FETCH_STATUS = 0 
	BEGIN
		UPDATE a
		SET FixedConversionRate = InitConversionRate
		FROM #ConvFixPop a
		JOIN [dbo].[Reg_DWH_StaticPosition] b ON b.PositionID = a.PositionID AND a.OpenDateID = CAST(CONVERT(VARCHAR, b.OpenOccurred, 112) AS INT) 
		WHERE a.PositionID = @PositionID AND a.OpenDateID = @OpenDateID	
		FETCH NEXT FROM NonISO_FIX2 INTO @PositionID, @OpenDateID
	END
	CLOSE NonISO_FIX2 
DEALLOCATE NonISO_FIX2 

-- step - 2 FixedConversionRate to #TRADES
UPDATE P
SET InitConversionRate = FixedConversionRate
FROM #TRADES P
JOIN #ConvFixPop C ON CASE WHEN P.PositionID <> P.OriginalPositionID THEN P.OriginalPositionID ELSE P.PositionID END = C.PositionID


/*---------------------------------------------------------------------*/
DROP TABLE IF EXISTS #ALL_Withsplit

SELECT EXP(SUM(LOG(AmountRatioUnAdjusted))) AS AmountRatioSplit, InstrumentID, PositionID, Trade_date
INTO #ALL_Withsplit
FROM (
	SELECT
		CASE WHEN OpenOccurred < MinDate AND CloseOccurred > MinDate THEN 1 ELSE 0 END AS V,
		b.*,
		a.PositionID,
		Trade_date
	FROM #TRADES a 
	JOIN #splits b ON b.InstrumentID = a.InstrumentID
	WHERE OpenORClose = 'O'
		AND CASE WHEN OpenOccurred < MinDate AND CloseOccurred > MinDate THEN 1 ELSE 0 END = 1
) a
GROUP BY PositionID, Trade_date, InstrumentID

CREATE CLUSTERED INDEX #ci_split ON #ALL_Withsplit (PositionID)

/*---------------------------------------------------------------------*/
UPDATE a
SET AmountInUnitsDecimal = (CASE WHEN a.OpenORClose = 'O' THEN CAST(a.AmountInUnitsDecimal / ISNULL(b.AmountRatioSplit, 1) AS DECIMAL(16, 6)) ELSE a.AmountInUnitsDecimal END)
FROM #TRADES a
JOIN #ALL_Withsplit b ON b.PositionID = a.PositionID
	AND b.Trade_date = a.Trade_date
	AND b.InstrumentID = a.InstrumentID

/*---------------------------------------------------------------------*/

DROP TABLE IF EXISTS #Reg_CurrencyPrice_Ext_for_ASIC;

WITH CTE_Reg_CurrencyPrice_Ext AS (
	SELECT ROW_NUMBER() OVER(PARTITION BY PriceRateID ORDER BY PriceRateID) AS rownum 
		,InstrumentID
		,PriceRateID
		,USDConversionRate
	FROM Reg_CurrencyPrice_Ext
)

SELECT InstrumentID, PriceRateID, USDConversionRate
INTO #Reg_CurrencyPrice_Ext_for_ASIC 
FROM CTE_Reg_CurrencyPrice_Ext 
WHERE rownum = 1

CREATE CLUSTERED INDEX #CIX_eg_CurrencyPrice_Ext_for_ASIC ON #Reg_CurrencyPrice_Ext_for_ASIC (InstrumentID) 


/*---------------------------------------------------------------------*/
DROP TABLE IF EXISTS #ASIC2_LifeCycle_Position

SELECT  
	T.InstrumentID
	,T.PositionID
	,T.OpenORClose
	,T.CID
	,IsBuy
	,T.AmountInUnitsDecimal
	,T.ExecutionTime
	,CAST(CASE WHEN M.IsISO = 0 AND T.InitConversionRate IS NOT NULL THEN (T.ExecutionPrice * T.InitConversionRate)
		WHEN M.IsISO = 0 THEN (T.ExecutionPrice * DP.USDConversionRate)
		ELSE T.ExecutionPrice
	END AS DECIMAL(16, 6)) AS ExecutionPrice
	,C.Lei
	,M.Symbol
	,C.FullName
	,T.RegulationID
	,T.regin
	,T.ExecutionPrice AS old
	,C.AccountTypeID
	,C.PlayerLevelID
	,C.Country
INTO #ASIC2_LifeCycle_Position
FROM #TRADES T
JOIN #cust C on C.CID = T.CID
JOIN #Metadata M ON M.InstrumentID = T.InstrumentID
LEFT JOIN #Reg_CurrencyPrice_Ext_for_ASIC DP on DP.PriceRateID = (CASE WHEN T.OpenORClose = 'O' THEN T.InitForexPriceRateID ELSE T.EndForexPriceRateID END)
	AND DP.InstrumentID = T.InstrumentID


CREATE CLUSTERED INDEX #ix_ASIC2_LifeCycle_Position ON #ASIC2_LifeCycle_Position (InstrumentID)


/*---------------------------------------------------------------------*/
UPDATE TR
SET ExecutionPrice = CAST(CASE WHEN M.IsGBX = 1 THEN TR.ExecutionPrice / 100.0 ELSE TR.ExecutionPrice END AS DECIMAL(16, 6))
FROM #ASIC2_LifeCycle_Position TR 
JOIN #Metadata M ON M.InstrumentID = TR.InstrumentID 

/*--------------------------------------------------------------------- 
----preprae cloce trans record for customers that got out of regulation */
DROP TABLE IF EXISTS #ASIC2_RegOutDailyData

SELECT * 
INTO #ASIC2_RegOutDailyData
FROM [dbo].[Reg_RegulationInOutDailyData]
WHERE ReportDate = @StartDate
	AND (RegulationID IN(1, 2) AND PrevRegulationID IN(10, 4)) -- identify move from ASIC to EMIR (ReOut)

CREATE NONCLUSTERED INDEX #XI_ASIC2_RegOutDailyData ON #ASIC2_RegOutDailyData (CID, InstrumentID, TransactionID) INCLUDE (IsPosition, Migration_Occurred)

/*---------------------------------------------------------------------*/
DROP TABLE IF EXISTS #RegOut

SELECT DISTINCT CID, CASE WHEN IsPosition = 1 THEN (TransactionID) ELSE REPLACE(REPLACE(TransactionID, 'C', ''), 'O', '') END AS TransactionID, Migration_Occurred --, RIGHT(TransactionID, 1), *
INTO #RegOut
FROM #ASIC2_RegOutDailyData
WHERE ExecutionTime < Migration_Occurred 

/*---------------------------------------------------------------------*/
DROP TABLE IF EXISTS #RegOutCID

SELECT DISTINCT CID, CASE WHEN IsPosition = 1 THEN (TransactionID) ELSE REPLACE(REPLACE(TransactionID, 'C', ''), 'O', '') END AS TransactionID, Migration_Occurred
INTO #RegOutCID
FROM #ASIC2_RegOutDailyData

/*---------------------------------------------------------------------*/
DROP TABLE IF EXISTS #Pos_CID_Prev

SELECT DISTINCT CID, PositionID
INTO #Pos_CID_Prev
FROM dbo.ASIC2_Positions 
WHERE ReportDate = DATEADD(DAY, -1, @StartDate)

CREATE NONCLUSTERED INDEX XI_Pos_CID_Prev on #Pos_CID_Prev(PositionID)

/*---------------------------------------------------------------------*/
DROP TABLE IF EXISTS #ext_PositionChangeLog_13

SELECT *
INTO #ext_PositionChangeLog_13
FROM (
	SELECT a.PositionID, a.IsSettled, a.ChangeLogOccurred, ROW_NUMBER() OVER(PARTITION BY a.PositionID ORDER BY ChangeLogOccurred DESC) AS rn
	FROM [dbo].[ASIC2_ext_PositionChangeLog] a
	WHERE ChangeTypeID = 13
) tt
WHERE rn = 1 AND IsSettled = 1


DROP TABLE IF EXISTS #ChangeType13

SELECT DISTINCT a.PositionID, c.TransactionID, a.ChangeLogOccurred, c.Migration_Occurred 
INTO #ChangeType13
FROM #ext_PositionChangeLog_13 a
JOIN #Pos_CID_Prev b ON b.PositionID = a.PositionID
LEFT JOIN #RegOutCID c ON c.TransactionID = a.PositionID


CREATE CLUSTERED INDEX #CI_ChangeType13 ON #ChangeType13 (PositionID) 

/*---------------------------------------------------------------------*/

-----****-----
DROP TABLE IF EXISTS #RealOut

SELECT *
INTO #RealOut
FROM (SELECT * FROM #ChangeType13 WHERE TransactionID IS NULL) q

DROP TABLE IF EXISTS #joined_pop

SELECT r.*, c.PositionID, c.ChangeLogOccurred, CASE WHEN r.Migration_Occurred <= ISNULL(ChangeLogOccurred, '2999-01-01') THEN 1 ELSE 0 END AS IsRegOutFirst  
INTO #joined_pop
FROM #RegOut r
LEFT JOIN (SELECT * FROM #ChangeType13 WHERE TransactionID IS NOT NULL) c ON c.PositionID = r.TransactionID
ORDER BY r.Migration_Occurred

DROP TABLE IF EXISTS #RealEndPop

SELECT PositionID
INTO #RealEndPop
FROM (
	SELECT PositionID
	FROM #RealOut
	UNION
	SELECT PositionID 
	FROM #joined_pop
	WHERE IsRegOutFirst = 0 
) u


/* fix GBX rec on ASIC2_RegOutDailyData */ 

UPDATE a
SET NEW_BidSpreaded = a.NEW_BidSpreaded / 100.0,
	NEW_AskSpreaded = a.NEW_AskSpreaded / 100.0
FROM #ASIC2_RegOutDailyData a
LEFT JOIN [dbo].[Reg_Instruments_ext] TGI WITH(NOLOCK) ON TGI.InstrumentID = a.InstrumentID
WHERE a.ReportDate = @StartDate
	AND TGI.SellCurrencyID = 666

/*---------------------------------------------------------------------*/			
/*	-- ###############################
	--    create #prices for RegOut
	-- ###############################*/
	--AskSpreadedSpreaded, BidSpreadedSpreaded

DROP TABLE IF EXISTS #Prices_EOD

SELECT s.InstrumentID
	,CASE WHEN TGI.SellCurrencyID = 666 THEN AskSpreaded / 100.0 ELSE AskSpreaded END AS AskSpreaded 
	,CASE WHEN TGI.SellCurrencyID = 666 THEN s.BidSpreaded / 100.0 ELSE BidSpreaded END AS BidSpreaded
	,Occurred
INTO #Prices_EOD
FROM Reg_Ext_CurrencyPriceMaxDateWithSplit s
LEFT JOIN [dbo].[Reg_Instruments_ext] TGI WITH(NOLOCK) ON TGI.InstrumentID = s.InstrumentID
WHERE OccurredDateID = CONVERT(VARCHAR(10), @StartDate, 112)


/* STEP 1 - get #RegInNewDate_ByTRN data */
DROP TABLE IF EXISTS #RegInNewDate_ByTRN

SELECT DISTINCT TransactionID, Migration_Occurred
INTO #RegInNewDate_ByTRN
FROM [dbo].[Reg_RegulationInOutDailyData]
WHERE IsPosition = 0
	AND (RegulationID IN(10, 4) AND PrevRegulationID IN(1, 2)) 
	AND ReportDate = @StartDate

/* STEP 1.1 - delete transaction that were made before the migration time */
DELETE FROM PT
FROM #ASIC2_LifeCycle_Position PT
JOIN #RegInNewDate_ByTRN R ON R.TransactionID = CAST(PT.PositionID AS VARCHAR(15)) + PT.OpenORClose
WHERE PT.ExecutionTime < R.Migration_Occurred
	AND PT.regin = '0'

---------------------------
/* Pre insert  Deletes  */
-------------------------
DECLARE @RowC INT = 1
WHILE @RowC > 0
 
BEGIN
	DELETE TOP (4000)
	FROM [dbo].[ASIC2_Transactions]
	WHERE ReportDate = @StartDate

	SELECT @RowC = @@rowcount
END


drop table if exists #ASIC2_Transactions;

CREATE TABLE #ASIC2_Transactions (
	[DateID] [int] NOT NULL,
	[ReportDate] [datetime] NOT NULL,
	[CID] [int] NOT NULL,
	[RegulationID] [int],
	[RegChange] [int] NOT NULL,
	[Order] [nvarchar](25) NOT NULL,
	[InstrumentID] [int] NOT NULL,
	[Symbol] [nvarchar](25),
	[ISIN] [nvarchar](50),
	[PositionID] [bigint] NOT NULL,
	[OpenORClose] [nvarchar](25) NOT NULL,
	[IsBuy] [nvarchar](25),
	[OpenPrice] [nvarchar](25),
	[Quantity] [nvarchar](25),
	[Hedge_Client] [nvarchar](50),
	[Level] [nvarchar](50),
	[UpdateDate] [datetime],
	[ReportingJurisdiction] [nvarchar](50),
	[Uncollateralised] [nvarchar](50),
	[UTI] [nvarchar](50),
	[Unique_product_identifier_UPI] [nvarchar](50),
	[Asset_class] [nvarchar](50),
	[Contract_type] [nvarchar](50),
	[Entity_responsible_for_reporting] [nvarchar](50),
	[CDE_Counterparty_1_reporting_counterparty] [nvarchar](50),
	[CDE_Counterparty_2] [nvarchar](50),
	[Counterparty_2_name] [nvarchar](105),
	[CDE_Counterparty_2_identifier_type] [nvarchar](50),
	[Country_of_counterparty_2] [nvarchar](50),
	[CDE_Beneficiary_1] [nvarchar](50),
	[CDE_Beneficiary_1_type] [nvarchar](50),
	[Broker_ID] [nvarchar](50),
	[Execution_agent_of_Counterparty_1] [nvarchar](50),
	[CDE_Direction_1_Buyer_identifier_Seller_identifier] [nvarchar](50),
	[CDE_Direction_2_Payer_identifier_Receiver_identifier_of_leg_1] [nvarchar](50),
	[CDE_Direction_2_Payer_identifier_Receiver_identifier_of_leg_2] [nvarchar](50),
	[CDE_Effective_date] [nvarchar](50),
	[CDE_Expiration_date] [nvarchar](50),
	[CDE_Execution_timestamp] [nvarchar](50),
	[CDE_Event_timestamp] [nvarchar](50),
	[Clearing_timestamp] [nvarchar](50),
	[CDE_Cleared] [nvarchar](50),
	[CDE_Central_counterparty] [nvarchar](50),
	[CDE_Clearing_member] [nvarchar](50),
	[CDE_Platform_identifier] [nvarchar](50),
	[CDE_Notional_amount_of_leg_1] [nvarchar](50),
	[CDE_Notional_amount_of_leg_2] [nvarchar](50) NOT NULL,
	[CDE_Total_notional_quantity_of_leg_1] [nvarchar](50),
	[CDE_Total_notional_quantity_of_leg_2] [nvarchar](50),
	[Notional_quantity_Leg_1] [nvarchar](50),
	[Notional_quantity_Leg_2] [nvarchar](50),
	[CDE_Call_amount] [nvarchar](50),
	[CDE_Put_amount] [nvarchar](50),
	[CDE_Notional_currency_1] [nvarchar](50),
	[CDE_Notional_currency_2] [nvarchar](50),
	[CDE_Quantity_unit_of_measure_Leg_1] [nvarchar](50),
	[CDE_Quantity_unit_of_measure_Leg_2] [nvarchar](50),
	[CDE_Call_currency] [nvarchar](50),
	[CDE_Put_currency] [nvarchar](50),
	[CDE_Effective_date_of_notional_amount_of_leg_1] [nvarchar](50),
	[CDE_End_date_of_notional_amount_of_leg_1] [nvarchar](50),
	[CDE_Notional_amount_in_effect_on_associated_effective_date_of_leg_1] [nvarchar](50),
	[CDE_Effective_date_of_notional_amount_of_leg_2] [nvarchar](50),
	[CDE_End_date_of_notional_amount_of_leg_2] [nvarchar](50),
	[CDE_Notional_amount_in_effect_on_associated_effective_date_of_leg_2] [nvarchar](50),
	[CDE_Price_notation] [nvarchar](50),
	[CDE_Price] [nvarchar](50),
	[CDE_Price_currency] [nvarchar](50),
	[CDE_Price_unit_of_measure] [nvarchar](50),
	[CDE_Fixed_rate_of_leg_1_coupon] [nvarchar](50),
	[CDE_Fixed_rate_of_leg_2] [nvarchar](50),
	[CDE_Spread_notation_of_leg_1] [nvarchar](50),
	[CDE_Spread_of_leg_1] [nvarchar](50),
	[CDE_Spread_notation_of_leg_2] [nvarchar](50),
	[CDE_Spread_of_leg_2] [nvarchar](50),
	[CDE_Spread_currency_of_leg_1] [nvarchar](50),
	[CDE_Spread_currency_of_leg_2] [nvarchar](50),
	[CDE_Strike_price_notation] [nvarchar](50),
	[CDE_Strike_price] [nvarchar](50),
	[CDE_Strike_price_currency] [nvarchar](50),
	[CDE_Strike_price_currency_2] [nvarchar](50),
	[CDE_Option_premium_amount] [nvarchar](50),
	[CDE_Option_premium_currency] [nvarchar](50),
	[CDE_Option_premium_payment_date] [nvarchar](50),
	[CDE_Exchange_rate] [nvarchar](50),
	[CDE_Exchange_rate_basis_currency_1] [nvarchar](50),
	[CDE_Exchange_rate_basis_currency_2] [nvarchar](50),
	[CDE_Fixed_rate_coupon_day_count_convention_leg_1] [nvarchar](50),
	[CDE_Floating_rate_day_count_convention_of_leg_1] [nvarchar](50),
	[CDE_Fixed_rate_day_count_convention_leg_2] [nvarchar](50),
	[CDE_Floating_rate_day_count_convention_of_leg_2] [nvarchar](50),
	[CDE_Fixed_rate_coupon_payment_frequency_period_leg_1] [nvarchar](50),
	[CDE_Floating_rate_payment_frequency_period_of_leg_1] [nvarchar](50),
	[CDE_Fixed_rate_payment_frequency_period_leg_2] [nvarchar](50),
	[CDE_Floating_rate_payment_frequency_period_of_leg_2] [nvarchar](50),
	[CDE_Fixed_rate_coupon_payment_frequency_period_multiplier_leg_1] [nvarchar](50),
	[CDE_Floating_rate_payment_frequency_period_multiplier_of_leg_1] [nvarchar](50),
	[CDE_Fixed_rate_payment_frequency_period_multiplier_leg_2] [nvarchar](50),
	[CDE_Floating_rate_payment_frequency_period_multiplier_of_leg_2] [nvarchar](50),
	[CDE_Settlement_currency_1] [nvarchar](50),
	[CDE_Settlement_currency_2] [nvarchar](50),
	[CDE_Other_payment_amount] [nvarchar](50),
	[CDE_Other_payment_type] [nvarchar](50),
	[CDE_Other_payment_currency] [nvarchar](50),
	[CDE_Other_payment_date] [nvarchar](50),
	[CDE_Other_payment_payer] [nvarchar](50),
	[CDE_Other_payment_receiver] [nvarchar](50),
	[Custom_basket_code_Identifier_LEI] [nvarchar](50),
	[CDE_Identifier_of_baskets_constituents] [nvarchar](50),
	[CDE_Source_of_identifier_of_baskets_constituents] [nvarchar](50),
	[Underlying_identification] [nvarchar](50),
	[Underlying_identification_type] [nvarchar](50),
	[Maturity_date_of_underlying] [nvarchar](50),
	[Indicator_of_floating_rate_of_leg_2] [nvarchar](50),
	[Floating_rate_reference_period_of_leg_2_time_period] [nvarchar](50),
	[Floating_rate_reference_period_of_leg_2_multiplier] [nvarchar](50),
	[CDE_CDS_index_attachment_point] [nvarchar](50),
	[CDE_CDS_index_detachment_point] [nvarchar](50),
	[Index_factor] [nvarchar](50),
	[CDE_Package_identifier] [nvarchar](50),
	[Swap_link_ID] [nvarchar](50),
	[CDE_Package_transaction_price_notation] [nvarchar](50),
	[CDE_Package_transaction_price] [nvarchar](50),
	[CDE_Package_transaction_price_currency] [nvarchar](50),
	[CDE_Package_transaction_spread_notation] [nvarchar](50),
	[CDE_Package_transaction_spread] [nvarchar](50),
	[CDE_Package_transaction_spread_currency] [nvarchar](50),
	[CDE_Prior_UTI] [nvarchar](50),
	[Event_Identifier] [nvarchar](50),
	[Action_type] [nvarchar](50),
	[Event_type] [nvarchar](50),
	[Report_submitting_entity_ID] [nvarchar](50),
	[Initial_margin_collateral_portfolio_code] [nvarchar](50),
	[Variation_margin_collateral_portfolio_code] [nvarchar](50),
	[CDE_Collateral_portfolio_indicator] [nvarchar](50),
	[Technical_Record_Identification] [nvarchar](50),
	[CDE_Reporting_timestamp] [nvarchar](50),
	[Secondary_transaction_identifier] [nvarchar](50),
	[New_Derivative_Trade_Repository] [nvarchar](50),
	[Single_lower_barrier_price_notation] [nvarchar](50),
	[Upper_barrier_price_notation] [nvarchar](50),
	[Single_lower_barrier_price] [nvarchar](50),
	[Upper_barrier_price] [nvarchar](50),
	[Single_lower_barrier_price_currency] [nvarchar](50),
	[Upper_barrier_price_currency] [nvarchar](50)
);

insert into #ASIC2_Transactions
SELECT
	CONVERT(VARCHAR(8), @StartDate,112) AS DateID
	,@StartDate AS [ReportDate]
	,OLD_ASIC.[CID]
	,OLD_ASIC.[RegulationID]
	,OLD_ASIC.[RegChange]
	,OLD_ASIC.[Order]
	,OLD_ASIC.[InstrumentID]
	,OLD_ASIC.[Symbol]
	,ISNULL(MT.ISINCode, '') AS [ISIN] 
	,OLD_ASIC.[PositionID]
	,OLD_ASIC.[OpenORClose]
	,OLD_ASIC.[IsBuy]
	,OLD_ASIC.[OpenPrice]
	,OLD_ASIC.Volume AS Quantity
	,'C' AS [Hedge_Client]
	,'T' AS [Level]
	,GETDATE() AS [UpdateDate]
	,'ASIC' AS [ReportingJurisdiction]
	 ,'TRUE' AS [Uncollateralised]
	,'549300OK2V4QF20B0D04' + 'P' + convert(VARCHAR(20), OLD_ASIC.[PositionID]) + CASE WHEN OLD_ASIC.[Type] = 'Sell' THEN 'S' ELSE 'B' END + 'A' AS [UTI] 
	,ISNULL(UPI.upi, '') AS [Unique_product_identifier_UPI]
	,CASE
		WHEN M.InstrumentTypeID = 1 THEN 'CURR' -- foreign exchange
		WHEN M.InstrumentID IN(312, 313, 314) THEN 'INTR' -- interest rates
		WHEN M.InstrumentTypeID IN(2) and MT.ExchangeID=2 THEN 'COMM' -- commodities
		WHEN M.InstrumentTypeID IN(2) and MT.ExchangeID=3 THEN 'EQUI' -- equities, this condition is needed for some indices (typically incorrectly mapped)
		WHEN M.InstrumentTypeID IN(10) THEN 'COMM' -- crypto
		WHEN M.InstrumentTypeID IN(4, 5, 6) THEN 'EQUI' -- Indices, Stocks, ETFs
	END AS [Asset_class]
	,'CFDS' AS [Contract_type]
	,'549300OK2V4QF20B0D04' AS [Entity_responsible_for_reporting]
	,'549300OK2V4QF20B0D04' AS [CDE_Counterparty_1_reporting_counterparty]
	,CASE
		WHEN OLD_ASIC.AccountTypeID = 14 THEN '549300OK2V4QF20B0D04' + CAST(OLD_ASIC.CID AS VARCHAR(50))
		WHEN (OLD_ASIC.AccountTypeID = 2 AND OLD_ASIC.PlayerLevelID <> 4) OR OLD_ASIC.Lei IS NOT NULL THEN CAST(OLD_ASIC.Lei AS VARCHAR)
		WHEN OLD_ASIC.CID IN('5969868', '5969870', '5969875') THEN '213800MX2JM9T8WTRW50' 
		ELSE '549300OK2V4QF20B0D04' + CAST(OLD_ASIC.CID AS VARCHAR(50))
	END AS [CDE_Counterparty_2]
	,ISNULL(CASE
		WHEN OLD_ASIC.AccountTypeID = 14 THEN SUBSTRING(OLD_ASIC.FullName, 1, 105)
		WHEN (OLD_ASIC.AccountTypeID = 2 AND OLD_ASIC.PlayerLevelID <> 4) OR OLD_ASIC.CID IN('5969868', '5969870', '5969875') OR OLD_ASIC.Lei IS NOT NULL THEN ''
		ELSE SUBSTRING(OLD_ASIC.FullName, 1, 105)
	END, d.Counterparty_2_name) AS [Counterparty_2_name]
	,CASE
		WHEN OLD_ASIC.AccountTypeID = 14 THEN 'FALSE'
		WHEN (OLD_ASIC.AccountTypeID = 2 AND OLD_ASIC.PlayerLevelID <> 4) OR OLD_ASIC.CID IN('5969868', '5969870', '5969875') OR OLD_ASIC.Lei IS NOT NULL THEN 'TRUE'
		ELSE 'FALSE'
	END AS [CDE_Counterparty_2_identifier_type]
	,ISNULL(CASE
		WHEN OLD_ASIC.AccountTypeID = 14 THEN ASIC2CP.Country
		WHEN (OLD_ASIC.AccountTypeID = 2 AND OLD_ASIC.PlayerLevelID <> 4) OR OLD_ASIC.CID IN('5969868', '5969870', '5969875') OR OLD_ASIC.Lei IS NOT NULL THEN ''
		ELSE CASE WHEN ASIC2CP.CountryID = 144 THEN 'NL' ELSE ASIC2CP.Country END --fixed by David
	END, d.Country_of_counterparty_2) AS [Country_of_counterparty_2]
	,'' AS [CDE_Beneficiary_1]
	,'' AS [CDE_Beneficiary_1_type]
	,'' AS [Broker_ID]
	,'' AS [Execution_agent_of_Counterparty_1]
	,CASE WHEN OLD_ASIC.[Type] = 'Sell' THEN 'SLLR' ELSE 'BYER' END AS [CDE_Direction_1_Buyer_identifier_Seller_identifier]
	,'' AS [CDE_Direction_2_Payer_identifier_Receiver_identifier_of_leg_1]
	,'' AS [CDE_Direction_2_Payer_identifier_Receiver_identifier_of_leg_2]
	,'' AS [CDE_Effective_date]
	,'' AS [CDE_Expiration_date]
	,CONVERT(VARCHAR(20), CONVERT(VARCHAR(10), CONVERT(DATE, OpenTime)) + 'T' + CONVERT(VARCHAR(8), OpenTime, 108) + 'Z')  AS [CDE_Execution_timestamp]    
	,'' AS [CDE_Event_timestamp]
	,'' AS [Clearing_timestamp]
	,'N' AS [CDE_Cleared]
	,'' AS [CDE_Central_counterparty]
	,'' AS [CDE_Clearing_member]
	,'XXXX' AS [CDE_Platform_identifier]
	,IIF(M.InstrumentTypeID = 1,
		CAST(OLD_ASIC.Volume AS DECIMAL(25, 5)),
		CAST(CONVERT(DECIMAL(25, 5), CAST(OLD_ASIC.Volume AS DECIMAL(25, 5)) * 
		(CASE
			WHEN M.InstrumentID IN(312, 313, 314) THEN CAST(OLD_ASIC.OpenPrice AS DECIMAL(11, 3))
			WHEN M.InstrumentTypeID IN(2) AND MT.ExchangeID = 3 THEN CAST(OLD_ASIC.OpenPrice AS DECIMAL(11, 3))
			WHEN M.InstrumentTypeID IN(4) THEN CAST(OLD_ASIC.OpenPrice AS DECIMAL(11, 3)) 
			ELSE CAST(OLD_ASIC.OpenPrice AS DECIMAL(18, 8))
		END)) AS VARCHAR)
	) AS [CDE_Notional_amount_of_leg_1]
	--“Typically, Notional = Quantity x Execution Price x Price Multiplier. However, up until ASIC Rewrite go live date, Price Multiplier has always been reported as 1, therefore x1 is not included in the calculation”. 
	,IIF(M.InstrumentTypeID = 1,
		CAST(CONVERT(DECIMAL(25, 5), CAST(OLD_ASIC.Volume AS DECIMAL(25, 5)) *
		(CASE
			WHEN M.InstrumentID IN(312, 313, 314) THEN CAST(OLD_ASIC.OpenPrice AS DECIMAL(11, 3))
			WHEN M.InstrumentTypeID IN(2) and MT.ExchangeID = 3 THEN CAST(OLD_ASIC.OpenPrice AS DECIMAL(11, 3))
			WHEN M.InstrumentTypeID IN(4) THEN CAST(OLD_ASIC.OpenPrice AS DECIMAL(11, 3))
			ELSE CAST(OLD_ASIC.OpenPrice AS DECIMAL(18, 8))
		END)) AS VARCHAR),
		''
	) AS [CDE_Notional_amount_of_leg_2]
	,CASE 
		WHEN M.InstrumentTypeID IN(2, 4, 5, 6, 10) AND M.InstrumentID NOT IN(312, 313, 314) THEN CONVERT(VARCHAR, ABS(CAST(OLD_ASIC.Volume AS DECIMAL(25, 5))))
		ELSE ''
	END AS [CDE_Total_notional_quantity_of_leg_1]
	,'' AS [CDE_Total_notional_quantity_of_leg_2]
	,CASE 
		WHEN M.InstrumentTypeID IN(2, 4, 5, 6, 10) AND M.InstrumentID NOT IN(312, 313, 314) THEN CONVERT(VARCHAR, CAST(OLD_ASIC.Volume AS DECIMAL(25, 5))) 
		ELSE '' 
	END AS [Notional_quantity_Leg_1]
	,'' AS [Notional_quantity_Leg_2]
	,'' AS [CDE_Call_amount]
	,'' AS [CDE_Put_amount]
	,CASE 
		WHEN MT.InstrumentID IS NOT NULL AND MT.IsISO = 0 THEN 'USD' 
		ELSE 
			CASE 
				WHEN M.InstrumentTypeID = 1 THEN SUBSTRING(M.BuyAbbreviation, 1, 3)  
				ELSE SUBSTRING(M.SellAbbreviation, 1, 3) 
			END 
	END AS [CDE_Notional_currency_1]
	,CASE
		WHEN M.InstrumentTypeID = 1 THEN SUBSTRING(M.SellAbbreviation, 1, 3)
		ELSE '' 
	END AS [CDE_Notional_currency_2]
	,CASE
		WHEN M.InstrumentID IN(17, 115, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280,
			281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 95, 481, 482, 484, 485, 486, 487, 489, 490, 491, 502, 510, 524) THEN 'BARL' -- WTI Crude oil
		WHEN M.InstrumentID IN(335) THEN 'USGA' -- gasoline
		WHEN M.InstrumentID IN(336) THEN 'BARL' -- heating oil
		WHEN M.InstrumentID IN(341) THEN 'BARL' -- brent oil
		WHEN M.InstrumentID IN(22, 319, 116, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 379, 387, 388, 389) THEN 'MBTU' -- Natural Gas
		WHEN M.InstrumentID IN(18, 559) THEN 'OZTR' -- gold
		WHEN M.InstrumentID IN(19) THEN 'OZTR' -- silver
		WHEN M.InstrumentID IN(40) THEN 'OZTR' -- platinum
		WHEN M.InstrumentID IN(41, 91) THEN 'OZTR' -- palladium
		WHEN M.InstrumentID IN(21) THEN 'PUND' -- copper
		WHEN M.InstrumentID IN(99, 342, 344) THEN 'TONE' -- aluminium
		WHEN M.InstrumentID IN(100, 343) THEN 'TONE' -- nickel
		WHEN M.InstrumentID IN(339) THEN 'TONE' -- lead
		WHEN M.InstrumentID IN(340) THEN 'TONE' -- zinc
        WHEN M.InstrumentID IN(380) THEN 'TONE' -- steel
		WHEN M.InstrumentID IN(92) THEN 'PUND' -- raw sugar (same as Sugar no.11)
		WHEN M.InstrumentID IN(94) THEN 'TONE' -- white sugar
		WHEN M.InstrumentID IN(96) THEN 'TONE' -- cocoa
		WHEN M.InstrumentID IN(317, 318, 332) THEN 'BUSL' -- soybeans
		WHEN M.InstrumentID IN(325) THEN 'UCWT' -- rice
		WHEN M.InstrumentID IN(93, 98) THEN 'PUND' -- cotton and cotton no.7
		WHEN M.InstrumentID IN(97) THEN 'BUSL' -- wheat
		WHEN M.InstrumentID IN(311) THEN 'PUND' -- orange juice
        WHEN M.InstrumentID IN(422) THEN 'PUND' -- canola
        WHEN M.InstrumentID IN(381) THEN 'PUND' -- class III milk
        WHEN M.InstrumentID IN(382) THEN 'TONE' -- lumber
		WHEN M.InstrumentID IN(324) THEN 'BUSL' -- oats
		WHEN M.InstrumentID IN(331) THEN 'BUSL' -- corn
		WHEN M.InstrumentID IN(334) THEN 'PUND' -- coffee Arabica
		WHEN M.InstrumentID IN(337, 338) THEN 'PUND' -- Livestock
		WHEN M.InstrumentID IN(333) THEN 'ENVO' -- emissions
		WHEN M.InstrumentID IN(557) THEN 'TONE'  -- Iron Ore
		WHEN M.InstrumentID IN(558) THEN 'TONE'  -- Rubber
		WHEN M.InstrumentTypeID IN(2) AND M.ExchangeID=3  THEN 'IPNT' -- this condition is needed for some indices (typically incorrectly mapped)
		WHEN M.InstrumentTypeID IN(10) THEN 'LOTS' -- crypto
		WHEN M.InstrumentTypeID IN(4) AND M.InstrumentID NOT in(312,313,314) THEN 'IPNT' --Indices
		WHEN M.InstrumentTypeID IN(5, 6) THEN 'SHAS' -- Stocks and ETFs
		ELSE '' 
	END AS [CDE_Quantity_unit_of_measure_Leg_1]
	,'' AS [CDE_Quantity_unit_of_measure_Leg_2]
	,'' AS [CDE_Call_currency]
	,'' AS [CDE_Put_currency]
	,'' AS [CDE_Effective_date_of_notional_amount_of_leg_1]
	,'' AS [CDE_End_date_of_notional_amount_of_leg_1]
	,'' AS [CDE_Notional_amount_in_effect_on_associated_effective_date_of_leg_1]
	,'' AS [CDE_Effective_date_of_notional_amount_of_leg_2]
	,'' AS [CDE_End_date_of_notional_amount_of_leg_2]
	,'' AS [CDE_Notional_amount_in_effect_on_associated_effective_date_of_leg_2]
	,CASE
		WHEN M.InstrumentID IN(312, 313, 314) THEN '3' -- interest rates
		WHEN M.InstrumentTypeID IN(2) AND MT.ExchangeID = 3 THEN '3' -- this condition is needed for some indices (typically incorrectly mapped)
		WHEN M.InstrumentTypeID IN(4) THEN '3' -- indices
		ELSE '1'
	END AS [CDE_Price_notation]
	,CASE
		WHEN M.InstrumentID IN(312, 313, 314) THEN CONVERT(VARCHAR, CAST(OLD_ASIC.OpenPrice AS DECIMAL(11, 3)))   -- interest rates 
		WHEN M.InstrumentTypeID IN(2) AND MT.ExchangeID = 3 THEN CONVERT(VARCHAR, CAST(OLD_ASIC.OpenPrice AS DECIMAL(11, 3))) -- this condition is needed for some indices (typically incorrectly mapped)
		WHEN M.InstrumentTypeID IN(4) THEN CONVERT(VARCHAR, CAST(OLD_ASIC.OpenPrice AS DECIMAL(11, 3))) -- indices
		ELSE CONVERT(VARCHAR, CAST(OLD_ASIC.OpenPrice AS DECIMAL(18, 8)))
	END AS [CDE_Price]
	,CASE
		WHEN M.InstrumentID IN(312, 313, 314) THEN '' 
		WHEN M.InstrumentTypeID IN(2) AND MT.ExchangeID = 3 THEN '' 
		WHEN M.InstrumentTypeID IN(4) THEN ''
		ELSE 
			CASE 
				WHEN MT.InstrumentID IS NOT NULL AND MT.IsISO = 0 THEN 'USD' 
				ELSE CONVERT(VARCHAR(3), M.SellAbbreviation)
			END 
	END AS [CDE_Price_currency]
	,'ACCY' AS [CDE_Price_unit_of_measure]
	,'' AS [CDE_Fixed_rate_of_leg_1_coupon]
	,'' AS [CDE_Fixed_rate_of_leg_2]
	,'' AS [CDE_Spread_notation_of_leg_1]
	,'' AS [CDE_Spread_of_leg_1]
	,'' AS [CDE_Spread_notation_of_leg_2]
	,'' AS [CDE_Spread_of_leg_2]
	,'' AS [CDE_Spread_currency_of_leg_1]
	,'' AS [CDE_Spread_currency_of_leg_2]
	,'' AS [CDE_Strike_price_notation]
	,'' AS [CDE_Strike_price]
	,'' AS [CDE_Strike_price_currency]
	,'' AS [CDE_Strike_price_currency_2]
	,'' AS [CDE_Option_premium_amount]
	,'' AS [CDE_Option_premium_currency]
	,'' AS [CDE_Option_premium_payment_date]
	,CASE WHEN M.InstrumentTypeID = 1 THEN CONVERT(VARCHAR, CAST(OLD_ASIC.OpenPrice AS DECIMAL(18, 13))) ELSE '' END AS [CDE_Exchange_rate]
	,LEFT(CASE
		WHEN M.InstrumentTypeID = 1 AND M.InstrumentID = 45 THEN 'USD/CNY'
		WHEN M.InstrumentTypeID = 1 AND M.InstrumentID <> 45 THEN InstrumentName
		ELSE '' END
	, 3) AS [CDE_Exchange_rate_basis_currency_1]
	,RIGHT(CASE
		WHEN M.InstrumentTypeID = 1 AND M.InstrumentID = 45 THEN 'USD/CNY'
		WHEN M.InstrumentTypeID = 1 AND M.InstrumentID <> 45 THEN InstrumentName
		ELSE '' END
	, 3) AS [CDE_Exchange_rate_basis_currency_2]
	,'' AS [CDE_Fixed_rate_coupon_day_count_convention_leg_1]
	,'' AS [CDE_Floating_rate_day_count_convention_of_leg_1]
	,'' AS [CDE_Fixed_rate_day_count_convention_leg_2]
	,'' AS [CDE_Floating_rate_day_count_convention_of_leg_2]
	,'' AS [CDE_Fixed_rate_coupon_payment_frequency_period_leg_1]
	,'' AS [CDE_Floating_rate_payment_frequency_period_of_leg_1]
	,'' AS [CDE_Fixed_rate_payment_frequency_period_leg_2]
	,'' AS [CDE_Floating_rate_payment_frequency_period_of_leg_2]
	,'' AS [CDE_Fixed_rate_coupon_payment_frequency_period_multiplier_leg_1]
	,'' AS [CDE_Floating_rate_payment_frequency_period_multiplier_of_leg_1]
	,'' AS [CDE_Fixed_rate_payment_frequency_period_multiplier_leg_2]
	,'' AS [CDE_Floating_rate_payment_frequency_period_multiplier_of_leg_2]
	,'' AS [CDE_Settlement_currency_1]
	,'' AS [CDE_Settlement_currency_2]
	,IIF(s.NetProfit IS NOT NULL AND OLD_ASIC.[OpenORClose]='C', CAST(CAST(ABS(s.NetProfit) AS DECIMAL(30, 5)) AS VARCHAR(50)), '') AS [CDE_Other_payment_amount]
	,IIF(s.NetProfit IS NOT NULL AND OLD_ASIC.[OpenORClose]='C', 'UWIN', '') AS [CDE_Other_payment_type]
	,IIF(s.NetProfit IS NOT NULL AND OLD_ASIC.[OpenORClose]='C', 'USD', '') AS [CDE_Other_payment_currency]
	,IIF(s.NetProfit IS NOT NULL AND OLD_ASIC.[OpenORClose]='C', CAST(CONVERT(DATE, OpenTime) AS VARCHAR(50)), '') AS [CDE_Other_payment_date]
	,IIF(s.NetProfit IS NOT NULL AND OLD_ASIC.[OpenORClose]='C', IIF(s.NetProfit>0, '549300OK2V4QF20B0D04', 'for_update'), '') AS [CDE_Other_payment_payer]
	,IIF(s.NetProfit IS NOT NULL AND OLD_ASIC.[OpenORClose]='C', IIF(s.NetProfit>0, 'for_update', '549300OK2V4QF20B0D04'), '') AS [CDE_Other_payment_receiver]
	,'' AS [Custom_basket_code_Identifier_LEI]
	,'' AS [CDE_Identifier_of_baskets_constituents]
	,'' AS [CDE_Source_of_identifier_of_baskets_constituents]
	,'' AS [Underlying_identification]
	,'' AS [Underlying_identification_type]
	,'' AS [Maturity_date_of_underlying]
	,'' AS [Indicator_of_floating_rate_of_leg_2]
	,'' AS [Floating_rate_reference_period_of_leg_2_time_period]
	,'' AS [Floating_rate_reference_period_of_leg_2_multiplier]
	,'' AS [CDE_CDS_index_attachment_point]
	,'' AS [CDE_CDS_index_detachment_point]
	,'' AS [Index_factor]
	,'' AS [CDE_Package_identifier]
	,'' AS [Swap_link_ID]
	,'' AS [CDE_Package_transaction_price_notation]
	,'' AS [CDE_Package_transaction_price]
	,'' AS [CDE_Package_transaction_price_currency]
	,'' AS [CDE_Package_transaction_spread_notation]
	,'' AS [CDE_Package_transaction_spread]
	,'' AS [CDE_Package_transaction_spread_currency]
	,'' AS [CDE_Prior_UTI]
	,'' AS [Event_Identifier]
	,'' AS [Action_type]
	,'' AS [Event_type]
	,'' AS [Report_submitting_entity_ID]
	,'NOAP' AS [Initial_margin_collateral_portfolio_code]
	,'NOAP' AS [Variation_margin_collateral_portfolio_code]      
	,'FALSE' AS [CDE_Collateral_portfolio_indicator]
	,'' AS [Technical_Record_Identification]
	,'' AS [CDE_Reporting_timestamp]
	,'' AS [Secondary_transaction_identifier]
	,'' AS [New_Derivative_Trade_Repository]
	,'' AS [Single_lower_barrier_price_notation]
	,'' AS [Upper_barrier_price_notation]
	,'' AS [Single_lower_barrier_price]
	,'' AS [Upper_barrier_price]
	,'' AS [Single_lower_barrier_price_currency]
	,'' AS [Upper_barrier_price_currency]
FROM (
	SELECT
		CAST(@StartDate AS DATETIME) AS ReportDate,
		CAST(CONVERT(NVARCHAR(8), @StartDate,112) AS INT) AS DateID,
		[CID],
		[PositionID],
		InstrumentID,
		regin AS [RegChange],
		CAST(OpenORClose AS NVARCHAR(25)) AS OpenORClose,
		CAST(IsBuy AS NVARCHAR(25)) AS IsBuy,
		CAST(PositionID AS NVARCHAR(25)) + OpenORClose + CONVERT(NVARCHAR(8), @StartDate, 112) AS 'Order',
		CONVERT(VARCHAR, CID) AS 'Login',
		CASE WHEN OpenORClose = 'C' THEN (CASE WHEN IsBuy = 0 THEN 'Sell' ELSE 'Buy' END) ELSE (CASE WHEN IsBuy = 0 THEN 'Buy' ELSE 'Sell' END) END AS 'Type', 
		LTRIM(RTRIM(Symbol)) AS Symbol,
		CAST(AmountInUnitsDecimal AS NVARCHAR(25)) AS Volume,
		CAST(ExecutionTime AS DATETIME) AS OpenTime,
		CAST(ExecutionPrice AS NVARCHAR(25)) AS OpenPrice,
		CAST('' AS varchar(25)) AS CloseTime, 
		CAST('' AS varchar(25)) AS ClosePrice, 
		CAST('' AS NVARCHAR(25)) AS Profit,      
		CAST('' AS NVARCHAR(100)) AS LoginName,
		CAST(Lei AS NVARCHAR(25)) AS Lei,
		RegulationID,
		AccountTypeID,
		PlayerLevelID,
		FullName,
		Country
	FROM #ASIC2_LifeCycle_Position 

	UNION ALL
		
	SELECT 
		CAST(@StartDate AS DATETIME) AS ReportDate,
		CAST(CONVERT(NVARCHAR(8), @StartDate, 112) AS INT) AS DateID,
		TAP.[CID],
		[PositionID],
		TAP.InstrumentID,
		'1' AS [RegChange],
		CAST('C' AS NVARCHAR(25)) AS OpenORClose,
		CAST(CASE WHEN [Type]='Buy' THEN '0' ELSE '1' END AS NVARCHAR(25)) AS IsBuy,
		CAST(PositionID AS NVARCHAR(25)) + 'C' + CONVERT(NVARCHAR(8), @StartDate, 112) AS 'Order',
		CONVERT(VARCHAR, TAP.CID) AS 'Login',
		CASE WHEN [Type] = 'Buy' THEN 'Sell' ELSE 'Buy' END AS [Type], 
		Symbol COLLATE DATABASE_DEFAULT,
		CAST(Volume AS NVARCHAR(25)) AS Volume,
		SUBSTRING(CONVERT(VARCHAR, EDO.Occurred, 121), 1, 19) AS OpenTime,
		CAST(CASE WHEN [Type] = 'Sell' THEN EDO.BidSpreaded ELSE EDO.AskSpreaded END AS NVARCHAR(25)) AS [Open Price], 
		CAST('' AS VARCHAR(25)) AS CloseTime,
		CAST('' AS VARCHAR(25)) AS ClosePrice,		
		'' AS Profit,
		CAST('' AS NVARCHAR(100)) AS LoginName, 
		CAST(LEI AS NVARCHAR(25)) AS LEI,
		RegulationID,
		c.AccountTypeID,
		c.PlayerLevelID,
		c.FullName,
		c.Country
	FROM [dbo].[ASIC2_Positions] TAP 
	JOIN #Prices_EOD EDO ON EDO.InstrumentID = TAP.InstrumentID
	LEFT JOIN #cust c ON c.CID = TAP.CID
	WHERE ReportDate = DATEADD(DAY, -1, @StartDate)
		AND TAP.PositionID IN(SELECT PositionID FROM #RealEndPop)

	UNION ALL

	SELECT  
		ReportDate,
		CAST(CONVERT(NVARCHAR(8), ReportDate, 112) AS INT) AS DateID,
		a.[CID],
		TransactionID AS [PositionID],
		a.InstrumentID,
		'3' AS [RegChange],
		CAST('C' AS NVARCHAR(25)) AS OpenORClose,
		a.IsBuy,
		CAST(TransactionID AS NVARCHAR(25)) + 'C' + CONVERT(NVARCHAR(8), @StartDate, 112) AS 'Order',
		CONVERT(VARCHAR, a.CID) AS 'Login',
		CASE WHEN a.IsBuy = 0 THEN 'Sell' ELSE 'Buy' END AS [Type], 
		m.Symbol COLLATE DATABASE_DEFAULT,
		CAST(Quntity AS NVARCHAR(25)) AS Volume,
		SUBSTRING(CONVERT(VARCHAR, Migration_Occurred, 121), 1, 19) AS OpenTime,
		CAST((CASE WHEN a.IsBuy = 1 THEN NEW_BidSpreaded ELSE NEW_AskSpreaded END) * (CASE WHEN m.IsISO = 0 THEN USDConversionRate ELSE 1.0000 END) AS NVARCHAR(25)) AS [Open Price],
		CAST('' AS VARCHAR(25)) AS CloseTime,
		CAST('' AS VARCHAR(25)) AS ClosePrice,		
		'' AS Profit,
		CAST('' AS NVARCHAR(100)) AS LoginName, 
		CAST(a.Lei AS NVARCHAR(25)) AS LEI,
		a.RegulationID,
		c.AccountTypeID,
		c.PlayerLevelID,
		c.FullName,
		c.Country
	FROM #ASIC2_RegOutDailyData a
	LEFT JOIN #Metadata m ON m.InstrumentID = a.InstrumentID
	LEFT JOIN #cust c ON c.CID = a.CID
	WHERE IsPosition = 1 
		AND ExecutionTime <= Migration_Occurred
		AND TransactionID IN (SELECT TransactionID FROM #joined_pop WHERE IsRegOutFirst = 1 OR IsRegOutFirst IS NULL)

	UNION ALL

	SELECT  
		ReportDate,
		CAST(CONVERT(NVARCHAR(8), ReportDate, 112) AS INT) AS DateID,
		a.[CID],
		LEFT(TransactionID, LEN(TransactionID) - 1) AS [PositionID],
		a.InstrumentID,
		'4' AS [RegChange],
		CAST(RIGHT(TransactionID, 1) AS NVARCHAR(25)) AS OpenORClose,
		a.IsBuy,
		CAST(TransactionID AS NVARCHAR(25)) + CONVERT(NVARCHAR(8), @StartDate, 112) AS 'Order',
		CONVERT(VARCHAR, a.CID) AS 'Login',
		CASE WHEN a.IsBuy = 0 THEN 'Buy' ELSE 'Sell' END AS [Type],
		m.Symbol COLLATE DATABASE_DEFAULT AS Symbol,
		CAST(Quntity AS NVARCHAR(25)) AS Volume,
		SUBSTRING(CONVERT(VARCHAR, ExecutionTime, 121), 1, 19) AS OpenTime,
		ExecutionPrice AS [Open Price],
		CAST('' AS varchar(25)) AS CloseTime,
		CAST('' AS varchar(25)) AS ClosePrice,		
		'' AS Profit,
		CAST('' AS NVARCHAR(100)) AS LoginName, 
		CAST(a.Lei AS NVARCHAR(25)) AS LEI,
		a.RegulationID,
		c.AccountTypeID,
		c.PlayerLevelID,
		c.FullName,
		c.Country
	FROM #ASIC2_RegOutDailyData a
	LEFT JOIN #Metadata m ON a.InstrumentID = m.InstrumentID
	LEFT JOIN #cust c ON a.CID = c.CID
	WHERE IsPosition = 0 
		AND ExecutionTime < Migration_Occurred
) AS OLD_ASIC
LEFT JOIN [ThirdParty_Fivetran].[Fivetran].[regtech].[emir_refir_upi] UPI ON UPI.instrument_id = OLD_ASIC.InstrumentID
JOIN #ASIC2_InstrumentMetaData M ON M.InstrumentID = OLD_ASIC.InstrumentID
JOIN #Metadata MT ON MT.InstrumentID = OLD_ASIC.InstrumentID
LEFT JOIN [dbo].[ASIC2_Customer_PositionReport] ASIC2CP ON ASIC2CP.CID = OLD_ASIC.CID
LEFT JOIN [dbo].[ASIC2_ext_OpenPositions_PositionsReport] s ON s.PositionID = OLD_ASIC.[PositionID] 
LEFT JOIN [ThirdParty_Fivetran].[Fivetran].[regtech].[regulation_report_excluded_cids] f ON f.cid = OLD_ASIC.CID
LEFT JOIN (
    SELECT TOP 1 WITH ties
        CID, Counterparty_2_name, Country_of_counterparty_2
    FROM [dbo].[ASIC2_Transactions]
    WHERE Counterparty_2_name IS NOT NULL AND Country_of_counterparty_2 IS NOT NULL
    ORDER BY ROW_NUMBER() OVER(PARTITION BY CID ORDER BY ReportDate DESC)
) d ON d.CID = OLD_ASIC.CID
WHERE f.cid IS NULL
AND OLD_ASIC.InstrumentID NOT IN ( SELECT ISNULL(instrument_id, 0)
				FROM [ThirdParty_Fivetran].[Fivetran].[regulation].[regtech_excluded_instruments]
				WHERE table_name = '[ASIC2_Transactions]'
				)
and NOT EXISTS (
		SELECT 1 FROM [ThirdParty_Fivetran].[Fivetran].[regulation].[regtech_excluded_position_ids] b
		WHERE CAST(  OLD_ASIC.[PositionID] AS NVARCHAR(50)) = CAST( b.position_id AS NVARCHAR(50))
		AND b.table_name = '[ASIC2_Transactions]'
	)

UPDATE #ASIC2_Transactions
SET CDE_Other_payment_payer=CDE_Counterparty_2
WHERE CDE_Other_payment_payer='for_update';

UPDATE #ASIC2_Transactions
SET CDE_Other_payment_receiver=CDE_Counterparty_2
WHERE CDE_Other_payment_receiver='for_update';

INSERT INTO [dbo].[ASIC2_Transactions]
(
	[DateID]
	,[ReportDate]
	,[CID]
	,[RegulationID]
	,[RegChange]
	,[Order]
	,[InstrumentID]
	,[Symbol]
	,[ISIN]
	,[PositionID]
	,[OpenORClose]
	,[IsBuy]
	,[OpenPrice]
	,[Quantity]
	,[Hedge_Client]
	,[Level]
	,[UpdateDate]
	,[ReportingJurisdiction]
	,[Uncollateralised]
	,[UTI]
	,[Unique_product_identifier_UPI]
	,[Asset_class]
	,[Contract_type]
	,[Entity_responsible_for_reporting]
	,[CDE_Counterparty_1_reporting_counterparty]
	,[CDE_Counterparty_2]
	,[Counterparty_2_name]
	,[CDE_Counterparty_2_identifier_type]
	,[Country_of_counterparty_2]
	,[CDE_Beneficiary_1]
	,[CDE_Beneficiary_1_type]
	,[Broker_ID]
	,[Execution_agent_of_Counterparty_1]
	,[CDE_Direction_1_Buyer_identifier_Seller_identifier]
	,[CDE_Direction_2_Payer_identifier_Receiver_identifier_of_leg_1]
	,[CDE_Direction_2_Payer_identifier_Receiver_identifier_of_leg_2]
	,[CDE_Effective_date]
	,[CDE_Expiration_date]
	,[CDE_Execution_timestamp]
	,[CDE_Event_timestamp]
	,[Clearing_timestamp]
	,[CDE_Cleared]
	,[CDE_Central_counterparty]
	,[CDE_Clearing_member]
	,[CDE_Platform_identifier]
	,[CDE_Notional_amount_of_leg_1]
	,[CDE_Notional_amount_of_leg_2]
	,[CDE_Total_notional_quantity_of_leg_1]
	,[CDE_Total_notional_quantity_of_leg_2]
	,[Notional_quantity_Leg_1]
	,[Notional_quantity_Leg_2]
	,[CDE_Call_amount]
	,[CDE_Put_amount]
	,[CDE_Notional_currency_1]
	,[CDE_Notional_currency_2]
	,[CDE_Quantity_unit_of_measure_Leg_1]
	,[CDE_Quantity_unit_of_measure_Leg_2]
	,[CDE_Call_currency]
	,[CDE_Put_currency]
	,[CDE_Effective_date_of_notional_amount_of_leg_1]
	,[CDE_End_date_of_notional_amount_of_leg_1]
	,[CDE_Notional_amount_in_effect_on_associated_effective_date_of_leg_1]
	,[CDE_Effective_date_of_notional_amount_of_leg_2]
	,[CDE_End_date_of_notional_amount_of_leg_2]
	,[CDE_Notional_amount_in_effect_on_associated_effective_date_of_leg_2]
	,[CDE_Price_notation]
	,[CDE_Price]
	,[CDE_Price_currency]
	,[CDE_Price_unit_of_measure]
	,[CDE_Fixed_rate_of_leg_1_coupon]
	,[CDE_Fixed_rate_of_leg_2]
	,[CDE_Spread_notation_of_leg_1]
	,[CDE_Spread_of_leg_1]
	,[CDE_Spread_notation_of_leg_2]
	,[CDE_Spread_of_leg_2]
	,[CDE_Spread_currency_of_leg_1]
	,[CDE_Spread_currency_of_leg_2]
	,[CDE_Strike_price_notation]
	,[CDE_Strike_price]
	,[CDE_Strike_price_currency]
	,[CDE_Strike_price_currency_2]
	,[CDE_Option_premium_amount]
	,[CDE_Option_premium_currency]
	,[CDE_Option_premium_payment_date]
	,[CDE_Exchange_rate]
	,[CDE_Exchange_rate_basis_currency_1]
	,[CDE_Exchange_rate_basis_currency_2]
	,[CDE_Fixed_rate_coupon_day_count_convention_leg_1]
	,[CDE_Floating_rate_day_count_convention_of_leg_1]
	,[CDE_Fixed_rate_day_count_convention_leg_2]
	,[CDE_Floating_rate_day_count_convention_of_leg_2]
	,[CDE_Fixed_rate_coupon_payment_frequency_period_leg_1]
	,[CDE_Floating_rate_payment_frequency_period_of_leg_1]
	,[CDE_Fixed_rate_payment_frequency_period_leg_2]
	,[CDE_Floating_rate_payment_frequency_period_of_leg_2]
	,[CDE_Fixed_rate_coupon_payment_frequency_period_multiplier_leg_1]
	,[CDE_Floating_rate_payment_frequency_period_multiplier_of_leg_1]
	,[CDE_Fixed_rate_payment_frequency_period_multiplier_leg_2]
	,[CDE_Floating_rate_payment_frequency_period_multiplier_of_leg_2]
	,[CDE_Settlement_currency_1]
	,[CDE_Settlement_currency_2]
	,[CDE_Other_payment_amount]
	,[CDE_Other_payment_type]
	,[CDE_Other_payment_currency]
	,[CDE_Other_payment_date]
	,[CDE_Other_payment_payer]
	,[CDE_Other_payment_receiver]
	,[Custom_basket_code_Identifier_LEI]
	,[CDE_Identifier_of_baskets_constituents]
	,[CDE_Source_of_identifier_of_baskets_constituents]
	,[Underlying_identification]
	,[Underlying_identification_type]
	,[Maturity_date_of_underlying]
	,[Indicator_of_floating_rate_of_leg_2]
	,[Floating_rate_reference_period_of_leg_2_time_period]
	,[Floating_rate_reference_period_of_leg_2_multiplier]
	,[CDE_CDS_index_attachment_point]
	,[CDE_CDS_index_detachment_point]
	,[Index_factor]
	,[CDE_Package_identifier]
	,[Swap_link_ID]
	,[CDE_Package_transaction_price_notation]
	,[CDE_Package_transaction_price]
	,[CDE_Package_transaction_price_currency]
	,[CDE_Package_transaction_spread_notation]
	,[CDE_Package_transaction_spread]
	,[CDE_Package_transaction_spread_currency]
	,[CDE_Prior_UTI]
	,[Event_Identifier]
	,[Action_type]
	,[Event_type]
	,[Report_submitting_entity_ID]
	,[Initial_margin_collateral_portfolio_code]
	,[Variation_margin_collateral_portfolio_code]
	,[CDE_Collateral_portfolio_indicator]
	,[Technical_Record_Identification]
	,[CDE_Reporting_timestamp]
	,[Secondary_transaction_identifier]
	,[New_Derivative_Trade_Repository]
	,[Single_lower_barrier_price_notation]
	,[Upper_barrier_price_notation]
	,[Single_lower_barrier_price]
	,[Upper_barrier_price]
	,[Single_lower_barrier_price_currency]
	,[Upper_barrier_price_currency]
)
select * from #ASIC2_Transactions;

END