USE [RegReportDB_Prod]
GO
/****** Object:  StoredProcedure [dbo].[SP_ASIC2_Instrument_Automation]    Script Date: 3/10/2026 3:09:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_ASIC2_Instrument_Automation] @ReportDate DATE
AS

/*******************************************************************************************
** Change History
********************************************************************************************
Date            Author      Description
----------		-------		------------------------------------
2021-12-27		ZurabJa		Create SP



*********************************************************************************************/

BEGIN

--DECLARE @ReportDate DATE = '2023-09-17'

DROP TABLE IF EXISTS #Prev_ASIC2_Instrument_Automation

SELECT *
INTO #Prev_ASIC2_Instrument_Automation
FROM ASIC2_Instrument_Automation
WHERE ReportDate = DATEADD(DAY, -1, @ReportDate)

--

DROP TABLE IF EXISTS #Reg_Instruments_ext

SELECT *
INTO #Reg_Instruments_ext
FROM Reg_Instruments_ext

UPDATE #Reg_Instruments_ext 
SET InstrumentTypeID = 4
WHERE InstrumentTypeID = 2 AND ExchangeID = 3

UPDATE #Reg_Instruments_ext
SET ISINCode = CASE WHEN ISINCode = 'NA' THEN NULL ELSE ISINCode END

DROP TABLE IF EXISTS #Curr_ASIC2_Instrument_Automation

SELECT
	TI.InstrumentID,
	TI.InstrumentTypeID,
	TI.BuyCurrencyID,
	TI.SellCurrencyID,
	'' AS CommodityBase,
	'' AS CommodityDetails,
	1 AS Multiplier,
	DCBuy.Abbreviation AS BuyAbbreviation,
	DCSell.Abbreviation AS SellAbbreviation,
	CASE WHEN TI.InstrumentTypeID = 1 THEN DCBuy.Abbreviation ELSE DCSell.Abbreviation END AS NotionalCurrency1,
	Case when TI.InstrumentTypeID = 1 THEN RIGHT(RTRIM(DCSell.Abbreviation), 3)  ELSE '' END AS NotionalCurrency2,
	CONVERT(VARCHAR(12), LTRIM(RTRIM(TI.ISINCode))) AS ISINCode,
	REPLACE(TI.InstrumentDisplayName, ',', ' ') AS InstrumentDescription,
	UPPER(TI.SymbolFull) AS Symbol,
	CASE WHEN TI.SellCurrencyID = 666 THEN 1 ELSE 0 END AS IsGBX,
	CASE WHEN ISO.Currency IS NULL THEN 0 ELSE 1 END AS IsISO,
	CASE
		WHEN TI.InstrumentTypeID IN(5, 6) THEN 'Equity:ContractForDifference:PriceReturnBasicPerformance:SingleName'
		WHEN TI.InstrumentTypeID = 4 AND TI.InstrumentID IN(312, 313, 314) THEN 'InterestRate:Forward:Debt'
		WHEN TI.InstrumentTypeID = 4 THEN 'Equity:ContractForDifference:PriceReturnBasicPerformance:SingleIndex'
		WHEN TI.InstrumentTypeID = 10 THEN 'Commodity:index:exotic'
		WHEN TI.InstrumentTypeID = 1 THEN 'ForeignExchange:NDF'
		WHEN TI.InstrumentTypeID = 2 THEN 'PLEASE_UPDATE_THE_RELEVANT_VALUE_FOR_THIS_CELL'
		ELSE ''
	END AS ISDATaxonomy,
	CASE
		WHEN TI.InstrumentTypeID IN(4, 5, 6) THEN 'ES-PSA-CFD'
		WHEN TI.InstrumentTypeID = 1 THEN 'ForeignExchange:NDF'
		WHEN TI.InstrumentTypeID IN(2, 10) THEN 'GP:GEN:GEN'
		ELSE ''
	END AS ProductSelector,
	CASE
		WHEN TI.InstrumentID IN(312, 313, 314) THEN 'IR'
		WHEN TI.InstrumentTypeID IN(4, 5, 6) THEN 'EQ'
		WHEN TI.InstrumentTypeID = 1 THEN 'CU'
		WHEN TI.InstrumentTypeID IN(2, 10) THEN 'CO'
		ELSE ''
	END AS AssetClass,
	TI.ExchangeID,
	TI.VisibleInternallyOnly
INTO #Curr_ASIC2_Instrument_Automation
FROM #Reg_Instruments_ext TI WITH(NOLOCK) -- (needs to run on Ext do not change)
LEFT JOIN [dbo].[Reg_Ext_DictionaryCurrency] DCBuy WITH(NOLOCK) ON DCBuy.CurrencyID = TI.BuyCurrencyID      
LEFT JOIN [dbo].[Reg_Ext_DictionaryCurrency] DCSell WITH(NOLOCK) ON DCSell.CurrencyID = TI.SellCurrencyID
LEFT JOIN [dbo].[ISO_Currencies_Static] ISO ON ((CASE WHEN TI.SellCurrencyID = 666 THEN REPLACE(DCSell.Abbreviation, 'GBX', 'GBP')
													WHEN TI.SellCurrencyID = 38 THEN REPLACE(DCSell.Abbreviation, 'CNH', 'CNY')
													ELSE DCSell.Abbreviation
												END) = ISO.Currency Collate Latin1_General_BIN
											OR RIGHT(RTRIM(DCSell.Abbreviation), 3) = ISO.Currency Collate Latin1_General_BIN)
WHERE TI.Tradable = 1

-- fix NotionalCurrency1 by IsISO = 0
UPDATE #Curr_ASIC2_Instrument_Automation
SET NotionalCurrency1 = 'USD'
WHERE IsISO = 0 AND InstrumentTypeID <> 1

-- fix NotionalCurrency1 by SellCurrencyID IN(666, 38)
UPDATE #Curr_ASIC2_Instrument_Automation
SET NotionalCurrency1 = CASE WHEN SellCurrencyID = 666 THEN REPLACE(SellAbbreviation, 'GBX', 'GBP')
							WHEN SellCurrencyID = 38 THEN REPLACE(SellAbbreviation, 'CNH', 'CNY')
						END
WHERE InstrumentTypeID <> 1
	AND SellCurrencyID IN(666, 38)

-- fix NotionalCurrency2 by SellCurrencyID IN(666, 38)
UPDATE #Curr_ASIC2_Instrument_Automation
SET NotionalCurrency2 = CASE WHEN SellCurrencyID = 666 THEN REPLACE(SellAbbreviation, 'GBX', 'GBP')
							WHEN SellCurrencyID = 38 THEN REPLACE(SellAbbreviation, 'CNH', 'CNY')
						END
WHERE InstrumentTypeID = 1
	AND SellCurrencyID IN(666, 38)


/* check if RC > 0 data else dont truncate */
DECLARE @Curr_RC AS INT = (SELECT COUNT(1) FROM #Curr_ASIC2_Instrument_Automation)

IF @Curr_RC > 0
BEGIN

DELETE [dbo].[ASIC2_Instrument_Automation]
WHERE ReportDate = @ReportDate

INSERT INTO [dbo].[ASIC2_Instrument_Automation]
(
	InstrumentID
	,InstrumentTypeID
	,BuyCurrencyID
	,SellCurrencyID
	,CommodityBase
	,CommodityDetails
	,Multiplier
	,BuyAbbreviation
	,SellAbbreviation
	,NotionalCurrency1
	,NotionalCurrency2
	,ISINCode
	,InstrumentDescription
	,Symbol
	,IsGBX
	,IsISO
	,ISDATaxonomy
	,ProductSelector
	,AssetClass
	,UpdateDate
	,ReportDate
	,ExchangeID
	,VisibleInternallyOnly
)
SELECT
	a.InstrumentID
	,a.InstrumentTypeID
	,a.BuyCurrencyID
	,a.SellCurrencyID
	,a.CommodityBase
	,a.CommodityDetails
	,a.Multiplier
	,a.BuyAbbreviation
	,a.SellAbbreviation
	,a.NotionalCurrency1
	,a.NotionalCurrency2
	,a.ISINCode
	,a.InstrumentDescription
	,a.Symbol
	,a.IsGBX
	,a.IsISO
	,CASE
		WHEN LOWER(a.InstrumentDescription) LIKE '%dorm%' AND a.InstrumentID <> 9859 THEN b.ISDATaxonomy
		WHEN a.InstrumentTypeID = 2 AND b.InstrumentID IS NOT NULL THEN b.ISDATaxonomy ELSE a.ISDATaxonomy
	END AS ISDATaxonomy
	,a.ProductSelector
	,a.AssetClass
	,GETDATE() AS UpdateDate
	,@ReportDate
	,a.ExchangeID
	,a.VisibleInternallyOnly
FROM #Curr_ASIC2_Instrument_Automation a
LEFT JOIN #Prev_ASIC2_Instrument_Automation b ON b.InstrumentID = a.InstrumentID

--------------- keep last day in case bad update 
TRUNCATE TABLE [dbo].[ASIC2_Instrument_Automation_Daily_Backup]

INSERT INTO [dbo].[ASIC2_Instrument_Automation_Daily_Backup]
SELECT * FROM [dbo].[ASIC2_Instrument_Automation]

END

END
