USE [RegReportDB_Prod]
GO
/****** Object:  StoredProcedure [dbo].[SP_ASIC2_PositionReport]    Script Date: 3/10/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROC [dbo].[SP_ASIC2_PositionReport] (@StartDate DATE)

AS

/********************************************************************************************
Author:      RamaziKa
Date:        2024-08-26
Description: ASIC2_Positions Report
 
**************************
** Change History
**************************
Date            Author			Description   
----------		----------		------------------------------------
2025-01-21   RamaziKa      DSR-7849 added filter  exclude position_id [ThirdParty_Fivetran].[Fivetran].[regulation].[regtech_excluded_position_ids] b


*********************************************************************************************/

BEGIN

--DECLARE @StartDate DATE = '20240825'
DECLARE @EndDate DATE = DATEADD(DAY, 1, @StartDate)
DECLARE @Testing BIT = 0


-- ################################################
--  Positions Data  Only Open Trades
-- ################################################
DROP TABLE IF EXISTS #Positions

SELECT
	tp.PositionID,
	tp.CID,
	tp.OpenOccurred AS Occurred,
	tp.IsBuy,
	ti.SymbolFull AS Symbol,
	tp.AmountInUnitsDecimal,
	tp.InitForexRate,
	REPLACE(ISNULL (cc.FirstName, '') + ' ' + ISNULL(cc.LastName, ''), ',', '') AS FullName,
	tp.InstrumentID,
	CONVERT(Decimal(16, 8), NULL) AS LastOpConversionRate,
	CONCAT(CONVERT(VARCHAR, CONVERT(INT, tp.InitForexRate)), SUBSTRING(CONVERT(VARCHAR, ROUND(tp.InitForexRate,5) % 1), 3, 5)) AS InitForexRateVarcharNoDecimalPoint,
	CONCAT(CONVERT(VARCHAR, CONVERT(INT, tp.AmountInUnitsDecimal)), SUBSTRING(CONVERT(VARCHAR, ROUND(tp.AmountInUnitsDecimal,5) % 1), 3, 5)) AS AmountInUnitsDecimalVarcharNoDecimalPoint,
	LEI,
	tp.RegulationID
INTO #Positions
FROM [dbo].[ASIC2_ext_OpenPositions_PositionsReport] tp WITH(NOLOCK)
JOIN [dbo].[Reg_Instruments_ext] ti WITH(NOLOCK) ON ti.InstrumentID = tp.InstrumentID 
JOIN [dbo].[ASIC2_Customer_PositionReport] cc WITH(NOLOCK) ON cc.CID = tp.CID
		
WHERE IsSettled = 0
	AND	tp.OpenOccurred < @EndDate
	AND (tp.CloseOccurred > @EndDate OR tp.CloseOccurred IS NULL)
				 
----------- #Metadata chenged by Slavane 22-02-2022 -------------

DROP TABLE IF EXISTS #Metadata

CREATE TABLE #Metadata
(
	InstrumentID INT,
	InstrumentTypeID INT,
	BuyCurrencyID INT,
	SellCurrencyID INT,
	BuyAbbreviation VARCHAR(20),
	SellAbbreviation VARCHAR(20),
	ISINCode VARCHAR(20),
	InstrumentDescription VARCHAR(200),
	Symbol VARCHAR(20),
	IsGBX BIT,
	IsISO BIT
)

INSERT INTO #Metadata
SELECT 
	RI.InstrumentID,
	RI.InstrumentTypeID,
	RI.BuyCurrencyID,
	RI.SellCurrencyID,
	DCBuy.Abbreviation AS BuyAbbreviation,
	CASE
		WHEN RI.SellCurrencyID = 666 THEN REPLACE(DCSell.Abbreviation, 'GBX', 'GBP')
		WHEN RI.SellCurrencyID = 38 THEN REPLACE(DCSell.Abbreviation, 'CNH', 'CNY')
		ELSE DCSell.Abbreviation
	END AS SellAbbreviation,
	CONVERT(VARCHAR(12), LTRIM(RTRIM(RI.ISINCode))) AS ISINCode, 
	REPLACE(RI.InstrumentDisplayName, ',', ' ') AS InstrumentDescription,
	RI.SymbolFull AS Symbol,
	CASE WHEN RI.SellCurrencyID = 666 THEN 1 ELSE 0 END AS IsGBX,
	CASE WHEN ISO.Currency IS NULL THEN 0 ELSE 1 END AS IsISO
FROM [dbo].[Reg_Instruments_SCD] RI WITH(NOLOCK)  
LEFT JOIN [dbo].[Reg_Ext_DictionaryCurrency] DCBuy WITH(NOLOCK) ON DCBuy.CurrencyID = RI.BuyCurrencyID  
LEFT JOIN [dbo].[Reg_Ext_DictionaryCurrency] DCSell WITH(NOLOCK) ON DCSell.CurrencyID = RI.SellCurrencyID   
LEFT JOIN [dbo].[ISO_Currencies_Static] ISO ON ((CASE WHEN RI.SellCurrencyID = 666 THEN REPLACE(DCSell.Abbreviation, 'GBX', 'GBP')
													WHEN RI.SellCurrencyID = 38 THEN REPLACE(DCSell.Abbreviation, 'CNH', 'CNY')
													ELSE DCSell.Abbreviation   
												END) = ISO.Currency Collate Latin1_General_BIN  
											OR RIGHT(RTRIM(DCSell.Abbreviation), 3) = ISO.Currency Collate Latin1_General_BIN)
WHERE RI.Tradable = 1 -- AND VisibleInternallyOnly = 0
	AND @StartDate >= RI.ValidFrom AND @StartDate < RI.ValidTo


	-- #####################
	--    create #prices 
	-- #####################

DROP TABLE IF EXISTS #Prices_EOD

SELECT
	s.InstrumentID,
	CASE WHEN IsGBX = 1 THEN AskSpreaded/100.00 ELSE AskSpreaded END AS AskSpreaded,
	CASE WHEN IsGBX = 1 THEN BidSpreaded/100.00 ELSE BidSpreaded END AS BidSpreaded,
	Occurred,
	IsGBX
INTO #Prices_EOD
FROM [dbo].[Reg_Ext_CurrencyPriceMaxDateWithSplit] s
JOIN #Metadata m ON m.InstrumentID = s.InstrumentID
WHERE OccurredDateID = CONVERT(VARCHAR(10), @StartDate, 112)

CREATE CLUSTERED INDEX #CI_#Prices_EOD ON #Prices_EOD (InstrumentID)


DECLARE @RowC INT = 1
WHILE @RowC > 0
 
BEGIN
	DELETE TOP (4000)
	FROM [dbo].[ASIC2_Positions]
	WHERE ReportDate = @StartDate

	SELECT @RowC = @@rowcount
END


    -- ##############################################
	--    Insert Data to table ASIC_CUST_AUSTRALIA
	-- ##############################################

INSERT INTO [dbo].[ASIC2_Positions]
(
	[ReportDate]
	,[DateID]
	,[CID]
	,[PositionID]
	,[InstrumentID]
	,[Deal]
	,[Login]
	,[Transaction Time]
	,[Type]
	,[Symbol]
	,[Volume]
	,[Open Price]
	,[Close Price]
	,[ValuationDateTime]
	,[Login Name]
	,[UpdateDate]
	,[LEI]
	,[RegulationID]
)
SELECT 
	@StartDate AS ReportDate,
	CONVERT(VARCHAR(8), @StartDate, 112) AS DateID,
	P.CID,
	P.PositionID,
	P.InstrumentID,
	CONVERT(VARCHAR, P.PositionID) AS 'Deal',
	CONVERT(VARCHAR, P.CID) AS 'Login',
	SUBSTRING(CONVERT(VARCHAR, P.Occurred, 121), 1, 19) AS 'Transaction Time',
	CASE WHEN P.IsBuy = 0 THEN 'Buy' ELSE 'Sell' END AS 'Type', 
	LTRIM(RTRIM(P.Symbol)) AS Symbol, 
	CAST(P.AmountInUnitsDecimal AS DECIMAL(16, 6)) AS 'Volume',
	CAST(P.InitForexRate AS DECIMAL(16, 6)) AS 'Open Price',
	CAST(CASE WHEN IsBuy = 1 THEN PRC.AskSpreaded ELSE PRC.BidSpreaded END AS DECIMAL(16, 6)) AS 'Close Price',
	SUBSTRING(CONVERT(VARCHAR, PRC.Occurred, 121), 1, 19) AS 'ValuationDateTime',
	'' AS 'Login Name',
	GETDATE() AS UpdateDate,
	LEI,
	P.RegulationID
FROM #Positions P
JOIN #Prices_EOD PRC ON PRC.InstrumentID = P.InstrumentID
WHERE P.InstrumentID NOT IN ( SELECT ISNULL(instrument_id, 0)
								FROM [ThirdParty_Fivetran].[Fivetran].[regulation].[regtech_excluded_instruments]
								WHERE table_name = '[ASIC2_Positions]'
							)
	and NOT EXISTS (
					SELECT 1 FROM [ThirdParty_Fivetran].[Fivetran].[regulation].[regtech_excluded_position_ids] b
				  	WHERE CAST( P.PositionID AS NVARCHAR(50)) = CAST( b.position_id AS NVARCHAR(50))
					AND b.table_name = '[ASIC2_Positions]'
				)

END
