USE [RegReportDB_Prod]
GO
/****** Object:  StoredProcedure [dbo].[SP_InstrumentMetaData_SpecialChar_Conversion]    Script Date: 5/15/2026 3:39:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*
Date dd-mm-yyyy  Developer             Comments
------------------ --------------------- -----------------------------------------------------------------
20201005		arielka		add case upper/lower based on charindex-if first char upper other lower.
20201005 		arielka		change  Linked server to [AZR-W-REAL-DB-2]
20220601		olegaAb		REPLACE SYNONYM to EXT TABLES - DSR-2364
20250210        ramazika    add logic to fix weird symbol, if we have more than one in one string - DSR-8131


*/

ALTER procedure [dbo].[SP_InstrumentMetaData_SpecialChar_Conversion] @ReportDate date
as

--declare @ReportDate as date   
--set @ReportDate = '2020-09-12'

Drop table if exists #Weird_Char
 select *, row_number() over (order by [Key] ) rn  
 into #Weird_Char
 from [Dictionary].[Ext_SpecialChar]



 declare @count int 
 set @count =(select count([Key]) from [Dictionary].[Ext_SpecialChar])


declare @loop_char nvarchar(1)


delete from [dbo].[InstrumentMetaData_SpecialChar_Conversion]
where ReportDate =@ReportDate 

declare @iter int 
Set @iter =1
while @iter< @count
 begin 

  set @loop_char=  (select [Key] from #Weird_Char where rn=@iter)

 declare @V as Nvarchar(1)
 set @V =  (select Value from #Weird_Char where rn=@iter)


 insert into   [dbo].[InstrumentMetaData_SpecialChar_Conversion]
 SELECT [InstrumentID],				
 		[InstrumentDisplayName]	,
		CASE when charindex(@loop_char,InstrumentDisplayName)=1
		then Replace(InstrumentDisplayName,@loop_char,Upper(@V) )
		else Replace(InstrumentDisplayName,@loop_char,Lower(@V) ) end New_InstrumentDisplayName
		, @ReportDate
 from [dbo].[Reg_Ext_Trade_InstrumentMetaData]
--where charindex('ö',  InstrumentDisplayName )>0
where charindex(@loop_char,  InstrumentDisplayName )>0

 
set @iter= @iter +1
end 


-- DSR-8131 
DECLARE symbol_cursor CURSOR FOR
SELECT [Key], Value FROM #Weird_Char;


DECLARE @weird_symbol NVARCHAR(100);
DECLARE @real_value NVARCHAR(100);
OPEN symbol_cursor;

FETCH NEXT FROM symbol_cursor INTO @weird_symbol, @real_value;

WHILE @@FETCH_STATUS = 0
BEGIN
    -- Update the table replacing the weird symbol with the real value

    UPDATE [dbo].[InstrumentMetaData_SpecialChar_Conversion]
    SET New_InstrumentDisplayName = 
        CASE 
            WHEN charindex(@weird_symbol, New_InstrumentDisplayName) = 1 THEN REPLACE(New_InstrumentDisplayName, @weird_symbol, Upper(@real_value)) 
			ELSE REPLACE(New_InstrumentDisplayName, @weird_symbol, lower(@real_value)) END
    WHERE CHARINDEX(@weird_symbol, New_InstrumentDisplayName) > 0;

  
    -- Fetch the next row
    FETCH NEXT FROM symbol_cursor INTO @weird_symbol, @real_value;
END;
CLOSE symbol_cursor;
DEALLOCATE symbol_cursor;


