USE [RegReportDB_Prod]
GO
/****** Object:  StoredProcedure [dbo].[SP_Reg_LiquidtyAcount_SCD]    Script Date: 5/13/2026 4:54:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/********************************************************************************************
Author:      Ariel ka
Date:        2021-06-15
Description: 
 
**************************
** Change History
**************************
Date         Author       Description   
----------    ----------   ------------------------------------
2021-09-05  arielka		add LiquidityProviderID coll  

*********************************************************************************************/

ALTER  procedure [dbo].[SP_Reg_LiquidtyAcount_SCD]
as
begin

Declare @RunDate Date = cast(GetUtcDate() as Date)

/* step 1 - join 2 ext to tmp #current */
drop table if exists #current_ext
SELECT LA.LiquidityAccountID,HTLA.HedgeServerID, LA.LiquidityAccountName,LiquidityProviderID 
into #current_ext
From Reg_LiquidtyAcount_Ext LA 
LEFT JOIN Reg_HedgeServerToLiquidityAccount_Ext  HTLA 
ON LA.LiquidityAccountID = HTLA.LiquidityAccountID
order by HTLA.HedgeServerID

/* insert New  */
insert into Reg_LiquidtyAcount_SCD(LiquidityAccountID,HedgeServerID,LiquidityAccountName,LiquidityProviderID,ValidFrom,ValidTo,RunDate,IsNew,IsLast)
select 
LiquidityAccountID,
HedgeServerID,
LiquidityAccountName,
LiquidityProviderID,
GetUtcDate() ValidFrom,
cast('9999-12-31' as datetime) ValidTo,
@RunDate RunDate,
1 IsNew,
1 IsLast
from #current_ext
where LiquidityAccountID not in ( select distinct LiquidityAccountID from Reg_LiquidtyAcount_SCD )

/* get last rec from  Reg_LiquidtyAcount_SCD  */
Drop table if exists  #LastRecFound
select LiquidityAccountID,
max(ValidTo) m_ValidTo,
case when max(ValidTo)<>cast('9999-12-31' as datetime)  then 1 else 0 end WasClosedInd
into #LastRecFound
from Reg_LiquidtyAcount_SCD  with (nolock)
group by LiquidityAccountID

create Clustered index #CI_LastRecFound on #LastRecFound(LiquidityAccountID,m_ValidTo)

/* Identify Change */
Drop table if exists  #DataForChange

Select LiquidityAccountID 
into #DataForChange
from 	(select LiquidityAccountID,HedgeServerID,LiquidityAccountName,LiquidityProviderID
		from #current_ext  with (nolock)
		except 
		select a.LiquidityAccountID,HedgeServerID,LiquidityAccountName,LiquidityProviderID
		from Reg_LiquidtyAcount_SCD a  with (nolock)
		join #LastRecFound b  ON a.LiquidityAccountID=b.LiquidityAccountID and a.ValidTo=b.m_ValidTo
		) ch

/* close changed Rec */
Update a
set 
ValidTo=case when WasClosedInd=1 then a.ValidTo else GetUtcDate() end ,
[RunDate]=@RunDate,
IsLast=0
from Reg_LiquidtyAcount_SCD a
join #LastRecFound b  ON a.LiquidityAccountID=b.LiquidityAccountID and a.ValidTo=b.m_ValidTo
where a.LiquidityAccountID in (select LiquidityAccountID from #DataForChange)

/* insert new change  */
insert into Reg_LiquidtyAcount_SCD(LiquidityAccountID,HedgeServerID,LiquidityAccountName,LiquidityProviderID,ValidFrom,ValidTo,[RunDate],IsNew,IsLast)
select 
LiquidityAccountID,
HedgeServerID,
LiquidityAccountName,
LiquidityProviderID,
GetUtcDate() ValidFrom,
cast('9999-12-31' as datetime) ValidTo,
[RunDate]=@RunDate ,
0 IsNew,
1 IsLast
from #current_ext
where LiquidityAccountID  in (select LiquidityAccountID from #DataForChange)

/* Close removed  from ext */
update a
set  
ValidTo=GetUtcDate(),
[RunDate]=@RunDate 
--select * 
from Reg_LiquidtyAcount_SCD a  with (nolock)
join #LastRecFound b  ON a.LiquidityAccountID=b.LiquidityAccountID and a.ValidTo=b.m_ValidTo
left join #current_ext c ON a.LiquidityAccountID=c.LiquidityAccountID
where c.LiquidityAccountID is null 

--  exec [SP_Reg_LiquidtyAcount_SCD]

End






