USE [RegReportDB_Prod]
GO
/****** Object:  StoredProcedure [dbo].[SP_Reg_Instruments_SCD]    Script Date: 3/10/2026 3:16:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER      PROCEDURE [dbo].[SP_Reg_Instruments_SCD] (
@IsHistoryRun AS INT = 0,
@StartSnapDate AS DATE =  '9999-12-31'

)
AS 
/********************************************************************************************
Author:      Ariel ka
Date:        2021-06-14
Description: 
 
**************************
** Change History
**************************
Date         Author       Description   
--------	---------	------------------------------------
20210820	Nativ		update using firds full table  instead of full prev ; update tree instruments Ids  to mifid 0 (6782, 9272 , 3207)
20210822	Slava		update is mifid =1 for    Ext.InstrumentTypeID <>4 
20210829	Nativ		Insert the TradingVenue logic. in case Id has at least one active TradingVenue it will be inserted to #FIRDS_ALL
20211102	arielka		add run constraint to avoid double run a day or history run
20211123	OlegAb		add history run possibility
20211221	arielka		add VisibleInternallyOnly coll 
20220113	arielka		update ( 6782, 9272 , 3207) move to be exceuted on EXT
20220210	OlegAb 		add IsMifidByFCA coll 
20220908	OlegAb		DSR-2834 - Fix starting date in FIRDS process
20221003	arielka		DSR-2961 --IsMifid & IsMifidByFCA Override for specific ins & type 
20221006	arielka		DSR-2982 -- when InstrumentTypeID = 2 and ExchangeID = 3  then InstrumentTypeID →   4 
20221026	arielka		DSR-3039 -- align Empty values to null on ISINCode coll 
20221113	arielka		DSR-2994 -- IsMifid & IsMifidByFCA Override to 0 for InstrumentID in  (312,313,314)
20231102	arielka		DSR-5334 -- IsMifid & IsMifidByFCA Override to 0 for InstrumentID 1350  
2023-12-06   slavane    add columns from fivetran  SmsEur	 , SiRefreshRateSec 
2025-01-28   Davidsi    DSR-8029 add field called “IsFuture” to the Reg_Instruments_SCD
*********************************************************************************************/

/* !! 
Pls Notice: 
some Q are redirected to Prod even when Running from Dev this is because the Data Sources on Dev are not fully updated
for example FIRDS data is not updeted at all on Dev
!! */

BEGIN

DECLARE @InitCounter INT = 1
DECLARE @Counter INT = 0

IF @IsHistoryRun=1
	SET @InitCounter  = (SELECT COUNT(DISTINCT SnapDate)
	FROM /*[RegReportDB_Prod].*/[dbo].[Reg_Instruments_ext_Archive] with (nolock)
	WHERE SnapDate >= @StartSnapDate )

/* pre_loop faze-get the SCD copy of StartSnapDate-1 from SCD_Archive, to start Rollover from*/
IF @IsHistoryRun=1
begin
	declare @StartSnapDate_RollB as date =dateadd(dd,-1,@StartSnapDate)

		--truncate table Reg_Instruments_SCD
		delete from Reg_Instruments_SCD

			insert into Reg_Instruments_SCD
			([InstrumentID],
			[InstrumentTypeID],
			[InstrumentDisplayName],
			[Symbol],
			[SymbolFull],
			[Tradable],
			[ISINCode],
			[InstrumentVisible],
			[BuyCurrencyID],
			[SellCurrencyID],
			[ValidFrom],
			[ValidTo],
			[UpdateDate],
			[IsMifid],
			[IsMifidByFCA],
			[ContractExpire],
			[ExchangeID],
			[VisibleInternallyOnly],
			SmsEur,	
            SiRefreshRateSec,
			IsFuture)
			select 
			[InstrumentID],
			[InstrumentTypeID],
			[InstrumentDisplayName],
			[Symbol],
			[SymbolFull],
			[Tradable],
			[ISINCode],
			[InstrumentVisible],
			[BuyCurrencyID],
			[SellCurrencyID],
			[ValidFrom],
			[ValidTo],
			[UpdateDate],
			[IsMifid],
			[IsMifidByFCA],
			[ContractExpire],
			[ExchangeID],
			[VisibleInternallyOnly],
			SmsEur,	
            SiRefreshRateSec,
			IsFuture
			from Reg_Instruments_SCD_Archive where SnapDate=@StartSnapDate_RollB
end

WHILE ( @Counter < @InitCounter)
	BEGIN
		DECLARE @CurrDate DATE = (
		select case when @IsHistoryRun = 1 and @StartSnapDate!='9999-12-31' THEN
		@StartSnapDate ELSE cast(getdate() as date) end)
		
		DECLARE @VAlDate DATE = (select  max(EndTime)
								from RegReportsLog
								where TableName='Reg_Instruments_SCD')
								print @VAlDate
								print @CurrDate
								
		DECLARE @MAX_FIRDS_DLTINS_Prev_DATE DATE = (
		select max (FileDate) from  /*[RegReportDB_Prod].*/[dbo].[FIRDS_DLTINS_Prev]  with (nolock)
		where  FileDate <= @CurrDate)
								
		DECLARE @MAX_FIRDS_FULINS_DATE DATE = (
		select max (FileDate) from  /*[RegReportDB_Prod].*/[dbo].[FIRDS_FULINS] with (nolock)
		where  FileDate BETWEEN DATEADD(DD, -60, @CurrDate) and @CurrDate)
		
		DECLARE @MAX_FCA_DLTINS_Prev_DATE VARCHAR (10) = (
		select max (FileDate) from  /*[RegReportDB_Prod].*/[dbo].[FCA_DLTINS_Prev]  with (nolock)
		where  FileDate <= CONVERT(VARCHAR,DATEADD(DD,0,@CurrDate),112))
		
		DECLARE @MAX_FCA_FULINS_DATE VARCHAR (10) = (
		select max (FileDate) from /*[RegReportDB_Prod].*/[dbo].[FCA_FULINS_Prev] with (nolock)
		where  FileDate BETWEEN CONVERT(VARCHAR,DATEADD(DD,-60,@CurrDate),112) and CONVERT(VARCHAR,DATEADD(DD,0,@CurrDate),112))
		
		
		IF (@CurrDate<=@VAlDate AND @IsHistoryRun!=1)
			BEGIN
				PRINT 'the proc is not allowed to run on history dates or twice a day !!! '  
				RETURN  
			END
		ELSE
			BEGIN
			
				/* get Ext to Tmp */
				DROP TABLE IF EXISTS ##Reg_Instruments_ext
				CREATE TABLE ##Reg_Instruments_ext (
					[InstrumentID] [int] NULL,
					[InstrumentTypeID] [int] NULL,
					[InstrumentDisplayName] [varchar](100) NULL,
					[Symbol] [varchar](100) NULL,
					[SymbolFull] [varchar](100) NULL,
					[Tradable] [bit] NULL,
					[ISINCode] [varchar](30) NULL,
					[InstrumentVisible] [int] NULL,
					[BuyCurrencyID] [int] NULL,
					[SellCurrencyID] [int] NULL,
					[ContractExpire] [int] NULL,
					[ExchangeID] [int] NULL,
					[VisibleInternallyOnly] [int] NULL,
					[IsMifid] [int] NULL,
					[IsMifidByFCA] [int] NULL,
					[UpdateDate] [datetime] NULL,
					SmsEur	int NULL ,
                    SiRefreshRateSec int NULL,
					[IsFuture] [int] NULL
				)

				IF @IsHistoryRun=1
					BEGIN
						INSERT INTO ##Reg_Instruments_ext 
								([InstrumentID]
								,[InstrumentTypeID]
								,[InstrumentDisplayName]
								,[Symbol]
								,[SymbolFull]
								,[Tradable]
								,[ISINCode]
								,[InstrumentVisible]
								,[BuyCurrencyID]
								,[SellCurrencyID]
								,[ContractExpire]
								,[ExchangeID]
								,[VisibleInternallyOnly]
								,[IsMifid]
								,[IsMifidByFCA]
								,[UpdateDate]
								,SmsEur	
                                ,SiRefreshRateSec,
								IsFuture)
						SELECT  [InstrumentID]
								,[InstrumentTypeID]
								,[InstrumentDisplayName]
								,[Symbol]
								,[SymbolFull]
								,[Tradable]
								,[ISINCode]
								,[InstrumentVisible]
								,[BuyCurrencyID]
								,[SellCurrencyID]
								,[ContractExpire]
								,[ExchangeID]
								,[VisibleInternallyOnly]
								,null [IsMifid]
								,null [IsMifidByFCA]
								,[UpdateDate]
								,SmsEur	
                                ,SiRefreshRateSec
								,IsFuture
						--INTO #Reg_Instruments_ext
						FROM [dbo].[Reg_Instruments_ext_Archive] with (nolock)
						WHERE SnapDate = @StartSnapDate

					END
				ELSE
					BEGIN
						INSERT INTO ##Reg_Instruments_ext 
								([InstrumentID]
								,[InstrumentTypeID]
								,[InstrumentDisplayName]
								,[Symbol]
								,[SymbolFull]
								,[Tradable]
								,[ISINCode]
								,[InstrumentVisible]
								,[BuyCurrencyID]
								,[SellCurrencyID]
								,[ContractExpire]
								,[ExchangeID]
								,[VisibleInternallyOnly]
								,[IsMifid]
								,[IsMifidByFCA]
								,[UpdateDate]
								,[SmsEur]	
                                ,[SiRefreshRateSec]
								,[IsFuture])
						SELECT   EXT.[InstrumentID]
								,EXT.[InstrumentTypeID]
								,EXT.[InstrumentDisplayName]
								,EXT.[Symbol]
								,EXT.[SymbolFull]
								,EXT.[Tradable]
								,EXT.[ISINCode]
								,EXT.[InstrumentVisible]
								,EXT.[BuyCurrencyID]
								,EXT.[SellCurrencyID]
								,EXT.[ContractExpire]
								,EXT.[ExchangeID]
								,EXT.[VisibleInternallyOnly]
								,null [IsMifid]
								,null [IsMifidByFCA]
								,EXT.[UpdateDate]
								,FT.[sms_eur]	
                                ,FT.[si_refresh_rate_sec]
								,EXT.[IsFuture]
						FROM Reg_Instruments_ext EXT with (nolock)
						left join [ThirdParty_Fivetran].[Fivetran].[regtech].[si_reporting_configurations] FT on FT.instrument_id=EXT.[InstrumentID]
					END
					
			CREATE CLUSTERED INDEX ##CI_Reg_Instruments_ext ON   ##Reg_Instruments_ext (InstrumentID,ISINCode)
		
		--	ALTER TABLE #Reg_Instruments_ext ADD  IsMifid INT
			------
			/* Get FIRDS Data  */
			DROP TABLE IF EXISTS #FIRDS_DATA
			CREATE TABLE #FIRDS_DATA (FileDate varchar(20),FileType varchar(1), Id varchar(20),TradingVenue varchar(30),TermntnDt datetime)
		
			INSERT INTO #FIRDS_DATA
			select FileDate ,FileType,Id,TradingVenue,Replace(Replace(isnull(replace(TermntnDt,'9999-12-31T23:59:59.999Z','9999-12-31 00:00:00'),'9999-12-31 00:00:00'),'Z',''),'T' , ' ' )  TermntnDt 
				from 
				(
					select  FileDate,'F' as FileType,Id, TradingVenue,case when TermntnDt = '' then NULL else TermntnDt END TermntnDt
					from /*[RegReportDB_Prod].*/[dbo].[FIRDS_FULINS] with (nolock) 
					where FileDate = @MAX_FIRDS_FULINS_DATE
					--and   Id in  ('DE000A22SH88')
					UNION all
					select  FileDate,FileType, Id,TradingVenue, case when TermntnDt = '' then NULL else TermntnDt END TermntnDt 
					from(	select FileDate,'D'as FileType, Id,TradingVenue, TermntnDt,max(FileDate) over ( partition by Id,TradingVenue) MaxDLTDate
							from /*[RegReportDB_Prod].*/[dbo].[FIRDS_DLTINS_Prev] with (nolock) 
							where FileDate >  @MAX_FIRDS_FULINS_DATE and FileDate <= @MAX_FIRDS_DLTINS_Prev_DATE
								--and Id in  ('DE000A22SH88')
						)a where FileDate=MaxDLTDate
				) a 
		
			CREATE CLUSTERED INDEX #CI_FIRDS_DATA ON #FIRDS_DATA(Id)
			CREATE NONCLUSTERED INDEX #XI_FIRDS_DATA ON #FIRDS_DATA(Id) include (TermntnDt)
			
			DROP TABLE IF EXISTS #FIRDS_ALL
			CREATE TABLE #FIRDS_ALL (Id varchar(20),TermntnDt datetime)
			
			INSERT INTO #FIRDS_ALL
			select distinct Id,max(TermntnDt) over (partition by Id) TermntnDt from (
				SELECT   Id,TradingVenue
				,FileDate
				,TermntnDt
				,max(FileDate) over ( partition by Id,TradingVenue) MaxDLTDate from  #FIRDS_DATA)a
			where FileDate=MaxDLTDate --and Id in  ('DE000A22SH88')
			
			
			CREATE CLUSTERED INDEX #CI_FIRDS_ALL on #FIRDS_ALL(Id)
			CREATE NONCLUSTERED INDEX #XI_FIRDS_ALL on #FIRDS_ALL(Id) include (TermntnDt)
			
			
			DROP TABLE IF EXISTS #FIRDS_Last
			/*Create  table #FIRDS_Last (Id varchar(20),TermntnDt datetime) */
			select Id,TermntnDt
			into #FIRDS_Last
			from  #FIRDS_ALL
			where TermntnDt>Cast(Dateadd(dd,-1,@CurrDate) as datetime)
				
			CREATE NONCLUSTERED INDEX #XI_FIRDS_Last ON [dbo].#FIRDS_Last ([Id])
			
			/* Get FCA Data  */


			DROP TABLE IF EXISTS #FCA_DATA
			CREATE TABLE #FCA_DATA (FileDate varchar(20),FileType varchar(1), Id varchar(20),TradingVenue varchar(30),TermntnDt datetime, FrstTradDt datetime)

			INSERT INTO #FCA_DATA
			select FileDate ,FileType,Id,TradingVenue,Replace(Replace(isnull(replace(TermntnDt,'9999-12-31T23:59:59.999Z','9999-12-31 00:00:00'),'9999-12-31 00:00:00'),'Z',''),'T' , ' ' )  TermntnDt,Replace(Replace(isnull(replace(FrstTradDt,'9999-12-31T23:59:59.999Z','9999-12-31 00:00:00'),'1900-12-31 00:00:00'),'Z',''),'T' , ' ' )  FrstTradDt

			from
				(
					select  FileDate,'F' as FileType,Id, TradingVenue,CASE WHEN TermntnDt = '' THEN NULL ELSE SUBSTRING([TermntnDt],1,19) END TermntnDt,
					CASE WHEN FrstTradDt = '' or FrstTradDt is NULL  THEN NULL ELSE SUBSTRING([FrstTradDt],1,19) END FrstTradDt
					from /*[RegReportDB_Prod].*/[dbo].[FCA_FULINS_Prev] with (nolock)
					where FileDate = @MAX_FCA_FULINS_DATE
					--and   Id in  ('DE000A22SH88')
					UNION all
					select  FileDate,FileType, Id,TradingVenue, CASE WHEN TermntnDt = '' THEN NULL ELSE SUBSTRING([TermntnDt],1,19) END TermntnDt,
					CASE WHEN FrstTradDt = '' or FrstTradDt is NULL  THEN NULL ELSE SUBSTRING([FrstTradDt],1,19) END FrstTradDt
					from(select FileDate,'D'as FileType, Id,TradingVenue, TermntnDt,FrstTradDt,max(FileDate) over ( partition by Id,TradingVenue) MaxDLTDate
							from /*[RegReportDB_Prod].*/[dbo].[FCA_DLTINS_Prev] with (nolock)
							where FileDate >  @MAX_FCA_FULINS_DATE and FileDate <= @MAX_FCA_DLTINS_Prev_DATE
								--and Id in  ('DE000A22SH88')
				)a where FileDate=MaxDLTDate
			) a

			CREATE CLUSTERED INDEX #CI_FCA_DATA ON #FCA_DATA(Id)
			CREATE NONCLUSTERED INDEX #XI_FCA_DATA ON #FCA_DATA(Id) include (TermntnDt)

			DROP TABLE IF EXISTS #FCA_ALL
			CREATE TABLE #FCA_ALL (Id varchar(20),TermntnDt datetime,FrstTradDt datetime )

			INSERT INTO #FCA_ALL
			select distinct Id,max(TermntnDt) over (partition by Id) TermntnDt,
			min(FrstTradDt) over (partition by Id) FrstTradDt from (
				SELECT   Id,TradingVenue
						,FileDate
						,TermntnDt
						,FrstTradDt
						,max(FileDate) over ( partition by Id,TradingVenue) MaxDLTDate from  #FCA_DATA)a
			where FileDate=MaxDLTDate --and Id in  ('DE000A22SH88')


			CREATE CLUSTERED INDEX #CI_FCA_ALL on #FCA_ALL(Id)
			CREATE NONCLUSTERED INDEX #XI_FCA_ALL on #FCA_ALL(Id) include (TermntnDt, FrstTradDt)

			DROP TABLE IF EXISTS #FCA_Last
			select  Id,TermntnDt,FrstTradDt
			INTO #FCA_Last
			from  #FCA_ALL
			where TermntnDt>Cast(Dateadd(dd,0,@CurrDate) as datetime)
			and  FrstTradDt < Cast(Dateadd(dd,1,@CurrDate) as datetime)
			/**/
			UPDATE Ext
			SET IsMifid=case when Fa.Id is null  and   Ext.InstrumentTypeID <>4 then 0 else 1 end
			,IsMifidByFCA=case when FCA.Id is null  and   Ext.InstrumentTypeID <>4 then 0 else 1 end
			--   set IsMifid=case when (Fa.Id is Not null OR (InstrumentTypeID=4 and ISNULL(ISINCode,'')='')) then 1 else 0 end --- Sholud be activated only  whe n MIFID Ver is capable of handling  Indexess 
			FROM ##Reg_Instruments_ext Ext
			LEFT JOIN #FIRDS_Last Fa on Ext.ISINCode=Fa.Id
			LEFT JOIN #FCA_Last FCA on Ext.ISINCode=FCA.Id

			--  instead of update found on row 368  
			UPDATE ##Reg_Instruments_ext
			SET IsMifid=0 
			WHERE	InstrumentID 
				IN ( 6782, 9272 , 3207) 

			-- IsMifid & IsMifidByFCA Override to 1 for specific ins & type  & orverreid InstrumentTypeID  to 4  
			UPDATE ##Reg_Instruments_ext
			SET IsMifid=1 ,IsMifidByFCA=1,InstrumentTypeID=4
			WHERE InstrumentTypeID = 2 and ExchangeID = 3

			--  IsMifidByFCA Override for specific ins & type 
			UPDATE ##Reg_Instruments_ext
			SET IsMifidByFCA=1
			WHERE InstrumentID = 341 

			--  align Empty values to null on ISINCode coll 
			UPDATE ##Reg_Instruments_ext
			SET ISINCode=null
			WHERE upper(ISINCode)='NA' or ltrim(rtrim(ISINCode))='' or upper(ISINCode)='NULL'

			-- -- IsMifid & IsMifidByFCA Override to 1 for 312,313,314 
			UPDATE ##Reg_Instruments_ext
			SET IsMifid=0 ,IsMifidByFCA=0
			WHERE	InstrumentID 
				IN   (312,313,314,1350)

			/* insert New  */
			INSERT INTO [dbo].[Reg_Instruments_SCD]
			(InstrumentID,InstrumentTypeID,InstrumentDisplayName,Symbol,SymbolFull,Tradable,ISINCode,
			InstrumentVisible,BuyCurrencyID,SellCurrencyID,ValidFrom,ValidTo,UpdateDate,IsMifid,IsMifidByFCA,ContractExpire,ExchangeID,VisibleInternallyOnly,SmsEur	,SiRefreshRateSec, IsFuture)
			
			SELECT
				InstrumentID,
				InstrumentTypeID,
				InstrumentDisplayName,
				Symbol,
				SymbolFull,
				Tradable,
				ISINCode,
				InstrumentVisible,
				BuyCurrencyID,
				SellCurrencyID,
				@CurrDate  ValidFrom,
				cast ('9999-12-31' as date) ValidTo,
				GetUtcDate() UpdateDate,
				IsMifid,
				IsMifidByFCA,
				ContractExpire,
				ExchangeID,
				VisibleInternallyOnly,
				SmsEur	,
				SiRefreshRateSec,
				IsFuture
			FROM ##Reg_Instruments_ext
			WHERE InstrumentID NOT IN ( SELECT DISTINCT InstrumentID FROM [dbo].[Reg_Instruments_SCD] )
			
			/* get last rec from  Reg_Instruments  */
			DROP TABLE IF EXISTS #LastRecFound
			
			SELECT InstrumentID,
				max(ValidTo) m_ValidTo,
				case when max(ValidTo)<>cast('9999-12-31' as datetime)  then 1 else 0 end WasClosedInd
			INTO #LastRecFound
			FROM Reg_Instruments_SCD  with (nolock)
			GROUP BY InstrumentID
			
			CREATE CLUSTERED INDEX #CI_LastRecFound ON #LastRecFound(InstrumentID,m_ValidTo)
			
			/* Identify Change */
			DROP TABLE IF EXISTS  #DataForChange
		
			SELECT InstrumentID 
			INTO #DataForChange
			FROM 	(SELECT InstrumentID,InstrumentTypeID,InstrumentDisplayName,Symbol,SymbolFull,Tradable,ISINCode,
							InstrumentVisible,BuyCurrencyID,SellCurrencyID,IsMifid,IsMifidByFCA,ContractExpire,ExchangeID,VisibleInternallyOnly,SmsEur	,SiRefreshRateSec, IsFuture
							FROM ##Reg_Instruments_ext  with (nolock)
					EXCEPT 
					SELECT a.InstrumentID,InstrumentTypeID,InstrumentDisplayName,Symbol,SymbolFull,Tradable,ISINCode,
						InstrumentVisible,BuyCurrencyID,SellCurrencyID,IsMifid,IsMifidByFCA,ContractExpire,ExchangeID,VisibleInternallyOnly,SmsEur	,SiRefreshRateSec, IsFuture
						FROM Reg_Instruments_SCD a  with (nolock)
						JOIN #LastRecFound b  ON a.InstrumentID=b.InstrumentID and a.ValidTo=b.m_ValidTo
					) ch
					
					
			/* close changed Rec */
			UPDATE a
			SET ValidTo=case when WasClosedInd=1 then a.ValidTo else @CurrDate end ,
			UpdateDate=GetUtcDate()
			FROM Reg_Instruments_SCD a
			JOIN #LastRecFound b  ON a.InstrumentID=b.InstrumentID and a.ValidTo=b.m_ValidTo
			WHERE a.InstrumentID in (SELECT InstrumentID FROM #DataForChange)
			
			/* insert new change  */
			insert into Reg_Instruments_SCD
			(InstrumentID,InstrumentTypeID,InstrumentDisplayName,Symbol,SymbolFull,Tradable,ISINCode,
			InstrumentVisible,BuyCurrencyID,SellCurrencyID,ValidFrom,ValidTo,UpdateDate,IsMifid,IsMifidByFCA,ContractExpire,ExchangeID,VisibleInternallyOnly,SmsEur	,SiRefreshRateSec, IsFuture)
			select 
				InstrumentID,
				InstrumentTypeID,
				InstrumentDisplayName,
				Symbol,
				SymbolFull,
				Tradable,
				ISINCode,
				InstrumentVisible,
				BuyCurrencyID,
				SellCurrencyID,
				@CurrDate  ValidFrom,
				cast ('9999-12-31' as date) ValidTo,
				GetDate() UpdateDate,
				IsMifid,
				IsMifidByFCA,
				ContractExpire,
				ExchangeID,
				VisibleInternallyOnly,
				SmsEur,
				SiRefreshRateSec,
				IsFuture
			from ##Reg_Instruments_ext
			where InstrumentID  in (select InstrumentID from #DataForChange)
			
			/* Close removed  from ext */
			UPDATE a
			SET  ValidTo=@CurrDate,
			UpdateDate=GetUtcDate() 
			--select * 
			FROM Reg_Instruments_SCD a  with (nolock)
				JOIN #LastRecFound b  
					ON a.InstrumentID=b.InstrumentID AND a.ValidTo=b.m_ValidTo
				LEFT JOIN ##Reg_Instruments_ext c 
					ON a.InstrumentID=c.InstrumentID
			WHERE c.InstrumentID IS NULL
			
	/*
		-- Nativ 20210820, the next 2 lines are per Iosif's request fro Aug 20/2021
			UPDATE Reg_Instruments_SCD
			SET IsMifid=0 
			WHERE	InstrumentID 
				IN ( 6782, 9272 , 3207)  
				AND @CurrDate >=ValidFrom AND @CurrDate < ValidTo
	*/		 -- cancled by ariel at 20220113 logic moved to Ext 	
				
			IF @IsHistoryRun=1
				BEGIN
					DELETE FROM [Reg_Instruments_SCD_Archive]
					WHERE SnapDate = @CurrDate
				END
				
			-- archive  SCD
			INSERT INTO  [Reg_Instruments_SCD_Archive]
				([InstrumentID],[InstrumentTypeID]
					,[InstrumentDisplayName]
					,[Symbol]
					,[SymbolFull]
					,[Tradable]
					,[ISINCode]
					,[InstrumentVisible]
					,[BuyCurrencyID]
					,[SellCurrencyID]
					,[ValidFrom]
					,[ValidTo]
					,[UpdateDate]
					,[IsMifid]
					,[ContractExpire]
					,[ExchangeID]
					,[VisibleInternallyOnly]
					,[IsMifidByFCA]
					,SnapDate
					,SmsEur
					,SiRefreshRateSec,
					IsFuture)
			SELECT [InstrumentID]
					,[InstrumentTypeID]
					,[InstrumentDisplayName]
					,[Symbol]
					,[SymbolFull]
					,[Tradable]
					,[ISINCode]
					,[InstrumentVisible]
					,[BuyCurrencyID]
					,[SellCurrencyID]
					,[ValidFrom]
					,[ValidTo]
					,[UpdateDate]
					,[IsMifid]
					,[ContractExpire]
					,[ExchangeID]
					,[VisibleInternallyOnly]
					,[IsMifidByFCA]
					,@CurrDate SnapDate
					,SmsEur	
					,SiRefreshRateSec
					,IsFuture
			FROM Reg_Instruments_SCD
			
			IF @IsHistoryRun=0
				BEGIN
					INSERT INTO [Reg_Instruments_ext_Archive]
					SELECT EXT.*, @CurrDate SnapDate ,FT.[sms_eur] ,FT.[si_refresh_rate_sec]
					FROM Reg_Instruments_ext EXT
					left join [ThirdParty_Fivetran].[Fivetran].[regtech].[si_reporting_configurations] FT on FT.instrument_id=EXT.[InstrumentID]
				END
		
			SET @Counter  = @Counter  + 1
			
			IF @IsHistoryRun=1
				BEGIN
					SET @StartSnapDate = DATEADD(DD,1,@StartSnapDate)
				END
			
			
			END
	END
END
