USE [RegReportDB_Prod]
GO
/****** Object:  StoredProcedure [dbo].[SP_RegInRegOutPopulation]    Script Date: 3/10/2026 2:57:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[SP_RegInRegOutPopulation] 
	
AS


/********************************************************************************************
Author:      olegAb
Date:        2022-01-05
Description: RegInRegOutPopulation

**************************
** Change History
**************************
Date          Author       Description   
----------    ----------   ------------------------------------
2022-01-05    olegAb      move RegInRegOut from EMIR and ASIC process
*********************************************************************************************/

BEGIN
SET NOCOUNT ON


DROP TABLE IF EXISTS #Prices_By_Time

SELECT  InstrumentID,Occurred,USDConversionRate, Ask, Bid, AskSpreaded, BidSpreaded
INTO #Prices_By_Time
FROM [dbo].[Reg_CurrencyPrice_Ext]
WHERE InstrumentID IN (SELECT  DISTINCT InstrumentID FROM [dbo].[Reg_Ext_MigrationInOut_STG])

-----
CREATE CLUSTERED INDEX #ix_USD_ConvertionPrice ON #Prices_By_Time (InstrumentID,Occurred) 

-------------------------------------------------------------------
-------------------------------------------------------------------

DROP TABLE IF EXISTS #TRAN_Prices_Draft
SELECT  TD.CID,TD.TransactionID,TD.InstrumentID,B.USDConversionRate,B.AskSpreaded,B.BidSpreaded,B.Ask,B.Bid,TD.Migration_Occurred,B.Occurred,TD.IsBuy
INTO #TRAN_Prices_Draft
FROM [dbo].[Reg_Ext_MigrationInOut_STG]  TD
LEFT JOIN #Prices_By_Time B
	ON  TD.[InstrumentID]=B.[InstrumentID] 
	AND TD.Migration_Occurred=B.Occurred


CREATE NONCLUSTERED INDEX #XI_#TRAN_Prices_Draft  ON #TRAN_Prices_Draft (InstrumentID,AskSpreaded,BidSpreaded,Ask,Bid,Migration_Occurred)
-------------------------------------------------------------------
-------------------------------------------------------------------
ALTER TABLE #TRAN_Prices_Draft 
ADD 
	AskSpreadedRateByMin decimal (16,8),
	BidSpreadedRateByMin decimal (16,8),
	AskRateByMin decimal (16,8),
	BidRateByMin decimal (16,8),
	OccurredByMin datetime,
	AskSpreadedRateByMax decimal (16,8),
	BidSpreadedRateByMax decimal (16,8),
	AskRateByMax decimal (16,8),
	BidRateByMax decimal (16,8),
	OccurredByMax datetime
	
---------------------------------------------------------------------
-- loop fazes when no full match  
---------------------------------------------------------------------
DECLARE @inst1 int
DECLARE @exec_d1 datetime

DECLARE Prices_by_upper_min CURSOR FOR 
	SELECT DISTINCT InstrumentID,Migration_Occurred  
		FROM  #TRAN_Prices_Draft WHERE AskSpreaded IS NULL 
		ORDER BY 1,2

OPEN Prices_by_upper_min
FETCH NEXT FROM Prices_by_upper_min INTO @inst1,@exec_d1
WHILE @@FETCH_STATUS = 0 
BEGIN
UPDATE F 
SET 
AskSpreadedRateByMin=new.AskSpreaded,
BidSpreadedRateByMin=new.BidSpreaded,
AskRateByMin=new.Ask,
BidRateByMin=new.Bid,
OccurredByMin=new.Occurred,
USDConversionRate=new.USDConversionRate

FROM  #TRAN_Prices_Draft F
JOIN 
(
	SELECT b.InstrumentID,a.AskSpreaded,a.BidSpreaded,a.Ask,a.Bid,b.Occurred,a.USDConversionRate
	FROM #Prices_By_Time a
	JOIN (SELECT InstrumentID,MIN(Occurred) Occurred
			FROM #Prices_By_Time 
			WHERE Occurred>= @exec_d1
				AND  InstrumentID=@inst1
			GROUP BY InstrumentID
		) b 
	ON a.InstrumentID=b.InstrumentID AND a.Occurred=b.Occurred
) new
ON new.InstrumentID=F.InstrumentID AND F.Migration_Occurred=@exec_d1
WHERE F.AskSpreaded IS NULL 

print concat('#TRAN_Prices_Draft',' - ',@@Rowcount,' - ',@inst1,' - ',@exec_d1) 

FETCH NEXT FROM Prices_by_upper_min INTO  @inst1,@exec_d1 
END
CLOSE Prices_by_upper_min 
DEALLOCATE Prices_by_upper_min 

----------------------------------------------------------------
DECLARE @inst2 int
DECLARE @exec_d2 datetime

DECLARE Prices_by_upper_max CURSOR FOR 
	SELECT distinct InstrumentID,Migration_Occurred  
	from  #TRAN_Prices_Draft where AskSpreaded is null 
	order by 1,2

OPEN Prices_by_upper_max
FETCH NEXT FROM Prices_by_upper_max INTO @inst2,@exec_d2
WHILE @@FETCH_STATUS = 0 
BEGIN
update F 
set AskSpreadedRateByMax=new.AskSpreaded,
	BidSpreadedRateByMax=new.BidSpreaded,
	AskRateByMax=new.Ask,
	BidRateByMax=new.Bid,
	OccurredByMax=new.Occurred,
	USDConversionRate=new.USDConversionRate

from  #TRAN_Prices_Draft F
join 
(
	select b.InstrumentID,a.AskSpreaded,a.BidSpreaded,a.Ask,a.Bid,b.Occurred,a.USDConversionRate
	from #Prices_By_Time a
	join (select InstrumentID,max(Occurred) Occurred
		FROM #Prices_By_Time 
		where Occurred<= @exec_d2
		and  InstrumentID=@inst2
		group by InstrumentID
	) b 
		on a.InstrumentID=b.InstrumentID and a.Occurred=b.Occurred
) new
	on new.InstrumentID=F.InstrumentID and F.Migration_Occurred=@exec_d2
where F.AskSpreaded is null 
	
print concat('#TRAN_Prices_Draft',' - ',@@Rowcount,' - ',@inst2,' - ',@exec_d2) 

FETCH NEXT FROM Prices_by_upper_max INTO  @inst2,@exec_d2 
END
CLOSE Prices_by_upper_max 
DEALLOCATE Prices_by_upper_max 
----------------------------------------------------------------
----------------------------------------------------------------
DROP TABLE IF EXISTS #Prices_Last
select distinct CID,TransactionID,InstrumentID,Migration_Occurred,
 case when AskSpreaded is not null 
	then  AskSpreaded
 when OccurredByMax is null
	then AskSpreadedRateByMin
 when OccurredByMin is null  
	then AskSpreadedRateByMax 
 when ABS(datediff(ms,Migration_Occurred,OccurredByMin))<ABS(datediff(ms,Migration_Occurred,OccurredByMax))
	then AskSpreadedRateByMin 
 else AskSpreadedRateByMax 
	end NEW_AskSpreaded
 ,
 case when BidSpreaded is not null 
	then  BidSpreaded
 when OccurredByMax is null
	then BidSpreadedRateByMin
 when OccurredByMin is null
	then BidSpreadedRateByMax 
 when ABS(datediff(ms,Migration_Occurred,OccurredByMin))<ABS(datediff(ms,Migration_Occurred,OccurredByMax))
	then BidSpreadedRateByMin 
 else BidSpreadedRateByMax
	end NEW_BidSpreaded,

 case when Ask is not null 
 then  Ask
  when OccurredByMax is null  then AskRateByMin
 when OccurredByMin is null  then AskRateByMax 
 when ABS(datediff(ms,Migration_Occurred,OccurredByMin))<ABS(datediff(ms,Migration_Occurred,OccurredByMax))
 then AskRateByMin 
 else AskRateByMax end NEW_Ask
 ,
 case when Bid is not null 
 then  Bid
 when OccurredByMax is null  then BidRateByMin
 when OccurredByMin is null  then BidRateByMax 
 when ABS(datediff(ms,Migration_Occurred,OccurredByMin))<ABS(datediff(ms,Migration_Occurred,OccurredByMax))
 then BidRateByMin 
 else BidRateByMax end NEW_Bid,
 USDConversionRate

into #Prices_Last
from  #TRAN_Prices_Draft 
----------------------------------------------------------------
----------------------------------------------------------------
  	DROP TABLE IF EXISTS #Prices_EOD
-- for 
	select  [InstrumentID],Occurred,USDConversionRate, Ask, Bid, AskSpreaded, BidSpreaded
	into #Prices_EOD
	FROM [dbo].[Reg_Ext_DailyMaxPrices]
	where InstrumentID in (select  distinct InstrumentID from [dbo].[Reg_Ext_MigrationInOut_STG])
-----
CREATE Clustered INDEX #ix_Prices_EOD ON #Prices_EOD (InstrumentID) 	
--------------------------------------------------------------------
-------------------------------------------------------------------
--Drop  table if exists ##ASIC_RegOutData
INSERT INTO [dbo].[Reg_RegulationInOutDailyData]   ([ReportDate]
      ,[CID]
      ,[RegulationID]
      ,[PrevRegulationID]
      ,[InstrumentID]
      ,[Migration_Occurred]
      ,[TransactionID]
      ,[IsBuy]
      ,[InitForexPriceRateID]
      ,[EndForexPriceRateID]
      ,[ExecutionPrice]
      ,[Quntity]
      ,[ExecutionTime]
      ,[Lei]
      ,[FirstName]
      ,[LastName]
      ,[IsPosition]
      ,[NEW_AskSpreaded]
      ,[NEW_BidSpreaded]
      ,[NEW_Ask]
      ,[NEW_Bid]
      ,[USDConversionRate]
      ,[UpdateDate] )
select DISTINCT
Cast(b.Migration_Occurred as date) as  ReportDate,
b.*,
case when isnumeric(Right (a.TransactionID,1))=1 then 1 else 0 end IsPosition,
COALESCE(a.NEW_AskSpreaded,EOD.AskSpreaded) NEW_AskSpreaded,
COALESCE(a.NEW_BidSpreaded,EOD.BidSpreaded) NEW_BidSpreaded,
COALESCE(a.NEW_Ask,EOD.Ask) NEW_Ask,
COALESCE(a.NEW_Bid,EOD.Bid) NEW_Bid,
COALESCE(a.USDConversionRate,EOD.USDConversionRate) USDConversionRate,
Getdate() UpdateDate
--into ##ASIC_RegOutData
from #Prices_Last a
join 
(select  [CID]
      ,[RegulationID]
      ,[PrevRegulationID]
      ,[InstrumentID]
      ,[Migration_Occurred]
      ,[TransactionID]
      ,[IsBuy]
      ,[InitForexPriceRateID]
      ,[EndForexPriceRateID]
      ,[ExecutionPrice]
      ,[Quntity]
      ,[ExecutionTime]
      ,[Lei]
      ,[FirstName]
      ,[LastName] from [dbo].[Reg_Ext_MigrationInOut_STG]
--union all
--select  * from #OPEN_POS_DATA
) b 
on a.TransactionID=b.TransactionID and a.Migration_Occurred =b.Migration_Occurred
left join #Prices_EOD EOD  on b.InstrumentID=EOD.InstrumentID 

END

